In [1]:
import pandas as pd

In [5]:
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats, get_team_misc

In [ ]:
get_team_stats(team, season_end_year, data_format='PER_GAME')

In [6]:
get_team_stats('GSW', 2020, data_format='PER_GAME')

G              65
MP          241.9
FG           38.6
FGA          88.2
FG%         0.438
3P           10.4
3PA          31.3
3P%         0.334
2P           28.2
2PA          56.9
2P%         0.495
FT           18.7
FTA          23.2
FT%         0.803
ORB            10
DRB          32.9
TRB          42.8
AST          25.6
STL           8.2
BLK           4.6
TOV          14.9
PF           20.1
PTS         106.3
TEAM          GSW
SEASON    2019-20
dtype: object

In [8]:
from basketball_reference_scraper.box_scores import get_box_scores

In [ ]:
get_box_scores(date, team1, team2, period='GAME', stat_type='BASIC')

In [13]:
d = get_box_scores('2020-01-06', 'DEN', 'ATL')

In [20]:
d_columns = list(d['ATL'].columns)

In [21]:
pd.DataFrame(d, columns=d_columns)

Empty DataFrame
Columns: [PLAYER, MP, FG, FGA, FG%, 3P, 3PA, 3P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, +/-]
Index: []

[0 rows x 21 columns]

In [22]:
type(d)

dict

In [30]:
d['DEN']

,PLAYER,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
0,Nikola Jokić,36:50,16,25,.640,4,8,.500,11,16,...,4,4,8,5,2,1,0,3,47,0
1,Will Barton,36:31,12,20,.600,3,6,.500,1,1,...,2,7,9,5,0,1,1,3,28,+4
2,Gary Harris,36:02,2,12,.167,0,6,.000,0,0,...,0,3,3,1,0,0,0,3,4,-10
3,Jamal Murray,34:29,6,13,.462,1,2,.500,3,4,...,0,5,5,8,1,1,1,2,16,+9
4,Paul Millsap,23:33,0,3,.000,0,2,.000,2,2,...,0,4,4,1,1,0,1,4,2,-10
5,Jerami Grant,22:11,2,5,.400,0,2,.000,2,3,...,0,4,4,1,0,0,0,4,6,+12
6,Michael Porter,20:03,2,3,.667,0,0,NaN,0,0,...,1,2,3,2,0,2,1,2,4,+17
7,Monte Morris,19:11,6,9,.667,1,1,1.000,1,1,...,0,4,4,2,0,0,0,1,14,+10
8,Mason Plumlee,11:10,1,2,.500,0,0,NaN,0,0,...,0,1,1,2,0,1,0,1,2,+8
9,Malik Beasley,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,...,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play
10,PJ Dozier,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,...,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play
11,Torrey Craig,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,...,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play
12,Juan Hernangómez,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,...,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play
13,Team Totals,240,47,92,.511,9,27,.333,20,27,...,7,34,41,27,4,6,4,23,123,NaN

In [32]:
type(d['ATL'])

pandas.core.frame.DataFrame