In [8]:
#import dependencies
import sqlalchemy
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
# postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
#                 .format(username='postgres',
#                         password='postgres',
#                         ipaddress='localhost',
#                         port=5432,
#                         dbname='flask_deploy'))

postgres_str = 'postgres://umydthrhevlwbv:a166611fc4fda747769900bb51cfb8cbd633cebe3ec13fdfc2180772a9d3bc8d@ec2-18-204-101-137.compute-1.amazonaws.com:5432/d9ugm948kmolua'



# Create the connection
engine = create_engine(postgres_str)
cnx = engine.connect()

In [11]:
pd.set_option('display.max_rows', 10)

In [15]:
box_score_df = pd.read_sql("""
SELECT * FROM box_score_2021
""", con=engine)

In [16]:
box_score_df['DATE'] = pd.to_datetime(box_score_df['DATE'])

In [17]:
#don't need?
#box_score_df_2 = box_score_df.loc[box_score_df['DATE'] >= '2021-01-02']

In [20]:
df_2 = box_score_df.copy()

In [21]:
df_2 = df_2[['ID', 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away']]

In [22]:
df_2['DATE'] = pd.to_datetime(df_2['DATE'])  

#necessary to have this here.

In [24]:
df_2.tail(5)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
429,430,2021-02-19,MEM,DET,109,95,14,1,0.467,0.870,0.250,20,49,0.419,0.692,0.311,27,45
430,431,2021-02-19,MIL,OKC,98,85,13,1,0.407,0.680,0.324,23,61,0.365,0.524,0.300,20,46
431,432,2021-02-19,NOP,PHO,114,132,-18,0,0.512,0.792,0.344,28,37,0.580,0.667,0.564,38,37
432,433,2021-02-19,MIN,TOR,81,86,-5,0,0.386,0.727,0.237,24,43,0.329,0.818,0.300,16,51
433,434,2021-02-19,LAC,UTA,116,112,4,1,0.483,0.909,0.333,22,45,0.477,0.857,0.353,13,38

len(df_into_season) + len(df_second)

TUTORIAL

```python
#already rean so read this
#run this to include abbreviations
for ind in sample_df.index:
    visitor = sample_df['VISITOR_TEAM_ID'][ind]
    home = sample_df['HOME_TEAM_ID'][ind]
    sample_df['VISITOR_ABBR'][ind] = team_to_abbreviation[visitor]
    sample_df['HOME_ABBR'][ind] = team_to_abbreviation[home]
```

In [35]:
Tutorial, how to make a normalized list for plotting:

```python

margin_list = calculated_df2['margin'].tolist()
max(margin_list)
11.594047619047627
norm = [float(i)/max(margin_list) for i in margin_list]
calculated_df2['normMargin'] = norm
```

In [25]:
df_into_season = df_2.copy()
df_into_season['DATE'] = pd.to_datetime(df_into_season['DATE'])

In [26]:
df_into_season

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,GSW,125,99,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47
1,2,2020-12-22,LAL,LAC,109,116,-7,0,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40
2,3,2020-12-23,CLE,CHO,121,114,7,1,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32
3,4,2020-12-23,IND,NYK,121,107,14,1,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40
4,5,2020-12-23,ORL,MIA,113,107,6,1,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,430,2021-02-19,MEM,DET,109,95,14,1,0.467,0.870,0.250,20,49,0.419,0.692,0.311,27,45
430,431,2021-02-19,MIL,OKC,98,85,13,1,0.407,0.680,0.324,23,61,0.365,0.524,0.300,20,46
431,432,2021-02-19,NOP,PHO,114,132,-18,0,0.512,0.792,0.344,28,37,0.580,0.667,0.564,38,37
432,433,2021-02-19,MIN,TOR,81,86,-5,0,0.386,0.727,0.237,24,43,0.329,0.818,0.300,16,51
433,434,2021-02-19,LAC,UTA,116,112,4,1,0.483,0.909,0.333,22,45,0.477,0.857,0.353,13,38

In [27]:
empty_home_winning_percentage = []
empty_away_winning_percentage = []
home_team_wins = 0
home_team_loss = 0
away_team_wins = 0
away_team_loss = 0
for ind in df_into_season.index:
    if ind > 77:
        home_team_wins = 0
        home_team_loss = 0
        away_team_wins = 0
        away_team_loss = 0
        date = df_into_season['DATE'][ind]
        home_team_abbr = df_into_season['HOME_ABBR'][ind]
        visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
        home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
        mask = (df_into_season['DATE'] < date)
        new_ = df_into_season.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
        for ind in home_df2.index:
            home_team_wins_home_df2 = home_df2['HOME_TEAM_WINS'][ind]
            if home_team_wins_home_df2 == 1:
                home_team_wins = home_team_wins + 1
            else:
                home_team_loss = home_team_loss + 1
        for ind in home_as_visitor_df2.index:
            home_team_wins_visitor_df2 = home_as_visitor_df2['HOME_TEAM_WINS'][ind]
            if home_team_wins_visitor_df2 == 0:
                home_team_wins = home_team_wins + 1
            else:
                home_team_loss = home_team_loss + 1
    
        for ind in visitor_df2.index:
            home_team_wins_visitor_df2 = visitor_df2['HOME_TEAM_WINS'][ind]
#     print(visitor_df2['HOME_TEAM_WINS'][ind])
            if home_team_wins_visitor_df2 == 0:
                away_team_wins = away_team_wins + 1
            else:
                away_team_loss = away_team_loss + 1
        for ind in visitor_as_home_df2.index:
            home_team_wins_visitor_as_home_df2 = visitor_as_home_df2['HOME_TEAM_WINS'][ind]
            if home_team_wins_visitor_as_home_df2 == 1:
                away_team_wins = away_team_wins + 1
            else:
                away_team_loss = away_team_loss + 1            
        total_home_team_games = home_team_wins + home_team_loss
        total_away_team_games = away_team_wins + away_team_loss
        home_winning_percentage = home_team_wins / total_home_team_games
        away_winning_percentage = away_team_wins / total_away_team_games
        empty_home_winning_percentage.append(home_winning_percentage)
        empty_away_winning_percentage.append(away_winning_percentage)

In [28]:
import numpy as np
length_beg_arr = len(df_into_season) - len(empty_away_winning_percentage)
arr = np.arange(78)
arr[:] = 0.0 
arr = arr.tolist()
empty_away_winning_percentage = arr + empty_away_winning_percentage
empty_home_winning_percentage = arr + empty_home_winning_percentage

In [29]:
df_into_season['home_winning_percentage'] = empty_home_winning_percentage
df_into_season['visitor_winning_percentage'] = empty_away_winning_percentage

In [30]:
df_into_season

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,1,2020-12-22,BRK,GSW,125,99,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47,0.000000,0.000000
1,2,2020-12-22,LAL,LAC,109,116,-7,0,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40,0.000000,0.000000
2,3,2020-12-23,CLE,CHO,121,114,7,1,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32,0.000000,0.000000
3,4,2020-12-23,IND,NYK,121,107,14,1,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40,0.000000,0.000000
4,5,2020-12-23,ORL,MIA,113,107,6,1,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,430,2021-02-19,MEM,DET,109,95,14,1,0.467,0.870,0.250,20,49,0.419,0.692,0.311,27,45,0.520000,0.285714
430,431,2021-02-19,MIL,OKC,98,85,13,1,0.407,0.680,0.324,23,61,0.365,0.524,0.300,20,46,0.600000,0.428571
431,432,2021-02-19,NOP,PHO,114,132,-18,0,0.512,0.792,0.344,28,37,0.580,0.667,0.564,38,37,0.428571,0.592593
432,433,2021-02-19,MIN,TOR,81,86,-5,0,0.386,0.727,0.237,24,43,0.329,0.818,0.300,16,51,0.241379,0.482759
433,434,2021-02-19,LAC,UTA,116,112,4,1,0.483,0.909,0.333,22,45,0.477,0.857,0.353,13,38,0.709677,0.827586

In [31]:
# create dataframe with respective columns
# turn this into a dictionary to add to the rows that have 0.0 for winning_percentage
team_abbr = df_into_season['HOME_ABBR'].unique()
team_abbr = team_abbr.tolist()
team_abbr_df = pd.DataFrame(team_abbr)
team_abbr_df.rename(columns={0:'team_abbr'}, inplace=True)
team_abbr_df['winning_percentage'] = 0.0

In [32]:
team_winning_dict = dict(zip(team_abbr_df['team_abbr'], team_abbr_df['winning_percentage']))

In [33]:
for ind in df_into_season.index:
    abbr = df_into_season['HOME_ABBR'][ind]
    winning_percentage = df_into_season['home_winning_percentage'][ind]
    team_winning_dict[abbr] = winning_percentage

In [110]:
team_winning_dict['BRK'].item()

0.5384615384615384

In [34]:
team_winning_dict

{'BRK': 0.5555555555555556,
 'LAL': 0.7241379310344828,
 'CLE': 0.3448275862068966,
 'IND': 0.5185185185185185,
 'ORL': 0.4,
 'PHI': 0.6666666666666666,
 'TOR': 0.46153846153846156,
 'BOS': 0.5172413793103449,
 'CHI': 0.4444444444444444,
 'MEM': 0.52,
 'MIN': 0.2413793103448276,
 'DEN': 0.5769230769230769,
 'POR': 0.6,
 'PHO': 0.6153846153846154,
 'MIA': 0.4166666666666667,
 'MIL': 0.6,
 'CHO': 0.48148148148148145,
 'DET': 0.2962962962962963,
 'WAS': 0.34615384615384615,
 'NYK': 0.4827586206896552,
 'SAS': 0.5833333333333334,
 'UTA': 0.8214285714285714,
 'SAC': 0.4444444444444444,
 'LAC': 0.7096774193548387,
 'NOP': 0.42857142857142855,
 'ATL': 0.48,
 'OKC': 0.46153846153846156,
 'DAL': 0.4444444444444444,
 'HOU': 0.4583333333333333,
 'GSW': 0.5517241379310345}

In [35]:
for ind in df_into_season.head().index:
    home_abbr = df_into_season['HOME_ABBR'][ind]
    away_abbr = df_into_season['VISITOR_ABBR'][ind]
    if df_into_season['home_winning_percentage'][ind] == 0:
        df_into_season['home_winning_percentage'][ind] = team_winning_dict[home_abbr].item()
        df_into_season['visitor_winning_percentage'][ind] = team_winning_dict[away_abbr].item()

<ipython-input-35-08629d62006c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_into_season['home_winning_percentage'][ind] = team_winning_dict[home_abbr].item()
<ipython-input-35-08629d62006c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_into_season['visitor_winning_percentage'][ind] = team_winning_dict[away_abbr].item()

In [36]:
df_into_season

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,1,2020-12-22,BRK,GSW,125,99,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47,0.555556,0.551724
1,2,2020-12-22,LAL,LAC,109,116,-7,0,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40,0.724138,0.709677
2,3,2020-12-23,CLE,CHO,121,114,7,1,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32,0.344828,0.481481
3,4,2020-12-23,IND,NYK,121,107,14,1,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40,0.518519,0.482759
4,5,2020-12-23,ORL,MIA,113,107,6,1,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43,0.400000,0.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,430,2021-02-19,MEM,DET,109,95,14,1,0.467,0.870,0.250,20,49,0.419,0.692,0.311,27,45,0.520000,0.285714
430,431,2021-02-19,MIL,OKC,98,85,13,1,0.407,0.680,0.324,23,61,0.365,0.524,0.300,20,46,0.600000,0.428571
431,432,2021-02-19,NOP,PHO,114,132,-18,0,0.512,0.792,0.344,28,37,0.580,0.667,0.564,38,37,0.428571,0.592593
432,433,2021-02-19,MIN,TOR,81,86,-5,0,0.386,0.727,0.237,24,43,0.329,0.818,0.300,16,51,0.241379,0.482759
433,434,2021-02-19,LAC,UTA,116,112,4,1,0.483,0.909,0.333,22,45,0.477,0.857,0.353,13,38,0.709677,0.827586

In [37]:
df_into_season.to_sql('all_for_ml_test', engine, if_exists='replace', index=False)

In [38]:
with engine.connect() as con:
    con.execute('ALTER TABLE all_for_ml_test ADD PRIMARY KEY ("ID");')