In [2]:
import pandas as pd
box_score_prev = pd.read_csv('scraped_box_scores/box_score_to_feb_26.csv')

In [3]:
pwd

'/Users/stanleytan/Documents/ucb/ucb_/33-prev_projects/stack/4-Project/inclass/3rd_project_tied_4th/first_step/machine_learning_nba/1-webscraper'

In [4]:
box_score_prev.head()

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56

In [9]:
user_input = input("Using the previous box_scores to get the next set of boxscores: \
see NBA schedule in the binder")

Using the previous box_scores to get the next set of boxscores: see NBA schedule in the binder

In [23]:
# # adding winning_percentage which is unnecessary

# team_to_abbreviation = {
#     "ATLANTA HAWKS" : "ATL",
#     "ST. LOUIS HAWKS" : "SLH",
#     "MILWAUKEE HAWKS" : "MIL",
#     "TRI-CITIES BLACKHAWKS" : "TCB",
#     "BOSTON CELTICS" : "BOS",
#     "BROOKLYN NETS" : "BRK",
#     "NEW JERSEY NETS" : "NJN",
#     "CHICAGO BULLS" : "CHI",
#     "CHARLOTTE HORNETS": "CHO",
#     "CHARLOTTE BOBCATS" : "CHA",
#     "CLEVELAND CAVALIERS": "CLE",
#     "DALLAS MAVERICKS" : "DAL",
#     "DENVER NUGGETS" : "DEN",
#     "DETROIT PISTONS" : "DET",
#     "FORT WAYNE PISTONS" : "FWP",
#     "GOLDEN STATE WARRIORS" : "GSW",
#     "SAN FRANCISCO WARRIORS" : "SFW",
#     "PHILADELPHIA WARRIORS" : "PHI",
#     "HOUSTON ROCKETS" : "HOU",
#     "INDIANA PACERS" : "IND",
#     "LOS ANGELES CLIPPERS" : "LAC",
#     "SAN DIEGO CLIPPERS" : "SDC",
#     "BUFFALO BRAVES" : "BUF",
#     "LOS ANGELES LAKERS" : "LAL",
#     "MINNEAPOLIS LAKERS" : "MIN",
#     "MEMPHIS GRIZZLIES" : "MEM",
#     "VANCOUVER GRIZZLIES" : 'VAN',
#     "MIAMI HEAT" : "MIA",
#     "MILWAUKEE BUCKS" : "MIL",
#     "MINNESOTA TIMBERWOLVES" : "MIN",
#     "NEW ORLEANS PELICANS" : "NOP",
#     "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
#     "NEW ORLEANS HORNETS" : "NOH",
#     "NEW YORK KNICKS" : "NYK",
#     "OKLAHOMA CITY THUNDER" : "OKC",
#     "SEATTLE SUPERSONICS" : "SEA",
#     "ORLANDO MAGIC" : "ORL",
#     "PHILADELPHIA 76ERS" : "PHI",
#     "SYRACUSE NATIONALS" : "SYR",
#     "PHOENIX SUNS" : "PHO",
#     "PORTLAND TRAIL BLAZERS" : "POR",
#     "SACRAMENTO KINGS" : "SAC",
#     "KANSAS CITY KINGS" : "KCK",
#     "KANSAS CITY-OMAHA KINGS" : "KCK",
#     "CINCINNATI ROYALS" : "CIN",
#     "ROCHESTER ROYALS" : "ROR",
#     "SAN ANTONIO SPURS" : "SAS",
#     "TORONTO RAPTORS" : "TOR",
#     "UTAH JAZZ" : "UTA",
#     "NEW ORLEANS JAZZ" : "NOJ",
#     "WASHINGTON WIZARDS" : "WAS",
#     "WASHINGTON BULLETS" : "WAS",
#     "CAPITAL BULLETS" : "CAP",
#     "BALTIMORE BULLETS" : "BAL",
#     "CHICAGO ZEPHYRS" : "CHI",
#     "CHICAGO PACKERS" : "CHI",
#     "ANDERSON PACKERS" : "AND",
#     "CHICAGO STAGS" : "CHI",
#     "INDIANAPOLIS OLYMPIANS" : "IND",
#     "SHEBOYGAN RED SKINS" : "SRS",
#     "ST. LOUIS BOMBERS" : "SLB",
#     "WASHINGTON CAPITOLS" : "WAS",
#     "WATERLOO HAWKS" : "WAT"
# }
# test_ = pd.DataFrame.from_dict(team_to_abbreviation.items())
# list_ = test_[1].tolist()
# wins_ = dict.fromkeys(list_, 0)
# lost_ = dict.fromkeys(list_, 0)

# # adding winning percentage for another
# # df = pd.read_csv('old_data/abbr_games.csv')

# box_score_prev["DATE"]= pd.to_datetime(box_score_prev["DATE"])
# box_score_prev['PTS_home'] = pd.to_numeric(box_score_prev['PTS_home'])
# box_score_prev['PTS_away'] = pd.to_numeric(box_score_prev['PTS_away'])
# box_score_prev['MARGIN'] = pd.to_numeric(box_score_prev['MARGIN'])
# box_score_prev['HOME_TEAM_WINS'] = pd.to_numeric(box_score_prev['HOME_TEAM_WINS'])
# box_score_prev['FG_PCT_home'] = pd.to_numeric(box_score_prev['FG_PCT_home'])
# box_score_prev['FT_PCT_home'] = pd.to_numeric(box_score_prev['FT_PCT_home'])
# box_score_prev['FG3_PCT_home'] = pd.to_numeric(box_score_prev['FG3_PCT_home'])
# box_score_prev['AST_home'] = pd.to_numeric(box_score_prev['AST_home'])
# box_score_prev['REB_home'] = pd.to_numeric(box_score_prev['REB_home'])
# box_score_prev['FG_PCT_away'] = pd.to_numeric(box_score_prev['FG_PCT_away'])
# box_score_prev['FT_PCT_away'] = pd.to_numeric(box_score_prev['FT_PCT_away'])
# box_score_prev['FG3_PCT_away'] = pd.to_numeric(box_score_prev['FG3_PCT_away'])
# box_score_prev['AST_away'] = pd.to_numeric(box_score_prev['AST_away'])
# box_score_prev['REB_away'] = pd.to_numeric(box_score_prev['REB_away'])

# box_score_prev = box_score_prev.reset_index(drop=True)

# home_winning_percentage_list = []
# visitor_winning_percentage_list = []
# for ind in box_score_prev.index:
#     home_abbr = box_score_prev.loc[ind]['HOME_ABBR']
#     visitor_abbr = box_score_prev.loc[ind]['VISITOR_ABBR']
#     home_team_wins = box_score_prev.loc[ind]['HOME_TEAM_WINS']
#     if home_team_wins > 0:
#         wins_[home_abbr] += 1
#         lost_[visitor_abbr] += 1
#     else:
#         lost_[home_abbr] += 1
#         wins_[visitor_abbr] += 1
#     total_games_home_abbr = wins_[home_abbr] + lost_[home_abbr]
#     total_games_visitor_abbr = wins_[visitor_abbr] + lost_[visitor_abbr]
#     home_winning_percentage = wins_[home_abbr] / total_games_home_abbr
#     visitor_winning_percentage = wins_[visitor_abbr] / total_games_visitor_abbr
#     home_winning_percentage_list.append(home_winning_percentage)
#     visitor_winning_percentage_list.append(visitor_winning_percentage)
# box_score_prev['home_winning_percentage'] = home_winning_percentage_list
# box_score_prev['visitor_winning_percentage'] = visitor_winning_percentage_list

In [43]:
box_score_prev

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,2022-02-24,CHI,ATL,112,108,4,1,0.488,0.815,0.296,16,43,0.423,0.667,0.286,20,45
886,2022-02-24,MIN,MEM,119,114,5,1,0.462,0.680,0.381,26,42,0.388,0.725,0.290,25,59
887,2022-02-24,OKC,PHO,104,124,-20,0,0.473,0.909,0.194,22,42,0.535,0.905,0.382,32,43
888,2022-02-24,POR,GSW,95,132,-37,0,0.397,0.828,0.257,16,31,0.511,0.844,0.366,36,46
889,2022-02-24,SAC,DEN,110,128,-18,0,0.500,0.833,0.310,25,34,0.558,0.850,0.429,30,39

In [5]:
box_score_prev["DATE"]= pd.to_datetime(box_score_prev["DATE"])
box_score_prev['PTS_home'] = pd.to_numeric(box_score_prev['PTS_home'])
box_score_prev['PTS_away'] = pd.to_numeric(box_score_prev['PTS_away'])
box_score_prev['MARGIN'] = pd.to_numeric(box_score_prev['MARGIN'])
box_score_prev['HOME_TEAM_WINS'] = pd.to_numeric(box_score_prev['HOME_TEAM_WINS'])
box_score_prev['FG_PCT_home'] = pd.to_numeric(box_score_prev['FG_PCT_home'])
box_score_prev['FT_PCT_home'] = pd.to_numeric(box_score_prev['FT_PCT_home'])
box_score_prev['FG3_PCT_home'] = pd.to_numeric(box_score_prev['FG3_PCT_home'])
box_score_prev['AST_home'] = pd.to_numeric(box_score_prev['AST_home'])
box_score_prev['REB_home'] = pd.to_numeric(box_score_prev['REB_home'])
box_score_prev['FG_PCT_away'] = pd.to_numeric(box_score_prev['FG_PCT_away'])
box_score_prev['FT_PCT_away'] = pd.to_numeric(box_score_prev['FT_PCT_away'])
box_score_prev['FG3_PCT_away'] = pd.to_numeric(box_score_prev['FG3_PCT_away'])
box_score_prev['AST_away'] = pd.to_numeric(box_score_prev['AST_away'])
box_score_prev['REB_away'] = pd.to_numeric(box_score_prev['REB_away'])

In [6]:
box_score_prev

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,2022-02-25,NYK,MIA,100,115,-15,0,0.400,0.722,0.350,19,45,0.470,0.743,0.344,22,44
895,2022-02-25,MIN,PHI,102,133,-31,0,0.419,0.840,0.231,23,41,0.512,0.833,0.487,30,42
896,2022-02-25,PHO,NOP,102,117,-15,0,0.439,0.750,0.300,23,37,0.437,0.805,0.276,21,53
897,2022-02-25,UTA,DAL,114,109,5,1,0.541,0.818,0.421,22,44,0.477,1.000,0.436,22,30
898,2022-02-25,LAL,LAC,102,105,-3,0,0.419,0.762,0.258,18,47,0.494,0.684,0.385,25,47

In [9]:
schedule_df = pd.read_csv('schedule_2022.csv')

In [8]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2021-10-19,Brooklyn Nets,104.0,Milwaukee Bucks,127.0
1,2021-10-19,Golden State Warriors,121.0,Los Angeles Lakers,114.0
2,2021-10-20,Indiana Pacers,122.0,Charlotte Hornets,123.0
3,2021-10-20,Chicago Bulls,94.0,Detroit Pistons,88.0
4,2021-10-20,Boston Celtics,134.0,New York Knicks,138.0
...,...,...,...,...,...
1225,2022-04-10,Los Angeles Lakers,0.0,Denver Nuggets,0.0
1226,2022-04-10,San Antonio Spurs,0.0,Dallas Mavericks,0.0
1227,2022-04-10,Milwaukee Bucks,0.0,Cleveland Cavaliers,0.0
1228,2022-04-10,Washington Wizards,0.0,Charlotte Hornets,0.0
1229,2022-04-10,Indiana Pacers,0.0,Brooklyn Nets,0.0

In [28]:
user_input = input('required to get the dates to add to the box_scores')

required to get the dates to add to the box_scores

In [13]:
schedule_df = schedule_df.loc[schedule_df['DATE'] == '2022-02-27']

In [14]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

schedule_df['HOME_ABBR'] = 0
schedule_df['VISITOR_ABBR'] = 0

for ind in schedule_df.index: 
    schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
    schedule_df['HOME'][ind] =schedule_df['HOME'][ind].upper()
    schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
    schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]

<ipython-input-14-378933caafdb>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_ABBR'] = 0
<ipython-input-14-378933caafdb>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR_ABBR'] = 0
<ipython-input-14-378933caafdb>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
/Users/stanleytan/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-14-378933caafdb>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME'][ind] =schedule_df['HOME'][ind].upper()
<ipython-input-14-378933caafdb>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
/Users/stanleytan/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/stanleytan/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:1221: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value
<ipython-input-14-378933caafdb>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]

In [15]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,HOME_ABBR,VISITOR_ABBR
906,2022-02-27,PHILADELPHIA 76ERS,0.0,NEW YORK KNICKS,0.0,NYK,PHI
907,2022-02-27,UTAH JAZZ,0.0,PHOENIX SUNS,0.0,PHO,UTA
908,2022-02-27,BOSTON CELTICS,0.0,INDIANA PACERS,0.0,IND,BOS
909,2022-02-27,DETROIT PISTONS,0.0,CHARLOTTE HORNETS,0.0,CHO,DET
910,2022-02-27,LOS ANGELES CLIPPERS,0.0,HOUSTON ROCKETS,0.0,HOU,LAC
911,2022-02-27,DALLAS MAVERICKS,0.0,GOLDEN STATE WARRIORS,0.0,GSW,DAL
912,2022-02-27,DENVER NUGGETS,0.0,PORTLAND TRAIL BLAZERS,0.0,POR,DEN
913,2022-02-27,NEW ORLEANS PELICANS,0.0,LOS ANGELES LAKERS,0.0,LAL,NOP

In [16]:
box_score_columns = box_score_columns = [ 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away']
box_score_df = pd.DataFrame(columns=box_score_columns)


from basketball_reference_scraper.box_scores import get_box_scores

import time
for ind in schedule_df.index:
    date_1 = schedule_df.loc[ind]['DATE']
    home_1 = schedule_df.loc[ind]['HOME_ABBR']
    visitor_1 = schedule_df.loc[ind]['VISITOR_ABBR']
    dict_ = get_box_scores(date_1, visitor_1, home_1, period='GAME', stat_type='BASIC')
    home_df = dict_[home_1]
    visitor_df = dict_[visitor_1]
    #id_ = schedule_df.loc[ind]['ID']
    #unsure why the ID is required
    home_pts = home_df.loc[home_df['PLAYER'] == 'Team Totals']['PTS'].iloc[0]
    visitor_pts = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['PTS'].iloc[0]
    margin_ = int(home_pts) - int(visitor_pts)
    if margin_ > 0:
        home_team_wins = 1
    else:
        home_team_wins = 0
    home_fg_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FG%'].iloc[0]
    home_ft_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FT%'].iloc[0]
    home_fg3_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['3P%'].iloc[0]
    home_ast = home_df.loc[home_df['PLAYER'] == 'Team Totals']['AST'].iloc[0]
    home_reb = home_df.loc[home_df['PLAYER'] == 'Team Totals']['TRB'].iloc[0]
    visitor_fg_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['FG%'].iloc[0]
    visitor_ft_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['FT%'].iloc[0]
    visitor_fg3_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['3P%'].iloc[0]
    visitor_ast = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['AST'].iloc[0]
    visitor_reb = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['TRB'].iloc[0]
    empty_ = []
    #empty_.append(id_)
#ID unsure why that is required
    empty_.append(date_1)
#DATE
    empty_.append(home_1)
#home abbr
    empty_.append(visitor_1)
#visito abbr
    empty_.append(home_pts)
#home pints
    empty_.append(visitor_pts)
#away points
    empty_.append(margin_)
#margin
    empty_.append(home_team_wins)
#HOME_TEAM_WINS
    empty_.append(home_fg_pct)
#FG_PCT
    empty_.append(home_ft_pct)
#FT_PCT
    empty_.append(home_fg3_pct)
#FG3_PCT
    empty_.append(home_ast)
#AST
    empty_.append(home_reb)
#REBOUNDS
    empty_.append(visitor_fg_pct)
#FG_PCT
    empty_.append(visitor_ft_pct)
#FT_PCT
    empty_.append(visitor_fg3_pct)
#FG3
    empty_.append(visitor_ast)
#AST
    empty_.append(visitor_reb)
#REBOUNDS
    length_of_df = len(box_score_df)
    box_score_df.loc[length_of_df] = empty_
    print(empty_)

['2022-02-27', 'NYK', 'PHI', '109', '125', -16, 0, '.447', '.629', '.333', '21', '47', '.487', '.886', '.303', '28', '43']
['2022-02-27', 'PHO', 'UTA', '114', '118', -4, 0, '.512', '.813', '.464', '24', '36', '.468', '.650', '.425', '23', '41']
['2022-02-27', 'IND', 'BOS', '128', '107', 21, 1, '.522', '.850', '.515', '25', '49', '.429', '.850', '.279', '25', '40']
['2022-02-27', 'CHO', 'DET', '126', '127', -1, 0, '.506', '.676', '.419', '25', '46', '.455', '.722', '.350', '30', '54']
['2022-02-27', 'HOU', 'LAC', '98', '99', -1, 0, '.380', '.611', '.405', '26', '37', '.442', '.714', '.324', '18', '59']
['2022-02-27', 'GSW', 'DAL', '101', '107', -6, 0, '.429', '.600', '.282', '27', '44', '.500', '.800', '.382', '16', '45']
['2022-02-27', 'POR', 'DEN', '92', '124', -32, 0, '.374', '.692', '.167', '22', '42', '.512', '.774', '.324', '28', '55']
['2022-02-27', 'LAL', 'NOP', '95', '123', -28, 0, '.417', '.900', '.206', '15', '38', '.511', '.640', '.433', '29', '51']

In [17]:
box_score_combined = pd.concat([box_score_prev, box_score_df])

In [18]:
box_score_combined["DATE"]= pd.to_datetime(box_score_combined["DATE"])

In [19]:
box_score_combined.to_csv('scraped_box_scores/box_score_to_feb_27.csv', index=False)

In [55]:
box_score_combined

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.44,0.565,0.531,19,44
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50
2,2021-10-20,CHO,IND,123,122,1,1,0.43,0.667,0.419,29,46,0.467,0.875,0.362,29,51
3,2021-10-20,DET,CHI,88,94,-6,0,0.4,0.769,0.214,17,47,0.43,0.867,0.304,18,48
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.41,0.739,0.368,34,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2022-02-25,NYK,MIA,100,115,-15,0,.400,.722,.350,19,45,.470,.743,.344,22,44
5,2022-02-25,MIN,PHI,102,133,-31,0,.419,.840,.231,23,41,.512,.833,.487,30,42
6,2022-02-25,PHO,NOP,102,117,-15,0,.439,.750,.300,23,37,.437,.805,.276,21,53
7,2022-02-25,UTA,DAL,114,109,5,1,.541,.818,.421,22,44,.477,1.000,.436,22,30
8,2022-02-25,LAL,LAC,102,105,-3,0,.419,.762,.258,18,47,.494,.684,.385,25,47

In [24]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2022-02-24,DET,CLE,106,103,3,1,.407,.893,.324,23,49,.442,.676,.343,20,42
1,2022-02-24,BRK,BOS,106,129,-23,0,.415,.750,.241,25,38,.541,.741,.405,28,48
2,2022-02-24,CHI,ATL,112,108,4,1,.488,.815,.296,16,43,.423,.667,.286,20,45
3,2022-02-24,MIN,MEM,119,114,5,1,.462,.680,.381,26,42,.388,.725,.290,25,59
4,2022-02-24,OKC,PHO,104,124,-20,0,.473,.909,.194,22,42,.535,.905,.382,32,43
5,2022-02-24,POR,GSW,95,132,-37,0,.397,.828,.257,16,31,.511,.844,.366,36,46
6,2022-02-24,SAC,DEN,110,128,-18,0,.500,.833,.310,25,34,.558,.850,.429,30,39