In [1]:
import pandas as pd
box_score_df = pd.read_csv('scraped_box_scores/03_01_box_score.csv')

In [2]:
pwd

'/Users/stanleytan/Documents/ucb/ucb_/33-prev_projects/stack/4-Project/inclass/3rd_project_tied_4th/first_step/machine_learning_nba/1-webscraper'

In [3]:
user_input = input('required to get the latest boxscores')

required to get the latest boxscores

In [4]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}
test_ = pd.DataFrame.from_dict(team_to_abbreviation.items())
list_ = test_[1].tolist()
wins_ = dict.fromkeys(list_, 0)
lost_ = dict.fromkeys(list_, 0)

# adding winning percentage for another
# df = pd.read_csv('old_data/abbr_games.csv')

box_score_df["DATE"]= pd.to_datetime(box_score_df["DATE"])
box_score_df['PTS_home'] = pd.to_numeric(box_score_df['PTS_home'])
box_score_df['PTS_away'] = pd.to_numeric(box_score_df['PTS_away'])
box_score_df['MARGIN'] = pd.to_numeric(box_score_df['MARGIN'])
box_score_df['HOME_TEAM_WINS'] = pd.to_numeric(box_score_df['HOME_TEAM_WINS'])
box_score_df['FG_PCT_home'] = pd.to_numeric(box_score_df['FG_PCT_home'])
box_score_df['FT_PCT_home'] = pd.to_numeric(box_score_df['FT_PCT_home'])
box_score_df['FG3_PCT_home'] = pd.to_numeric(box_score_df['FG3_PCT_home'])
box_score_df['AST_home'] = pd.to_numeric(box_score_df['AST_home'])
box_score_df['REB_home'] = pd.to_numeric(box_score_df['REB_home'])
box_score_df['FG_PCT_away'] = pd.to_numeric(box_score_df['FG_PCT_away'])
box_score_df['FT_PCT_away'] = pd.to_numeric(box_score_df['FT_PCT_away'])
box_score_df['FG3_PCT_away'] = pd.to_numeric(box_score_df['FG3_PCT_away'])
box_score_df['AST_away'] = pd.to_numeric(box_score_df['AST_away'])
box_score_df['REB_away'] = pd.to_numeric(box_score_df['REB_away'])

box_score_df = box_score_df.reset_index(drop=True)

home_winning_percentage_list = []
visitor_winning_percentage_list = []
for ind in box_score_df.index:
    home_abbr = box_score_df.loc[ind]['HOME_ABBR']
    visitor_abbr = box_score_df.loc[ind]['VISITOR_ABBR']
    home_team_wins = box_score_df.loc[ind]['HOME_TEAM_WINS']
    if home_team_wins > 0:
        wins_[home_abbr] += 1
        lost_[visitor_abbr] += 1
    else:
        lost_[home_abbr] += 1
        wins_[visitor_abbr] += 1
    total_games_home_abbr = wins_[home_abbr] + lost_[home_abbr]
    total_games_visitor_abbr = wins_[visitor_abbr] + lost_[visitor_abbr]
    home_winning_percentage = wins_[home_abbr] / total_games_home_abbr
    visitor_winning_percentage = wins_[visitor_abbr] / total_games_visitor_abbr
    home_winning_percentage_list.append(home_winning_percentage)
    visitor_winning_percentage_list.append(visitor_winning_percentage)
box_score_df['home_winning_percentage'] = home_winning_percentage_list
box_score_df['visitor_winning_percentage'] = visitor_winning_percentage_list

# adding the winning_percentages to the boxscore

In [5]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44,1.000000,0.000000
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50,0.000000,1.000000
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51,1.000000,0.000000
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48,0.000000,1.000000
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,2022-03-01,BOS,ATL,107,98,9,1,0.470,0.947,0.314,27,47,0.434,0.792,0.226,15,37,0.571429,0.466667
916,2022-03-01,TOR,BRK,109,108,1,1,0.456,0.870,0.304,27,48,0.500,0.737,0.400,21,37,0.566667,0.500000
917,2022-03-01,HOU,LAC,100,113,-13,0,0.396,0.647,0.333,21,45,0.438,0.941,0.419,24,55,0.245902,0.515625
918,2022-03-01,MIN,GSW,129,114,15,1,0.528,0.826,0.400,27,42,0.456,0.864,0.289,26,40,0.539683,0.693548
919,2022-03-01,LAL,DAL,104,109,-5,0,0.451,0.800,0.412,22,37,0.500,0.630,0.286,24,45,0.442623,0.596774

In [98]:
#schedule_df_dropped_dup = pd.read_csv('schedule_df_dropped_duplicates.csv')
# is this necessary?
# this creates a list of dates to create group and get the mean of the previous game scores.

In [99]:
#from basketball_reference_scraper.seasons import get_schedule, get_standings

#schedule_df = get_schedule(2022, playoffs=False)

# is this necessary? instead read it
#schedule_df.to_csv('basketball_reference_schedule_2022.csv', index=False)

#adjustment
#schedule_df = schedule_df.fillna(0)

In [6]:
schedule_df = pd.read_csv('data/basketball_reference_schedule_2022.csv')

In [7]:
schedule_df = schedule_df.loc[schedule_df['DATE'] >= '2021-11-15']

In [8]:
schedule_df = schedule_df.loc[schedule_df['DATE'] <= '2022-03-01']

In [9]:
user_input = input('this schedule will be used to get the grouped_by_date df')

this schedule will be used to get the grouped_by_date df

In [10]:
schedule_df = schedule_df.drop_duplicates(subset=['DATE'])

In [11]:
schedule_df = schedule_df.reset_index(drop=True)

In [12]:
date_list = schedule_df['DATE'].tolist()

In [14]:
#len(date_list)
#date_list[91:93]

#notes

In [15]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44,1.000000,0.000000
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50,0.000000,1.000000
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51,1.000000,0.000000
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48,0.000000,1.000000
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,2022-02-28,BRK,TOR,97,133,-36,0,0.384,0.792,0.343,23,45,0.515,0.591,0.474,35,47,0.508197,0.559322
910,2022-02-28,MIA,CHI,112,99,13,1,0.494,0.769,0.387,28,39,0.488,0.667,0.241,23,38,0.655738,0.639344
911,2022-02-28,MEM,SAS,118,105,13,1,0.539,0.579,0.423,24,55,0.414,0.737,0.281,30,38,0.677419,0.393443
912,2022-02-28,MIL,CHO,130,106,24,1,0.440,0.865,0.400,25,62,0.387,0.625,0.359,22,41,0.606557,0.476190
913,2022-02-28,OKC,SAC,110,131,-21,0,0.465,0.704,0.314,28,38,0.563,0.767,0.323,30,46,0.311475,0.370968

In [13]:
box_score_df["DATE"]= pd.to_datetime(box_score_df["DATE"])
box_score_df['PTS_home'] = pd.to_numeric(box_score_df['PTS_home'])
box_score_df['PTS_away'] = pd.to_numeric(box_score_df['PTS_away'])
box_score_df['MARGIN'] = pd.to_numeric(box_score_df['MARGIN'])
box_score_df['HOME_TEAM_WINS'] = pd.to_numeric(box_score_df['HOME_TEAM_WINS'])
box_score_df['FG_PCT_home'] = pd.to_numeric(box_score_df['FG_PCT_home'])
box_score_df['FT_PCT_home'] = pd.to_numeric(box_score_df['FT_PCT_home'])
box_score_df['FG3_PCT_home'] = pd.to_numeric(box_score_df['FG3_PCT_home'])
box_score_df['AST_home'] = pd.to_numeric(box_score_df['AST_home'])
box_score_df['REB_home'] = pd.to_numeric(box_score_df['REB_home'])
box_score_df['FG_PCT_away'] = pd.to_numeric(box_score_df['FG_PCT_away'])
box_score_df['FT_PCT_away'] = pd.to_numeric(box_score_df['FT_PCT_away'])
box_score_df['FG3_PCT_away'] = pd.to_numeric(box_score_df['FG3_PCT_away'])
box_score_df['AST_away'] = pd.to_numeric(box_score_df['AST_away'])
box_score_df['REB_away'] = pd.to_numeric(box_score_df['REB_away'])
box_score_df['home_winning_percentage'] = pd.to_numeric(box_score_df['home_winning_percentage'])
box_score_df['visitor_winning_percentage'] = pd.to_numeric(box_score_df['visitor_winning_percentage'])

In [14]:
group_by_date_columns = [ 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'home_winning_percentage', 'visitor_winning_percentage']
group_by_date_df = pd.DataFrame(columns=group_by_date_columns)


for j in date_list:
    obtain_ten_df_2 = box_score_df[box_score_df['DATE'] == j]
    for ind in obtain_ten_df_2.index:
        empty_ = []
        date_1 = obtain_ten_df_2.loc[ind]['DATE']
        home_1 = obtain_ten_df_2.loc[ind]['HOME_ABBR']
        visitor_1 = obtain_ten_df_2.loc[ind]['VISITOR_ABBR']
        empty_.append(date_1)
        empty_.append(home_1)
        empty_.append(visitor_1)
        home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] == home_1].tail(10).mean().reset_index()
        home_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))
        visitor_df_group_by = box_score_df.loc[box_score_df['VISITOR_ABBR'] == visitor_1].tail(10).mean().reset_index()
        visitor_df_dict = dict(zip(visitor_df_group_by.iloc[:,0].tolist(), visitor_df_group_by.iloc[:,1].tolist()))
        empty_.append(home_df_dict['PTS_home'])
        empty_.append(visitor_df_dict['PTS_away'])
        margin = home_df_dict['PTS_home'] - visitor_df_dict['PTS_away']
        empty_.append(margin)
        empty_.append(home_df_dict['FG_PCT_home'])
        empty_.append(home_df_dict['FT_PCT_home'])
        empty_.append(home_df_dict['FG3_PCT_home'])
        empty_.append(visitor_df_dict['FG_PCT_away'])
        empty_.append(visitor_df_dict['FT_PCT_away'])
        empty_.append(visitor_df_dict['FG3_PCT_away'])
        empty_.append(obtain_ten_df_2.loc[ind]['home_winning_percentage'])
        empty_.append(obtain_ten_df_2.loc[ind]['visitor_winning_percentage'])
        length_of_df = len(group_by_date_df)
        group_by_date_df.loc[length_of_df] = empty_

In [15]:
group_by_date_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage
0,2021-11-15,CLE,BOS,105.0,112.9,-7.9,0.4621,0.7458,0.3372,0.4784,0.7998,0.3571,0.600000,0.500000
1,2021-11-15,DET,SAC,107.4,107.4,0.0,0.4386,0.7811,0.3202,0.4629,0.7587,0.3283,0.230769,0.428571
2,2021-11-15,WAS,NOP,108.2,108.0,0.2,0.4616,0.8096,0.3263,0.4722,0.7482,0.3321,0.769231,0.133333
3,2021-11-15,ATL,ORL,120.4,108.6,11.8,0.5212,0.7941,0.4002,0.4587,0.7762,0.3622,0.400000,0.214286
4,2021-11-15,NYK,IND,106.0,108.5,-2.5,0.4300,0.7380,0.3409,0.4432,0.7118,0.3573,0.571429,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,2022-03-01,BOS,ATL,110.5,108.1,2.4,0.4725,0.8218,0.3407,0.4407,0.8251,0.3319,0.571429,0.466667
718,2022-03-01,TOR,BRK,113.2,109.1,4.1,0.4619,0.7777,0.3863,0.4568,0.7582,0.3620,0.566667,0.500000
719,2022-03-01,HOU,LAC,107.6,107.1,0.5,0.4437,0.6661,0.3382,0.4679,0.7428,0.3469,0.245902,0.515625
720,2022-03-01,MIN,GSW,119.6,112.7,6.9,0.4718,0.7590,0.3609,0.4566,0.8065,0.3721,0.539683,0.693548
721,2022-03-01,LAL,DAL,106.8,108.6,-1.8,0.4526,0.7092,0.3144,0.4765,0.7642,0.3599,0.442623,0.596774

In [110]:
user_input = input('adjust so accordingly, the number of rows is the same : box_score_df and grouped_by_date_df')

adjust so accordingly, the number of rows is the same : box_score_df and grouped_by_date_df

In [16]:
box_score_df = box_score_df.loc[box_score_df['DATE'] >= '2021-11-15']
box_score_df = box_score_df.loc[box_score_df['DATE'] <= '2022-03-01']

# at this point already have group_by_date_df
#################

In [199]:
user_input = input('do the dataframes match, new_box_score and grouped_by_date_df?')

do the dataframes match, new_box_score and grouped_by_date_df?

In [17]:
len(box_score_df)

722

In [18]:
len(group_by_date_df)

722

In [19]:
new_box_score = box_score_df.copy()
#the tail is the length of the group_by_date_df
new_box_score = new_box_score.reset_index(drop=True)
new_box_score.tail(1)

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
721,2022-03-01,LAL,DAL,104,109,-5,0,0.451,0.8,0.412,22,37,0.5,0.63,0.286,24,45,0.442623,0.596774

In [131]:
group_by_date_df.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away', 'home_winning_percentage',
       'visitor_winning_percentage'],
      dtype='object')

In [132]:
new_box_score.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home',
       'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away', 'home_winning_percentage',
       'visitor_winning_percentage'],
      dtype='object')

In [20]:
date1 = group_by_date_df['DATE']
home_abbr1 = group_by_date_df['HOME_ABBR']
visitor_abbr1 = group_by_date_df['VISITOR_ABBR']
home_winning_percentage = group_by_date_df['home_winning_percentage']
visitor_winning_percentage = group_by_date_df['visitor_winning_percentage']

In [21]:
group_by_date_df = group_by_date_df.drop('DATE', 1)
group_by_date_df = group_by_date_df.drop('HOME_ABBR', 1)
group_by_date_df = group_by_date_df.drop('VISITOR_ABBR', 1)
group_by_date_df = group_by_date_df.drop('home_winning_percentage', 1)
group_by_date_df = group_by_date_df.drop('visitor_winning_percentage', 1)

In [22]:
new_box_score.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home',
       'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away', 'home_winning_percentage',
       'visitor_winning_percentage'],
      dtype='object')

In [23]:
new_box_score = new_box_score.drop('DATE', 1)
new_box_score = new_box_score.drop('HOME_ABBR', 1)
new_box_score = new_box_score.drop('VISITOR_ABBR', 1)
new_box_score = new_box_score.drop('home_winning_percentage', 1)
new_box_score = new_box_score.drop('visitor_winning_percentage', 1)
new_box_score = new_box_score.drop('HOME_TEAM_WINS', 1)
new_box_score = new_box_score.drop('AST_home', 1)
new_box_score = new_box_score.drop('REB_home', 1)
new_box_score = new_box_score.drop('AST_away', 1)
new_box_score = new_box_score.drop('REB_away', 1)

In [24]:
new_box_score.head(1)

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,92,98,-6,0.386,0.75,0.4,0.462,0.8,0.345

In [25]:
group_by_date_df

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,105.0,112.9,-7.9,0.4621,0.7458,0.3372,0.4784,0.7998,0.3571
1,107.4,107.4,0.0,0.4386,0.7811,0.3202,0.4629,0.7587,0.3283
2,108.2,108.0,0.2,0.4616,0.8096,0.3263,0.4722,0.7482,0.3321
3,120.4,108.6,11.8,0.5212,0.7941,0.4002,0.4587,0.7762,0.3622
4,106.0,108.5,-2.5,0.4300,0.7380,0.3409,0.4432,0.7118,0.3573
...,...,...,...,...,...,...,...,...,...
717,110.5,108.1,2.4,0.4725,0.8218,0.3407,0.4407,0.8251,0.3319
718,113.2,109.1,4.1,0.4619,0.7777,0.3863,0.4568,0.7582,0.3620
719,107.6,107.1,0.5,0.4437,0.6661,0.3382,0.4679,0.7428,0.3469
720,119.6,112.7,6.9,0.4718,0.7590,0.3609,0.4566,0.8065,0.3721
721,106.8,108.6,-1.8,0.4526,0.7092,0.3144,0.4765,0.7642,0.3599

In [138]:
group_by_date_df.head(1)

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,104.6,114.1,-9.5,0.4665,0.7188,0.3287,0.4868,0.7988,0.3766

In [139]:
new_box_score.columns

Index(['PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

In [26]:
group_by_date_df['PTS_home'] = pd.to_numeric(group_by_date_df['PTS_home'])
group_by_date_df['PTS_away'] = pd.to_numeric(group_by_date_df['PTS_away'])
group_by_date_df['MARGIN'] = pd.to_numeric(group_by_date_df['MARGIN'])
group_by_date_df['FG_PCT_home'] = pd.to_numeric(group_by_date_df['FG_PCT_home'])
group_by_date_df['FT_PCT_home'] = pd.to_numeric(group_by_date_df['FT_PCT_home'])
group_by_date_df['FG3_PCT_home'] = pd.to_numeric(group_by_date_df['FG3_PCT_home'])
group_by_date_df['FG_PCT_away'] = pd.to_numeric(group_by_date_df['FG_PCT_away'])
group_by_date_df['FT_PCT_away'] = pd.to_numeric(group_by_date_df['FT_PCT_away'])
group_by_date_df['FG3_PCT_away'] = pd.to_numeric(group_by_date_df['FG3_PCT_away'])

In [27]:
new_box_score['PTS_home'] = pd.to_numeric(new_box_score['PTS_home'])
new_box_score['PTS_away'] = pd.to_numeric(new_box_score['PTS_away'])
new_box_score['MARGIN'] = pd.to_numeric(new_box_score['MARGIN'])
new_box_score['FG_PCT_home'] = pd.to_numeric(new_box_score['FG_PCT_home'])
new_box_score['FT_PCT_home'] = pd.to_numeric(new_box_score['FT_PCT_home'])
new_box_score['FG3_PCT_home'] = pd.to_numeric(new_box_score['FG3_PCT_home'])
new_box_score['FG_PCT_away'] = pd.to_numeric(new_box_score['FG_PCT_away'])
new_box_score['FT_PCT_away'] = pd.to_numeric(new_box_score['FT_PCT_away'])
new_box_score['FG3_PCT_away'] = pd.to_numeric(new_box_score['FG3_PCT_away'])

In [142]:
group_by_date_df.columns

Index(['PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

In [143]:
new_box_score.columns

Index(['PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

In [28]:
new_box_score

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,92,98,-6,0.386,0.750,0.400,0.462,0.800,0.345
1,107,129,-22,0.406,0.941,0.277,0.531,0.818,0.485
2,105,100,5,0.464,0.680,0.357,0.405,0.853,0.524
3,129,111,18,0.553,0.656,0.467,0.453,0.643,0.372
4,92,84,8,0.430,0.700,0.324,0.372,0.750,0.216
...,...,...,...,...,...,...,...,...,...
717,107,98,9,0.470,0.947,0.314,0.434,0.792,0.226
718,109,108,1,0.456,0.870,0.304,0.500,0.737,0.400
719,100,113,-13,0.396,0.647,0.333,0.438,0.941,0.419
720,129,114,15,0.528,0.826,0.400,0.456,0.864,0.289
721,104,109,-5,0.451,0.800,0.412,0.500,0.630,0.286

In [29]:
group_by_date_df

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,105.0,112.9,-7.9,0.4621,0.7458,0.3372,0.4784,0.7998,0.3571
1,107.4,107.4,0.0,0.4386,0.7811,0.3202,0.4629,0.7587,0.3283
2,108.2,108.0,0.2,0.4616,0.8096,0.3263,0.4722,0.7482,0.3321
3,120.4,108.6,11.8,0.5212,0.7941,0.4002,0.4587,0.7762,0.3622
4,106.0,108.5,-2.5,0.4300,0.7380,0.3409,0.4432,0.7118,0.3573
...,...,...,...,...,...,...,...,...,...
717,110.5,108.1,2.4,0.4725,0.8218,0.3407,0.4407,0.8251,0.3319
718,113.2,109.1,4.1,0.4619,0.7777,0.3863,0.4568,0.7582,0.3620
719,107.6,107.1,0.5,0.4437,0.6661,0.3382,0.4679,0.7428,0.3469
720,119.6,112.7,6.9,0.4718,0.7590,0.3609,0.4566,0.8065,0.3721
721,106.8,108.6,-1.8,0.4526,0.7092,0.3144,0.4765,0.7642,0.3599

In [30]:
calculated_df = new_box_score - group_by_date_df

In [32]:
calculated_df

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,-13.0,-14.9,1.9,-0.0761,0.0042,0.0628,-0.0164,0.0002,-0.0121
1,-0.4,21.6,-22.0,-0.0326,0.1599,-0.0432,0.0681,0.0593,0.1567
2,-3.2,-8.0,4.8,0.0024,-0.1296,0.0307,-0.0672,0.1048,0.1919
3,8.6,2.4,6.2,0.0318,-0.1381,0.0668,-0.0057,-0.1332,0.0098
4,-14.0,-24.5,10.5,0.0000,-0.0380,-0.0169,-0.0712,0.0382,-0.1413
...,...,...,...,...,...,...,...,...,...
717,-3.5,-10.1,6.6,-0.0025,0.1252,-0.0267,-0.0067,-0.0331,-0.1059
718,-4.2,-1.1,-3.1,-0.0059,0.0923,-0.0823,0.0432,-0.0212,0.0380
719,-7.6,5.9,-13.5,-0.0477,-0.0191,-0.0052,-0.0299,0.1982,0.0721
720,9.4,1.3,8.1,0.0562,0.0670,0.0391,-0.0006,0.0575,-0.0831
721,-2.8,0.4,-3.2,-0.0016,0.0908,0.0976,0.0235,-0.1342,-0.0739

In [32]:
date1

0     2021-11-15
1     2021-11-15
2     2021-11-15
3     2021-11-15
4     2021-11-15
         ...
711   2022-02-28
712   2022-02-28
713   2022-02-28
714   2022-02-28
715   2022-02-28
Name: DATE, Length: 716, dtype: datetime64[ns]

In [33]:
home_abbr1

0      CLE
1      DET
2      WAS
3      ATL
4      NYK
      ...
711    BRK
712    MIA
713    MEM
714    MIL
715    OKC
Name: HOME_ABBR, Length: 716, dtype: object

In [33]:
calculated_df['DATE'] = date1
calculated_df['HOME_ABBR'] = home_abbr1
calculated_df['VISITOR_ABBR'] = visitor_abbr1
calculated_df['home_winning_percentage'] = home_winning_percentage
calculated_df['visitor_winning_percentage'] = visitor_winning_percentage

In [34]:
calculated_df = calculated_df[['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'home_winning_percentage',
       'visitor_winning_percentage']]

In [35]:
calculated_df
#calculated_df is the subtracted from box_score
# then it will be grouped and then that will will averaged to be subtracted from the group_by_date_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage
0,2021-11-15,CLE,BOS,-13.0,-14.9,1.9,-0.0761,0.0042,0.0628,-0.0164,0.0002,-0.0121,0.600000,0.500000
1,2021-11-15,DET,SAC,-0.4,21.6,-22.0,-0.0326,0.1599,-0.0432,0.0681,0.0593,0.1567,0.230769,0.428571
2,2021-11-15,WAS,NOP,-3.2,-8.0,4.8,0.0024,-0.1296,0.0307,-0.0672,0.1048,0.1919,0.769231,0.133333
3,2021-11-15,ATL,ORL,8.6,2.4,6.2,0.0318,-0.1381,0.0668,-0.0057,-0.1332,0.0098,0.400000,0.214286
4,2021-11-15,NYK,IND,-14.0,-24.5,10.5,0.0000,-0.0380,-0.0169,-0.0712,0.0382,-0.1413,0.571429,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,2022-03-01,BOS,ATL,-3.5,-10.1,6.6,-0.0025,0.1252,-0.0267,-0.0067,-0.0331,-0.1059,0.571429,0.466667
718,2022-03-01,TOR,BRK,-4.2,-1.1,-3.1,-0.0059,0.0923,-0.0823,0.0432,-0.0212,0.0380,0.566667,0.500000
719,2022-03-01,HOU,LAC,-7.6,5.9,-13.5,-0.0477,-0.0191,-0.0052,-0.0299,0.1982,0.0721,0.245902,0.515625
720,2022-03-01,MIN,GSW,9.4,1.3,8.1,0.0562,0.0670,0.0391,-0.0006,0.0575,-0.0831,0.539683,0.693548
721,2022-03-01,LAL,DAL,-2.8,0.4,-3.2,-0.0016,0.0908,0.0976,0.0235,-0.1342,-0.0739,0.442623,0.596774

In [36]:
season_schedule_df = pd.read_csv('data/basketball_reference_schedule_2022.csv')
# this is the full schedule with all the games

In [37]:
season_schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2021-10-19,Brooklyn Nets,104.0,Milwaukee Bucks,127.0
1,2021-10-19,Golden State Warriors,121.0,Los Angeles Lakers,114.0
2,2021-10-20,Indiana Pacers,122.0,Charlotte Hornets,123.0
3,2021-10-20,Chicago Bulls,94.0,Detroit Pistons,88.0
4,2021-10-20,Boston Celtics,134.0,New York Knicks,138.0
...,...,...,...,...,...
1225,2022-04-10,Los Angeles Lakers,0.0,Denver Nuggets,0.0
1226,2022-04-10,San Antonio Spurs,0.0,Dallas Mavericks,0.0
1227,2022-04-10,Milwaukee Bucks,0.0,Cleveland Cavaliers,0.0
1228,2022-04-10,Washington Wizards,0.0,Charlotte Hornets,0.0
1229,2022-04-10,Indiana Pacers,0.0,Brooklyn Nets,0.0

In [38]:
season_schedule_df = season_schedule_df.loc[season_schedule_df['DATE'] == '2022-03-02']
# grab the date that you need

In [39]:
user_input = input('which is the date that you need?')

which is the date that you need?

In [40]:
season_schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
927,2022-03-02,Charlotte Hornets,0.0,Cleveland Cavaliers,0.0
928,2022-03-02,Indiana Pacers,0.0,Orlando Magic,0.0
929,2022-03-02,New York Knicks,0.0,Philadelphia 76ers,0.0
930,2022-03-02,Utah Jazz,0.0,Houston Rockets,0.0
931,2022-03-02,Miami Heat,0.0,Milwaukee Bucks,0.0
932,2022-03-02,Sacramento Kings,0.0,New Orleans Pelicans,0.0
933,2022-03-02,Oklahoma City Thunder,0.0,Denver Nuggets,0.0
934,2022-03-02,Portland Trail Blazers,0.0,Phoenix Suns,0.0

In [41]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

season_schedule_df['HOME_ABBR'] = 0
season_schedule_df['VISITOR_ABBR'] = 0
season_schedule_df = season_schedule_df.fillna(0)

for ind in season_schedule_df.index: 
    season_schedule_df['VISITOR'][ind] = season_schedule_df['VISITOR'][ind].upper()
    season_schedule_df['HOME'][ind] = season_schedule_df['HOME'][ind].upper()
    season_schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[season_schedule_df['HOME'][ind]]
    season_schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[season_schedule_df['VISITOR'][ind]]

<ipython-input-41-3cbf05e219b4>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_schedule_df['HOME_ABBR'] = 0
<ipython-input-41-3cbf05e219b4>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_schedule_df['VISITOR_ABBR'] = 0
<ipython-input-41-3cbf05e219b4>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_schedule_df['VISITOR'][ind] = season_schedule_df['VISITOR'][ind].upper()
<ipython-input-41-3cbf05e219b4>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_schedule_df['HOME'][ind] = season_schedule_df['HOME'][ind].upper()
<ipython-input-41-3cbf05e219b4>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[season_schedule_df['HOME'][ind]]
/Users/stanleytan/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-41-3cbf05e219b4>:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[season_schedule_df['VISITOR'][ind]]

In [42]:
season_schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,HOME_ABBR,VISITOR_ABBR
927,2022-03-02,CHARLOTTE HORNETS,0.0,CLEVELAND CAVALIERS,0.0,CLE,CHO
928,2022-03-02,INDIANA PACERS,0.0,ORLANDO MAGIC,0.0,ORL,IND
929,2022-03-02,NEW YORK KNICKS,0.0,PHILADELPHIA 76ERS,0.0,PHI,NYK
930,2022-03-02,UTAH JAZZ,0.0,HOUSTON ROCKETS,0.0,HOU,UTA
931,2022-03-02,MIAMI HEAT,0.0,MILWAUKEE BUCKS,0.0,MIL,MIA
932,2022-03-02,SACRAMENTO KINGS,0.0,NEW ORLEANS PELICANS,0.0,NOP,SAC
933,2022-03-02,OKLAHOMA CITY THUNDER,0.0,DENVER NUGGETS,0.0,DEN,OKC
934,2022-03-02,PORTLAND TRAIL BLAZERS,0.0,PHOENIX SUNS,0.0,PHO,POR

In [43]:
new_box_score

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,92,98,-6,0.386,0.750,0.400,0.462,0.800,0.345
1,107,129,-22,0.406,0.941,0.277,0.531,0.818,0.485
2,105,100,5,0.464,0.680,0.357,0.405,0.853,0.524
3,129,111,18,0.553,0.656,0.467,0.453,0.643,0.372
4,92,84,8,0.430,0.700,0.324,0.372,0.750,0.216
...,...,...,...,...,...,...,...,...,...
717,107,98,9,0.470,0.947,0.314,0.434,0.792,0.226
718,109,108,1,0.456,0.870,0.304,0.500,0.737,0.400
719,100,113,-13,0.396,0.647,0.333,0.438,0.941,0.419
720,129,114,15,0.528,0.826,0.400,0.456,0.864,0.289
721,104,109,-5,0.451,0.800,0.412,0.500,0.630,0.286

In [44]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
198,2021-11-15,CLE,BOS,92,98,-6,0,0.386,0.750,0.400,18,42,0.462,0.800,0.345,23,46,0.600000,0.500000
199,2021-11-15,DET,SAC,107,129,-22,0,0.406,0.941,0.277,23,47,0.531,0.818,0.485,32,47,0.230769,0.428571
200,2021-11-15,WAS,NOP,105,100,5,1,0.464,0.680,0.357,23,42,0.405,0.853,0.524,20,45,0.769231,0.133333
201,2021-11-15,ATL,ORL,129,111,18,1,0.553,0.656,0.467,32,46,0.453,0.643,0.372,30,41,0.400000,0.214286
202,2021-11-15,NYK,IND,92,84,8,1,0.430,0.700,0.324,22,46,0.372,0.750,0.216,16,44,0.571429,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,2022-03-01,BOS,ATL,107,98,9,1,0.470,0.947,0.314,27,47,0.434,0.792,0.226,15,37,0.571429,0.466667
916,2022-03-01,TOR,BRK,109,108,1,1,0.456,0.870,0.304,27,48,0.500,0.737,0.400,21,37,0.566667,0.500000
917,2022-03-01,HOU,LAC,100,113,-13,0,0.396,0.647,0.333,21,45,0.438,0.941,0.419,24,55,0.245902,0.515625
918,2022-03-01,MIN,GSW,129,114,15,1,0.528,0.826,0.400,27,42,0.456,0.864,0.289,26,40,0.539683,0.693548
919,2022-03-01,LAL,DAL,104,109,-5,0,0.451,0.800,0.412,22,37,0.500,0.630,0.286,24,45,0.442623,0.596774

In [46]:
box_score_2 = box_score_df.loc[box_score_df['DATE'] >= '2021-11-15']

box_score_2 = box_score_df.loc[box_score_df['DATE'] <= '2022-03-02']


# even if there is not 03-02-2022 it still works
#box_score_2 = box_score_df.tail(692)
#trying to copy that

In [47]:
season_schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,HOME_ABBR,VISITOR_ABBR
927,2022-03-02,CHARLOTTE HORNETS,0.0,CLEVELAND CAVALIERS,0.0,CLE,CHO
928,2022-03-02,INDIANA PACERS,0.0,ORLANDO MAGIC,0.0,ORL,IND
929,2022-03-02,NEW YORK KNICKS,0.0,PHILADELPHIA 76ERS,0.0,PHI,NYK
930,2022-03-02,UTAH JAZZ,0.0,HOUSTON ROCKETS,0.0,HOU,UTA
931,2022-03-02,MIAMI HEAT,0.0,MILWAUKEE BUCKS,0.0,MIL,MIA
932,2022-03-02,SACRAMENTO KINGS,0.0,NEW ORLEANS PELICANS,0.0,NOP,SAC
933,2022-03-02,OKLAHOMA CITY THUNDER,0.0,DENVER NUGGETS,0.0,DEN,OKC
934,2022-03-02,PORTLAND TRAIL BLAZERS,0.0,PHOENIX SUNS,0.0,PHO,POR

In [48]:
group_by_date_columns = [ 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away']
group_by_date_for_ml = pd.DataFrame(columns=group_by_date_columns)

# set a new pandas dataframe
for ind in season_schedule_df.index:
    empty_ = []
    date_1 = season_schedule_df.loc[ind]['DATE']
    home_1 = season_schedule_df.loc[ind]['HOME_ABBR']
    visitor_1 = season_schedule_df.loc[ind]['VISITOR_ABBR']
    empty_.append(date_1)
    empty_.append(home_1)
    empty_.append(visitor_1)
    home_df_group_by = box_score_2.loc[box_score_2['HOME_ABBR'] == home_1].tail(10).mean().reset_index()
    home_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))
    visitor_df_group_by = box_score_2.loc[box_score_2['VISITOR_ABBR'] == visitor_1].tail(10).mean().reset_index()
    visitor_df_dict = dict(zip(visitor_df_group_by.iloc[:,0].tolist(), visitor_df_group_by.iloc[:,1].tolist()))
    empty_.append(home_df_dict['PTS_home'])
    empty_.append(visitor_df_dict['PTS_away'])
    margin = home_df_dict['PTS_home'] - visitor_df_dict['PTS_away']
    empty_.append(margin)
    empty_.append(home_df_dict['FG_PCT_home'])
    empty_.append(home_df_dict['FT_PCT_home'])
    empty_.append(home_df_dict['FG3_PCT_home'])
    empty_.append(visitor_df_dict['FG_PCT_away'])
    empty_.append(visitor_df_dict['FT_PCT_away'])
    empty_.append(visitor_df_dict['FG3_PCT_away'])
    length_of_df = len(group_by_date_for_ml)
    group_by_date_for_ml.loc[length_of_df] = empty_

In [132]:
group_by_date_for_ml

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,2022-03-01,WAS,DET,108.4,105.8,2.6,0.4593,0.8101,0.3108,0.4316,0.7623,0.3585
1,2022-03-01,BOS,ATL,111.2,109.1,2.1,0.4744,0.8166,0.3439,0.4426,0.8192,0.3360
2,2022-03-01,TOR,BRK,115.2,110.0,5.2,0.4632,0.7631,0.3968,0.4548,0.7845,0.3580
3,2022-03-01,HOU,LAC,108.2,106.9,1.3,0.4466,0.6704,0.3328,0.4685,0.7376,0.3567
4,2022-03-01,MIN,GSW,116.5,112.1,4.4,0.4590,0.7464,0.3482,0.4537,0.8063,0.3793
5,2022-03-01,LAL,DAL,109.8,110.7,-0.9,0.4570,0.7187,0.3147,0.4809,0.7548,0.3760

In [49]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}
test_ = pd.DataFrame.from_dict(team_to_abbreviation.items())
list_ = test_[1].tolist()
winning_percentage_dict = dict.fromkeys(list_, 0)

for _, row in box_score_2.iterrows():
    home_team = row['HOME_ABBR']
    visitor_team = row['VISITOR_ABBR']
    home_winning_percentage = row['home_winning_percentage']
    visitor_winning_percentage = row['visitor_winning_percentage']
    
    if home_team in winning_percentage_dict:
            winning_percentage_dict[home_team] = home_winning_percentage
    elif visitor_team in winning_percentage_dict:
            winning_percentage_dict[visitor_team] = visitor_winning_percentage
            
# inserting winning_percentage into the dataframe

home_winning_percentage_list = []
visitor_winning_percentage_list = []
for ind in group_by_date_for_ml.index:
    home_abbr = group_by_date_for_ml.loc[ind]['HOME_ABBR']
    visitor_abbr = group_by_date_for_ml.loc[ind]['VISITOR_ABBR']
    home_winning_percentage_list.append(winning_percentage_dict[home_abbr])
    visitor_winning_percentage_list.append(winning_percentage_dict[visitor_abbr])
group_by_date_for_ml['home_winning_percentage'] = home_winning_percentage_list
group_by_date_for_ml['visitor_winning_percentage'] = visitor_winning_percentage_list


group_by_date_for_ml['diff_%'] = group_by_date_for_ml['home_winning_percentage'] - group_by_date_for_ml['visitor_winning_percentage']
group_by_date_for_ml = group_by_date_for_ml.round({"diff_%":1})

In [50]:
group_by_date_for_ml

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage,diff_%
0,2022-03-02,CLE,CHO,105.0,118.3,-13.3,0.4621,0.7458,0.3372,0.4755,0.7112,0.3617,0.583333,0.483871,0.1
1,2022-03-02,ORL,IND,109.5,108.5,1.0,0.4622,0.8187,0.3346,0.4432,0.7118,0.3573,0.241935,0.338710,-0.1
2,2022-03-02,PHI,NYK,105.0,104.2,0.8,0.4454,0.8012,0.3500,0.4215,0.6732,0.3358,0.596491,0.409836,0.2
3,2022-03-02,HOU,UTA,107.6,108.4,-0.8,0.4437,0.6661,0.3382,0.4602,0.7925,0.3677,0.245902,0.627119,-0.4
4,2022-03-02,MIL,MIA,117.3,109.6,7.7,0.4657,0.8170,0.3400,0.4681,0.8321,0.3640,0.606557,0.655738,-0.0
5,2022-03-02,NOP,SAC,110.0,107.4,2.6,0.4764,0.8413,0.2858,0.4629,0.7587,0.3283,0.389831,0.360656,0.0
6,2022-03-02,DEN,OKC,122.2,104.4,17.8,0.5054,0.8361,0.4008,0.4263,0.7409,0.3154,0.561404,0.311475,0.2
7,2022-03-02,PHO,POR,119.1,107.4,11.7,0.5078,0.7255,0.3690,0.4645,0.7169,0.3798,0.803279,0.409836,0.4

In [51]:
calculated_df.head()
#remember calculated_df is new_box_score - grouped_by_date_df
# there is an adjustment

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage
0,2021-11-15,CLE,BOS,-13.0,-14.9,1.9,-0.0761,0.0042,0.0628,-0.0164,0.0002,-0.0121,0.600000,0.500000
1,2021-11-15,DET,SAC,-0.4,21.6,-22.0,-0.0326,0.1599,-0.0432,0.0681,0.0593,0.1567,0.230769,0.428571
2,2021-11-15,WAS,NOP,-3.2,-8.0,4.8,0.0024,-0.1296,0.0307,-0.0672,0.1048,0.1919,0.769231,0.133333
3,2021-11-15,ATL,ORL,8.6,2.4,6.2,0.0318,-0.1381,0.0668,-0.0057,-0.1332,0.0098,0.400000,0.214286
4,2021-11-15,NYK,IND,-14.0,-24.5,10.5,0.0000,-0.0380,-0.0169,-0.0712,0.0382,-0.1413,0.571429,0.400000

In [57]:
# mean_grouped_visitor_df.columns
# more_precise_df.columns

# notes

In [270]:
# date = group_by_date_for_ml.loc[0]['DATE']
# home_abbr = group_by_date_for_ml.loc[0]['HOME_ABBR']
# visitor_abbr = group_by_date_for_ml.loc[0]['VISITOR_ABBR']
# diff = group_by_date_for_ml.loc[0]['diff_%']
# home_df = calculated_df[calculated_df['HOME_ABBR'] == home_abbr]
# home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
# home_df = home_df.round({"diff_%":1})
# mean_grouped_home_df = home_df.groupby("diff_%").mean().reset_index()

# in case there is an error while looping

In [271]:
# date = group_by_date_for_ml.loc[4]['DATE']
# home_abbr = group_by_date_for_ml.loc[4]['HOME_ABBR']
# visitor_abbr = group_by_date_for_ml.loc[4]['VISITOR_ABBR']
# diff = group_by_date_for_ml.loc[4]['diff_%']
# home_df = calculated_df[calculated_df['HOME_ABBR'] == home_abbr]
# home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
# home_df = home_df.round({"diff_%":1})
# mean_grouped_home_df = home_df.groupby("diff_%").mean().reset_index()
# list_ = mean_grouped_home_df['diff_%'].tolist()
# arr = np.asarray(list_)
# input_val = (np.abs(arr - 0)).argmin()
# return_ = arr[input_val]
# if (diff )
#     mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == diff]
# except:
#     mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == return_]

# in case there is an error looping

In [58]:
#if (diff in list_):
 #   print('yes')
#else:
 #   print('no')
# notes

In [336]:
group_by_date_for_ml

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage,diff_%
0,2022-02-28,CLE,MIN,104.6,121.4,-16.8,0.4665,0.7188,0.3287,0.4683,0.7960,0.3742,0.618182,0.524590,0.1
1,2022-02-28,ORL,IND,106.4,111.5,-5.1,0.4531,0.8014,0.3272,0.4461,0.7268,0.3550,0.229508,0.338710,-0.1
2,2022-02-28,BRK,TOR,108.2,110.2,-2.0,0.4527,0.7891,0.3077,0.4559,0.7516,0.3611,0.516667,0.563636,-0.0
3,2022-02-28,MIA,CHI,110.8,109.8,1.0,0.4628,0.8364,0.3694,0.4740,0.8028,0.3370,0.637931,0.650000,-0.0
4,2022-02-28,MEM,SAS,116.0,119.1,-3.1,0.4731,0.7433,0.3509,0.4770,0.8069,0.3495,0.683333,0.370370,0.3
5,2022-02-28,MIL,CHO,113.9,119.3,-5.4,0.4555,0.8219,0.3308,0.4886,0.7081,0.3604,0.600000,0.483871,0.1
6,2022-02-28,OKC,SAC,102.6,103.1,-0.5,0.4231,0.8019,0.3065,0.4454,0.7534,0.3186,0.305085,0.360656,-0.1

In [85]:
group_by_date_for_ml

,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,WAS,DET,108.4,105.8,2.6,0.4593,0.8101,0.3108,0.4316,0.7623,0.3585
1,BOS,ATL,111.2,109.1,2.1,0.4744,0.8166,0.3439,0.4426,0.8192,0.3360
2,TOR,BRK,115.2,110.0,5.2,0.4632,0.7631,0.3968,0.4548,0.7845,0.3580
3,HOU,LAC,108.2,106.9,1.3,0.4466,0.6704,0.3328,0.4685,0.7376,0.3567
4,MIN,GSW,116.5,112.1,4.4,0.4590,0.7464,0.3482,0.4537,0.8063,0.3793
5,LAL,DAL,109.8,110.7,-0.9,0.4570,0.7187,0.3147,0.4809,0.7548,0.3760

In [134]:
date =  group_by_date_for_ml.loc[0]['DATE']
home_abbr = group_by_date_for_ml.loc[0]['HOME_ABBR']
visitor_abbr = group_by_date_for_ml.loc[0]['VISITOR_ABBR']
diff = group_by_date_for_ml.loc[0]['diff_%']
home_df = calculated_df[calculated_df['HOME_ABBR'] == home_abbr]
home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
home_df = home_df.round({"diff_%":1})
mean_grouped_home_df = home_df.groupby("diff_%").mean().reset_index()
list_ = mean_grouped_home_df['diff_%'].tolist()
arr = np.asarray(list_)
input_val = (np.abs(arr - diff)).argmin()
return_ = arr[input_val]
if (diff in list_):
    mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == diff]
else:
    mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == return_]
    print(f'{home_abbr} does not have the average correct so use closest diff')
    print(f'Ind:{ind}')
mean_grouped_home_df['HOME/VISITOR'] = 'HOME'
mean_grouped_home_df['ABBR'] = home_abbr
mean_grouped_home_df = mean_grouped_home_df.rename(columns={"home_winning_percentage":"winning_percentage"})
mean_grouped_home_df = mean_grouped_home_df.drop('visitor_winning_percentage',1)
mean_grouped_home_df = mean_grouped_home_df[['ABBR','HOME/VISITOR','PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home',
   'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away',
   'FG3_PCT_away', 'winning_percentage','diff_%']]
visitor_df = calculated_df[calculated_df['VISITOR_ABBR'] == visitor_abbr]
visitor_df['diff_%'] = visitor_df['home_winning_percentage'] - visitor_df['visitor_winning_percentage']
visitor_df = visitor_df.round({"diff_%":1})
mean_grouped_visitor_df = visitor_df.groupby("diff_%").mean().reset_index()

<ipython-input-134-dc0be59ee784>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
<ipython-input-134-dc0be59ee784>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  visitor_df['diff_%'] = visitor_df['home_winning_percentage'] - visitor_df['visitor_winning_percentage']

In [137]:
visitor_df.loc[visitor_df['diff_%'] == 0.2]

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage,diff_%
704,2022-02-27,CHO,DET,18.0,21.2,-3.2,0.0716,-0.0565,0.1175,0.0234,-0.0403,-0.0085,0.483871,0.25,0.2

In [135]:
mean_grouped_visitor_df

,diff_%,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage
0,-0.0,9.500000,-2.8,12.300000,0.031800,0.143300,0.145400,-0.063600,0.021700,-0.013500,0.200000,0.229167
1,0.1,5.850000,7.2,-1.350000,-0.006400,-0.026150,0.068450,0.015400,0.129700,0.012000,0.334347,0.205000
2,0.2,18.000000,21.2,-3.200000,0.071600,-0.056500,0.117500,0.023400,-0.040300,-0.008500,0.483871,0.250000
3,0.3,6.460000,-1.4,7.860000,0.041420,-0.005320,0.035710,0.002300,0.015600,-0.019400,0.491388,0.195620
4,0.4,-1.933333,-5.3,3.366667,-0.005700,0.049167,-0.000400,-0.019100,-0.005967,-0.037167,0.606496,0.210118
5,0.5,1.233333,-18.8,20.033333,-0.011033,-0.066733,0.033833,-0.087267,-0.010633,-0.137500,0.695933,0.215582
6,0.7,-5.100000,-2.8,-2.300000,0.036200,-0.029500,0.202000,0.018400,0.006700,0.048500,0.863636,0.181818

In [52]:
# this is for an more in-depth view

more_precise_df_columns = [ 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'home_winning_percentage', 'diff_%']
more_precise_df = pd.DataFrame(columns=more_precise_df_columns)


import numpy as np

for ind in group_by_date_for_ml.index:
    date = group_by_date_for_ml.loc[ind]['DATE']
    home_abbr = group_by_date_for_ml.loc[ind]['HOME_ABBR']
    visitor_abbr = group_by_date_for_ml.loc[ind]['VISITOR_ABBR']
    diff = group_by_date_for_ml.loc[ind]['diff_%']
    home_df = calculated_df[calculated_df['HOME_ABBR'] == home_abbr]
    home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
    home_df = home_df.round({"diff_%":1})
    mean_grouped_home_df = home_df.groupby("diff_%").mean().reset_index()
    list_ = mean_grouped_home_df['diff_%'].tolist()
    arr = np.asarray(list_)
    input_val = (np.abs(arr - diff)).argmin()
    return_ = arr[input_val]
    if (diff in list_):
        mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == diff]
    else:
        mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == return_]
        print(f'{home_abbr} does not have the average correct so use closest diff')
        print(f'Ind:{ind}')
    mean_grouped_home_df['HOME/VISITOR'] = 'HOME'
    mean_grouped_home_df['ABBR'] = home_abbr
    mean_grouped_home_df['DATE'] = date
    mean_grouped_home_df = mean_grouped_home_df.rename(columns={"home_winning_percentage":"winning_percentage"})
    mean_grouped_home_df = mean_grouped_home_df.drop('visitor_winning_percentage',1)
    mean_grouped_home_df = mean_grouped_home_df[['DATE','ABBR','HOME/VISITOR','PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'winning_percentage','diff_%']]
    visitor_df = calculated_df[calculated_df['VISITOR_ABBR'] == visitor_abbr]
    visitor_df['diff_%'] = visitor_df['home_winning_percentage'] - visitor_df['visitor_winning_percentage']
    visitor_df = visitor_df.round({"diff_%":1})
    mean_grouped_visitor_df = visitor_df.groupby("diff_%").mean().reset_index()
    list_ = mean_grouped_visitor_df['diff_%'].tolist()
    arr = np.asarray(list_)
    input_val = (np.abs(arr - diff)).argmin()
    return_ = arr[input_val]
    if (diff in list_):
        mean_grouped_visitor_df = mean_grouped_visitor_df.loc[mean_grouped_visitor_df['diff_%'] == diff]
    else:
        mean_grouped_visitor_df = mean_grouped_visitor_df.loc[mean_grouped_visitor_df['diff_%'] == return_]
        print(f'{visitor_abbr} does not have average correct so use closest diff')
    mean_grouped_visitor_df['HOME/VISITOR'] = 'VISITOR'
    mean_grouped_visitor_df['ABBR'] = visitor_abbr
    mean_grouped_visitor_df['DATE'] = date
    mean_grouped_visitor_df = mean_grouped_visitor_df.rename(columns={"visitor_winning_percentage":"winning_percentage"})
    mean_grouped_visitor_df = mean_grouped_visitor_df.drop('home_winning_percentage',1)
    mean_grouped_visitor_df = mean_grouped_visitor_df[['DATE','ABBR','HOME/VISITOR','PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'winning_percentage','diff_%']]
    length_of_df = len(more_precise_df)
    more_precise_df.loc[length_of_df] = mean_grouped_home_df.iloc[0].tolist()
    length_of_df = len(more_precise_df)
    more_precise_df.loc[length_of_df] = mean_grouped_visitor_df.iloc[0].tolist()

<ipython-input-52-93aca1c713c6>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
<ipython-input-52-93aca1c713c6>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  visitor_df['diff_%'] = visitor_df['home_winning_percentage'] - visitor_df['visitor_winning_percentage']

In [53]:
more_precise_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,diff_%
0,2022-03-02,CLE,HOME,9.200000,-4.540000,13.740000,0.026700,-0.022000,0.044600,0.000780,-0.022200,-0.004200,0.589823,0.1
1,2022-03-02,CHO,VISITOR,7.650000,-3.550000,11.200000,-0.000400,-0.030200,0.034300,-0.026000,0.007550,0.067550,0.540505,0.1
2,2022-03-02,ORL,HOME,9.500000,-5.500000,15.000000,0.006800,-0.045700,-0.010600,0.042800,0.008200,0.059700,0.241935,-0.1
3,2022-03-02,IND,VISITOR,2.000000,-6.833333,8.833333,0.005667,-0.094267,-0.007533,0.002133,-0.019133,-0.026300,0.356111,-0.1
4,2022-03-02,PHI,HOME,13.000000,-9.350000,22.350000,0.045100,0.055300,-0.014500,-0.026300,-0.054500,0.019950,0.587346,0.2
5,2022-03-02,NYK,VISITOR,-1.525000,-0.950000,-0.575000,-0.020800,0.067200,-0.008550,0.004000,0.099050,-0.039300,0.491763,0.2
6,2022-03-02,HOU,HOME,20.400000,17.550000,2.850000,0.045300,0.084400,0.062800,-0.006300,0.097850,0.049150,0.217836,-0.4
7,2022-03-02,UTA,VISITOR,-2.250000,9.100000,-11.350000,-0.043200,-0.119300,0.010250,0.045300,-0.068000,0.013800,0.732512,-0.4
8,2022-03-02,MIL,HOME,-11.133333,0.966667,-12.100000,-0.031700,-0.056667,-0.032500,-0.016117,0.029717,-0.010967,0.580956,-0.0
9,2022-03-02,MIA,VISITOR,-3.525000,-8.850000,5.325000,-0.014500,0.075600,0.023500,-0.030350,-0.087600,-0.031750,0.612955,0.0
10,2022-03-02,NOP,HOME,5.500000,5.400000,0.100000,0.003600,0.051200,-0.013800,0.011700,0.023700,0.048350,0.392081,0.0
11,2022-03-02,SAC,VISITOR,-6.550000,-14.900000,8.350000,0.008100,0.066350,0.018700,-0.085900,-0.021700,-0.083800,0.390476,-0.0
12,2022-03-02,DEN,HOME,-17.200000,5.000000,-22.200000,-0.056400,0.104900,0.062200,0.087800,0.164800,-0.012100,0.538462,0.2
13,2022-03-02,OKC,VISITOR,-0.460000,5.000000,-5.460000,-0.018980,0.001500,0.003340,0.018900,0.007300,0.039200,0.338082,0.2
14,2022-03-02,PHO,HOME,-7.900000,-6.900000,-1.000000,-0.041200,0.079300,-0.040000,-0.039300,0.024500,-0.074580,0.813422,0.4
15,2022-03-02,POR,VISITOR,-2.700000,-8.900000,6.200000,-0.011500,-0.012300,-0.049300,-0.048500,0.031600,-0.075300,0.461538,0.4

In [54]:
group_by_date_for_ml

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage,diff_%
0,2022-03-02,CLE,CHO,105.0,118.3,-13.3,0.4621,0.7458,0.3372,0.4755,0.7112,0.3617,0.583333,0.483871,0.1
1,2022-03-02,ORL,IND,109.5,108.5,1.0,0.4622,0.8187,0.3346,0.4432,0.7118,0.3573,0.241935,0.338710,-0.1
2,2022-03-02,PHI,NYK,105.0,104.2,0.8,0.4454,0.8012,0.3500,0.4215,0.6732,0.3358,0.596491,0.409836,0.2
3,2022-03-02,HOU,UTA,107.6,108.4,-0.8,0.4437,0.6661,0.3382,0.4602,0.7925,0.3677,0.245902,0.627119,-0.4
4,2022-03-02,MIL,MIA,117.3,109.6,7.7,0.4657,0.8170,0.3400,0.4681,0.8321,0.3640,0.606557,0.655738,-0.0
5,2022-03-02,NOP,SAC,110.0,107.4,2.6,0.4764,0.8413,0.2858,0.4629,0.7587,0.3283,0.389831,0.360656,0.0
6,2022-03-02,DEN,OKC,122.2,104.4,17.8,0.5054,0.8361,0.4008,0.4263,0.7409,0.3154,0.561404,0.311475,0.2
7,2022-03-02,PHO,POR,119.1,107.4,11.7,0.5078,0.7255,0.3690,0.4645,0.7169,0.3798,0.803279,0.409836,0.4

In [171]:
# #copy and paste this
# #because ind 4 does not work work to replace it
#     date = group_by_date_for_ml.loc[ind]['DATE']
#     home_abbr = group_by_date_for_ml.loc[ind]['HOME_ABBR']
#     visitor_abbr = group_by_date_for_ml.loc[ind]['VISITOR_ABBR']
#     diff = group_by_date_for_ml.loc[ind]['diff_%']
#     home_df = calculated_df[calculated_df['HOME_ABBR'] == home_abbr]
#     home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
#     home_df = home_df.round({"diff_%":1})
#     mean_grouped_home_df = home_df.groupby("diff_%").mean().reset_index()
#     list_ = mean_grouped_home_df['diff_%'].tolist()
#     arr = np.asarray(list_)
#     input_val = (np.abs(arr - 0)).argmin()
#     return_ = arr[input_val]
#     if (diff in list_):
#         mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == diff]
#     else:
#         mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == return_]
#         print(f'{home_abbr} does not have the average correct')
#         print(f'Ind:{ind}')
#     mean_grouped_home_df['HOME/VISITOR'] = 'HOME'
#     mean_grouped_home_df['ABBR'] = home_abbr
#     mean_grouped_home_df['DATE'] = date
#     mean_grouped_home_df = mean_grouped_home_df.rename(columns={"home_winning_percentage":"winning_percentage"})
#     mean_grouped_home_df = mean_grouped_home_df.drop('visitor_winning_percentage',1)
#     mean_grouped_home_df = mean_grouped_home_df[['DATE','ABBR','HOME/VISITOR','PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home',
#        'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away',
#        'FG3_PCT_away', 'winning_percentage','diff_%']]
#     visitor_df = calculated_df[calculated_df['VISITOR_ABBR'] == visitor_abbr]
#     visitor_df['diff_%'] = visitor_df['home_winning_percentage'] - visitor_df['visitor_winning_percentage']
#     visitor_df = visitor_df.round({"diff_%":1})
#     mean_grouped_visitor_df = visitor_df.groupby("diff_%").mean().reset_index()
#     list_ = mean_grouped_visitor_df['diff_%'].tolist()
#     arr = np.asarray(list_)
#     input_val = (np.abs(arr - 0)).argmin()
#     return_ = arr[input_val]
#     if (diff in list_):
#         mean_grouped_visitor_df = mean_grouped_visitor_df.loc[mean_grouped_visitor_df['diff_%'] == diff]
#     else:
#         mean_grouped_visitor_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == return_]
#         print(f'{visitor_abbr} does not have an average group')
#     mean_grouped_visitor_df['HOME/VISITOR'] = 'VISITOR'
#     mean_grouped_visitor_df['ABBR'] = visitor_abbr
#     mean_grouped_visitor_df['DATE'] = date
#     mean_grouped_visitor_df = mean_grouped_visitor_df.rename(columns={"visitor_winning_percentage":"winning_percentage"})
#     mean_grouped_visitor_df = mean_grouped_visitor_df.drop('home_winning_percentage',1)
#     mean_grouped_visitor_df = mean_grouped_visitor_df[['DATE','ABBR','HOME/VISITOR','PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home',
#        'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away',
#        'FG3_PCT_away', 'winning_percentage','diff_%']]
#     #mean_grouped_home_df
#     #mean_grouped_visitor_df

IndentationError: unexpected indent (<ipython-input-171-54ec2a60c1ab>, line 3)

In [176]:
# #copy and paste this
# #because ind 4 does not work work to replace it
# date = group_by_date_for_ml.loc[4]['DATE']
# home_abbr = group_by_date_for_ml.loc[4]['HOME_ABBR']
# visitor_abbr = group_by_date_for_ml.loc[4]['VISITOR_ABBR']
# diff = group_by_date_for_ml.loc[4]['diff_%']
# home_df = calculated_df[calculated_df['HOME_ABBR'] == home_abbr]
# home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
# home_df = home_df.round({"diff_%":1})
# mean_grouped_home_df = home_df.groupby("diff_%").mean().reset_index()
# list_ = mean_grouped_home_df['diff_%'].tolist()
# arr = np.asarray(list_)
# input_val = (np.abs(arr - 0)).argmin()
# return_ = arr[input_val]
# if (diff in list_):
#     mean_grouped_home_df_1 = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == diff]
# else:
#     mean_grouped_home_df_1 = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == return_]
#     print(f'{home_abbr} does not have the average correct')
#     print(f'Ind:{ind}')
# mean_grouped_home_df_1['HOME/VISITOR'] = 'HOME'
# mean_grouped_home_df_1['ABBR'] = home_abbr
# mean_grouped_home_df_1['DATE'] = date
# mean_grouped_home_df_1 = mean_grouped_home_df_1.rename(columns={"home_winning_percentage":"winning_percentage"})
# mean_grouped_home_df_1 = mean_grouped_home_df_1.drop('visitor_winning_percentage',1)
# mean_grouped_home_df_1 = mean_grouped_home_df_1[['DATE','ABBR','HOME/VISITOR','PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home',
#    'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away',
#    'FG3_PCT_away', 'winning_percentage','diff_%']]
# visitor_df = calculated_df[calculated_df['VISITOR_ABBR'] == visitor_abbr]
# visitor_df['diff_%'] = visitor_df['home_winning_percentage'] - visitor_df['visitor_winning_percentage']
# visitor_df = visitor_df.round({"diff_%":1})
# mean_grouped_visitor_df = visitor_df.groupby("diff_%").mean().reset_index()
# list_ = mean_grouped_visitor_df['diff_%'].tolist()
# arr = np.asarray(list_)
# input_val = (np.abs(arr - 0)).argmin()
# return_ = arr[input_val]
# if (diff in list_):
#     mean_grouped_visitor_df = mean_grouped_visitor_df.loc[mean_grouped_visitor_df['diff_%'] == diff]
# else:
#     mean_grouped_visitor_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == return_]
#     print(f'{visitor_abbr} does not have an average group')
# mean_grouped_visitor_df['HOME/VISITOR'] = 'VISITOR'
# mean_grouped_visitor_df['ABBR'] = visitor_abbr
# mean_grouped_visitor_df['DATE'] = date
# mean_grouped_visitor_df = mean_grouped_visitor_df.rename(columns={"visitor_winning_percentage":"winning_percentage"})
# mean_grouped_visitor_df = mean_grouped_visitor_df.drop('home_winning_percentage',1)
# mean_grouped_visitor_df = mean_grouped_visitor_df[['DATE','ABBR','HOME/VISITOR','PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home',
#    'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away',
#    'FG3_PCT_away', 'winning_percentage','diff_%']]
# #mean_grouped_home_df
#     #mean_grouped_visitor_df

MIA does not have the average correct
Ind:6

<ipython-input-176-f3b050ecbf88>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
<ipython-input-176-f3b050ecbf88>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mean_grouped_home_df_1['HOME/VISITOR'] = 'HOME'
<ipython-input-176-f3b050ecbf88>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mean_grouped_home_df_1['ABBR'] = home_abbr
<ipython-input-176-f3b050ecbf88>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mean_grouped_home_df_1['DATE'] = date
<ipython-input-176-f3b050ecbf88>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  visitor_df['diff_%'] = visitor_df['home_winning_percentage'] - visitor_df['visitor_winning_percentage']

In [167]:
mean_grouped_home_df

,DATE,ABBR,HOME/VISITOR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,winning_percentage,diff_%
3,2022-02-27,LAL,HOME,6.625,5.3625,1.2625,0.01745,0.040675,0.016,-0.0136,-0.026687,-0.005312,0.494376,0.1

In [168]:
more_precise_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,diff_%
0,2022-02-27,NYK,HOME,-0.900000,2.050000,-2.950000,0.010750,0.013650,-0.008000,-0.003150,0.026600,0.018525,0.455662,-0.2
1,2022-02-27,PHI,VISITOR,-13.850000,-4.700000,-9.150000,-0.038300,-0.069450,-0.079000,-0.032600,0.030100,-0.031200,0.571256,-0.2
2,2022-02-27,PHO,HOME,-0.600000,-4.060000,3.460000,0.008200,-0.000700,0.020200,0.006120,-0.036020,-0.001300,0.806082,0.2
3,2022-02-27,UTA,VISITOR,-4.000000,1.600000,-5.600000,-0.030600,-0.196900,0.010400,0.032500,-0.117700,0.082100,0.625000,0.2
4,2022-02-27,IND,HOME,-1.766667,9.100000,-10.866667,-0.010567,0.085567,-0.050600,0.060417,0.041050,0.087033,0.367205,-0.2
5,2022-02-27,BOS,VISITOR,-16.400000,-26.100000,9.700000,-0.032200,-0.016900,-0.094700,-0.116800,-0.131800,-0.082600,0.500000,-0.2
6,2022-02-27,CHO,HOME,18.833333,3.400000,15.433333,0.063767,-0.001967,0.130633,0.019067,-0.067333,-0.026400,0.537641,0.3
7,2022-02-27,DET,VISITOR,6.720000,2.600000,4.120000,0.041700,-0.003890,0.036930,0.014100,0.010000,-0.001500,0.195620,0.3
8,2022-02-27,HOU,HOME,13.500000,21.950000,-8.450000,0.049900,-0.013300,0.061100,0.045650,-0.008150,0.016750,0.277003,-0.2
9,2022-02-27,LAC,VISITOR,1.400000,-5.600000,7.000000,0.043900,-0.201900,0.080500,-0.019800,-0.069300,0.047800,0.533333,-0.2
10,2022-02-27,GSW,HOME,-8.633333,-6.200000,-2.433333,-0.029300,0.021567,-0.051500,-0.050433,0.011967,-0.004533,0.725090,0.1
11,2022-02-27,DAL,VISITOR,-19.200000,-4.250000,-14.950000,-0.068650,-0.038725,-0.078450,-0.010100,0.014800,0.014550,0.569171,0.1
12,2022-02-27,POR,HOME,9.542857,7.185714,2.357143,0.028257,0.072614,0.011214,0.042414,-0.026271,0.024371,0.414222,-0.1
13,2022-02-27,DEN,VISITOR,7.275000,-4.450000,11.725000,0.026375,-0.009275,0.027975,-0.046000,0.004600,-0.015950,0.510000,-0.1
14,2022-02-27,LAL,HOME,6.625000,5.362500,1.262500,0.017450,0.040675,0.016000,-0.013600,-0.026687,-0.005312,0.494376,0.1
15,2022-02-27,NOP,VISITOR,-7.500000,-8.800000,1.300000,-0.009533,-0.002867,-0.070200,-0.019733,-0.137200,-0.002200,0.339092,0.1

In [55]:
more_precise_df_1 = more_precise_df.copy()

In [251]:
# more_precise_df_1.loc[8] = ['2/26/22', 'MIA', 'HOME', '-0.8', '-6.33', '-6', '0', '-0.02', '0.01', '0', '0', '0', '0.62', '0.3']
# adjustment needed?

In [272]:
user_input = input('adjustment needed?')

adjustment needed?

In [252]:
more_precise_df_1

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,diff_%
0,2022-02-26,DET,HOME,-3.73333,-3.9,0.166667,-0.0219333,-0.0271,0.0174667,-0.0270167,0.0467333,-0.0179667,0.218302,-0.3
1,2022-02-26,BOS,VISITOR,-18.9,-5.1,-13.8,-0.10335,0.05975,-0.0352,-0.0338,0.0457,-0.0746,0.541246,-0.3
2,2022-02-26,ATL,HOME,1.2,3.8,-2.6,-0.001,0.0183,-0.0012,0.01218,0.01432,0.02052,0.456171,-0.1
3,2022-02-26,TOR,VISITOR,-4.4,-9.7,5.3,0.00935,-0.10965,-0.0125,-0.0099,-0.0526,-0.0371,0.511156,-0.1
4,2022-02-26,CHI,HOME,-11.6,10.4,-22,-0.0436,-0.0155333,-0.0495,0.0408333,0.0281667,0.0894333,0.644666,-0
5,2022-02-26,MEM,VISITOR,-2.66667,-5.7,3.03333,0.0137,0.0241,-0.0363667,-0.0132,-0.00863333,-0.0337667,0.625097,-0
6,2022-02-26,CLE,HOME,1.4,-7.8,9.2,-0.0128333,0.0785333,-0.0260333,-0.0276333,0.0102,-0.0452667,0.58228,0.2
7,2022-02-26,WAS,VISITOR,-0.5,-0.633333,0.133333,-0.0179667,-0.0134,0.0470333,-0.0132667,0.0334333,-0.0764,0.490899,0.2
8,2/26/22,MIA,HOME,-0.8,-6.33,-6,0,-0.02,0.01,0,0,0,0.62,0.3
9,2022-02-26,SAS,VISITOR,6.425,-7.1,13.525,0.01375,0.0258,0.03665,-0.029,-0.07165,-0.021,0.380105,0.3
10,2022-02-26,MIL,HOME,-2.15,-2.6875,0.5375,-0.01225,-0.0074,0.02395,-0.0260875,-0.0218875,-0.00055,0.605194,0.1
11,2022-02-26,BRK,VISITOR,-0.55,-1.5,0.95,-0.01855,0.02425,-0.03495,-0.0298,-0.0385,-0.0115,0.554847,0.1
12,2022-02-26,DEN,HOME,-17.2,7.2,-24.4,-0.0564,0.1049,0.0622,0.0936,0.1448,-0.0052,0.538462,0.2
13,2022-02-26,SAC,VISITOR,10.7667,1.9,8.86667,0.0327667,0.1014,0.0886,-0.0084,-0.0737333,-0.0146,0.385096,0.2

In [ ]:
    #length_of_df = len(more_precise_df)
    #more_precise_df.loc[length_of_df] = mean_grouped_home_df.iloc[0].tolist()
    #length_of_df = len(more_precise_df)
    #more_precise_df.loc[length_of_df] = mean_grouped_visitor_df.iloc[0].tolist()

In [56]:
#based on the group_by_date_for_ml you want to see what is the differences that come up
# based on winning percentage differential

diff_df_columns = [ 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away']
diff_df = pd.DataFrame(columns=diff_df_columns)

for ind in group_by_date_for_ml.index:
    empty_ = []
    home_abbr = group_by_date_for_ml.loc[ind]['HOME_ABBR']
    visitor_abbr = group_by_date_for_ml.loc[ind]['VISITOR_ABBR']
    diff = group_by_date_for_ml.loc[ind]['diff_%']
    home_df = calculated_df[calculated_df['HOME_ABBR'] == home_abbr]
    home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
    home_df = home_df.round({"diff_%":1})
    mean_grouped_home_df = home_df.groupby("diff_%").mean().reset_index()
    list_ = mean_grouped_home_df['diff_%'].tolist()
    arr = np.asarray(list_)
    input_val = (np.abs(arr - diff)).argmin()
    return_ = arr[input_val]
    if (diff in list_):
        mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == diff]
    else:
        mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == return_]
        print(f'{home_abbr} does not have the average correct')
        print(f'Ind:{ind}')
    mean_grouped_home_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == diff]
    visitor_df = calculated_df[calculated_df['VISITOR_ABBR'] == visitor_abbr]
    visitor_df['diff_%'] = visitor_df['home_winning_percentage'] - visitor_df['visitor_winning_percentage']
    visitor_df = visitor_df.round({"diff_%":1})
    mean_grouped_visitor_df = visitor_df.groupby("diff_%").mean().reset_index()
    list_ = mean_grouped_visitor_df['diff_%'].tolist()
    arr = np.asarray(list_)
    input_val = (np.abs(arr - diff)).argmin()
    return_ = arr[input_val]
    if (diff in list_):
        mean_grouped_visitor_df = mean_grouped_visitor_df.loc[mean_grouped_visitor_df['diff_%'] == diff]
    else:
        mean_grouped_visitor_df = mean_grouped_home_df.loc[mean_grouped_home_df['diff_%'] == return_]
        print(f'{visitor_abbr} does not have an average group')
    mean_grouped_visitor_df = mean_grouped_visitor_df.loc[mean_grouped_visitor_df['diff_%'] == diff]
    grouped_df = pd.concat((mean_grouped_home_df, mean_grouped_visitor_df))
    empty_.append(group_by_date_for_ml.loc[ind]['DATE'])
    empty_.append(home_abbr)
    empty_.append(visitor_abbr)
    empty_.append(grouped_df.mean()['PTS_home'])
    empty_.append(grouped_df.mean()['PTS_away'])
    empty_.append(grouped_df.mean()['MARGIN'])
    empty_.append(grouped_df.mean()['FG_PCT_home'])
    empty_.append(grouped_df.mean()['FT_PCT_home'])
    empty_.append(grouped_df.mean()['FG3_PCT_home'])
    empty_.append(grouped_df.mean()['FG_PCT_away'])
    empty_.append(grouped_df.mean()['FT_PCT_away'])
    empty_.append(grouped_df.mean()['FG3_PCT_away'])
    length_of_df = len(diff_df)
    diff_df.loc[length_of_df] = empty_

<ipython-input-56-4a6e1ee22edf>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_df['diff_%'] = home_df['home_winning_percentage'] - home_df['visitor_winning_percentage']
<ipython-input-56-4a6e1ee22edf>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  visitor_df['diff_%'] = visitor_df['home_winning_percentage'] - visitor_df['visitor_winning_percentage']

In [59]:
diff_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,2022-03-01,WAS,DET,13.050000,15.050000,-2.000000,0.051150,-0.046550,0.050600,0.032375,0.022550,-0.010800
1,2022-03-01,BOS,ATL,-1.007143,-7.357143,6.350000,-0.002964,0.031986,0.002864,-0.029393,0.057486,-0.012164
2,2022-03-01,TOR,BRK,2.025000,-1.050000,3.075000,0.003325,0.002675,-0.006275,-0.014170,-0.046300,0.012500
3,2022-03-01,HOU,LAC,7.850000,8.650000,-0.800000,0.046600,-0.090450,0.070950,0.008700,-0.031525,0.032225
4,2022-03-01,MIN,GSW,1.216667,-9.266667,10.483333,0.028733,-0.104417,0.016200,-0.031700,-0.041133,-0.053467
5,2022-03-01,LAL,DAL,-12.120000,-5.500000,-6.620000,-0.023620,0.050620,-0.002160,0.013100,0.028000,-0.047000

In [273]:
# in case adjustment needed
# diff_df.loc[4] = ['2/26/22', 'MIA', 'SAS', '6.425', '-6.33', '12', '0', '-0.02', '0.01', '0', '0', '0']

In [274]:
user_input = input('adjustment needed?')

adjustment needed?

In [57]:
diff_df["DATE"]= pd.to_datetime(diff_df["DATE"])
diff_df['PTS_home'] = pd.to_numeric(diff_df['PTS_home'])
diff_df['PTS_away'] = pd.to_numeric(diff_df['PTS_away'])
diff_df['MARGIN'] = pd.to_numeric(diff_df['MARGIN'])
diff_df['FG_PCT_home'] = pd.to_numeric(diff_df['FG_PCT_home'])
diff_df['FT_PCT_home'] = pd.to_numeric(diff_df['FT_PCT_home'])
diff_df['FG3_PCT_home'] = pd.to_numeric(diff_df['FG3_PCT_home'])
diff_df['FG_PCT_away'] = pd.to_numeric(diff_df['FG_PCT_away'])
diff_df['FT_PCT_away'] = pd.to_numeric(diff_df['FT_PCT_away'])
diff_df['FG3_PCT_away'] = pd.to_numeric(diff_df['FG3_PCT_away'])

In [58]:
diff_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,2022-03-02,CLE,CHO,8.425000,-4.045000,12.470000,0.013150,-0.026100,0.039450,-0.012610,-0.007325,0.031675
1,2022-03-02,ORL,IND,5.750000,-6.166667,11.916667,0.006233,-0.069983,-0.009067,0.022467,-0.005467,0.016700
2,2022-03-02,PHI,NYK,5.737500,-5.150000,10.887500,0.012150,0.061250,-0.011525,-0.011150,0.022275,-0.009675
3,2022-03-02,HOU,UTA,9.075000,13.325000,-4.250000,0.001050,-0.017450,0.036525,0.019500,0.014925,0.031475
4,2022-03-02,MIL,MIA,-7.329167,-3.941667,-3.387500,-0.023100,0.009467,-0.004500,-0.023233,-0.028942,-0.021358
5,2022-03-02,NOP,SAC,-0.525000,-4.750000,4.225000,0.005850,0.058775,0.002450,-0.037100,0.001000,-0.017725
6,2022-03-02,DEN,OKC,-8.830000,5.000000,-13.830000,-0.037690,0.053200,0.032770,0.053350,0.086050,0.013550
7,2022-03-02,PHO,POR,-5.300000,-7.900000,2.600000,-0.026350,0.033500,-0.044650,-0.043900,0.028050,-0.074940

In [62]:
group_by_date_for_ml 
# at this point is the grouped box score

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage,diff_%
0,2022-03-01,WAS,DET,108.4,105.8,2.6,0.4593,0.8101,0.3108,0.4316,0.7623,0.3585,0.457627,0.237288,0.2
1,2022-03-01,BOS,ATL,111.2,109.1,2.1,0.4744,0.8166,0.3439,0.4426,0.8192,0.3360,0.566667,0.473684,0.1
2,2022-03-01,TOR,BRK,115.2,110.0,5.2,0.4632,0.7631,0.3968,0.4548,0.7845,0.3580,0.563636,0.508197,0.1
3,2022-03-01,HOU,LAC,108.2,106.9,1.3,0.4466,0.6704,0.3328,0.4685,0.7376,0.3567,0.250000,0.491803,-0.2
4,2022-03-01,MIN,GSW,116.5,112.1,4.4,0.4590,0.7464,0.3482,0.4537,0.8063,0.3793,0.524590,0.704918,-0.2
5,2022-03-01,LAL,DAL,109.8,110.7,-0.9,0.4570,0.7187,0.3147,0.4809,0.7548,0.3760,0.450000,0.578947,-0.1

In [116]:
#previously
#diff_df.to_csv('diff_df_feb_24.csv', index=False)
#group_by_date_for_ml.to_csv('grouped_feb_24.csv', index=False)

In [63]:
diff_df.head()

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,2022-03-01,WAS,DET,13.050000,15.050000,-2.000000,0.051150,-0.046550,0.050600,0.032375,0.022550,-0.010800
1,2022-03-01,BOS,ATL,-1.007143,-7.357143,6.350000,-0.002964,0.031986,0.002864,-0.029393,0.057486,-0.012164
2,2022-03-01,TOR,BRK,2.025000,-1.050000,3.075000,0.003325,0.002675,-0.006275,-0.014170,-0.046300,0.012500
3,2022-03-01,HOU,LAC,7.850000,8.650000,-0.800000,0.046600,-0.090450,0.070950,0.008700,-0.031525,0.032225
4,2022-03-01,MIN,GSW,1.216667,-9.266667,10.483333,0.028733,-0.104417,0.016200,-0.031700,-0.041133,-0.053467

In [64]:
group_by_date_for_ml.head()

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage,diff_%
0,2022-03-01,WAS,DET,108.4,105.8,2.6,0.4593,0.8101,0.3108,0.4316,0.7623,0.3585,0.457627,0.237288,0.2
1,2022-03-01,BOS,ATL,111.2,109.1,2.1,0.4744,0.8166,0.3439,0.4426,0.8192,0.3360,0.566667,0.473684,0.1
2,2022-03-01,TOR,BRK,115.2,110.0,5.2,0.4632,0.7631,0.3968,0.4548,0.7845,0.3580,0.563636,0.508197,0.1
3,2022-03-01,HOU,LAC,108.2,106.9,1.3,0.4466,0.6704,0.3328,0.4685,0.7376,0.3567,0.250000,0.491803,-0.2
4,2022-03-01,MIN,GSW,116.5,112.1,4.4,0.4590,0.7464,0.3482,0.4537,0.8063,0.3793,0.524590,0.704918,-0.2

In [59]:
date1 = group_by_date_for_ml['DATE']
home_abbr1 = group_by_date_for_ml['HOME_ABBR']
visitor_abbr1 = group_by_date_for_ml['VISITOR_ABBR']
home_winning_percentage = group_by_date_for_ml['home_winning_percentage']
visitor_winning_percentage = group_by_date_for_ml['visitor_winning_percentage']
diff = group_by_date_for_ml['diff_%']

In [60]:
group_by_date_for_ml = group_by_date_for_ml.drop('DATE', 1)
group_by_date_for_ml = group_by_date_for_ml.drop('HOME_ABBR', 1)
group_by_date_for_ml = group_by_date_for_ml.drop('VISITOR_ABBR', 1)
group_by_date_for_ml = group_by_date_for_ml.drop('home_winning_percentage', 1)
group_by_date_for_ml = group_by_date_for_ml.drop('visitor_winning_percentage', 1)
group_by_date_for_ml = group_by_date_for_ml.drop('diff_%', 1)

In [61]:
diff_df = diff_df.drop('DATE', 1)
diff_df = diff_df.drop('HOME_ABBR', 1)
diff_df = diff_df.drop('VISITOR_ABBR', 1)
diff_df

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,8.425000,-4.045000,12.470000,0.013150,-0.026100,0.039450,-0.012610,-0.007325,0.031675
1,5.750000,-6.166667,11.916667,0.006233,-0.069983,-0.009067,0.022467,-0.005467,0.016700
2,5.737500,-5.150000,10.887500,0.012150,0.061250,-0.011525,-0.011150,0.022275,-0.009675
3,9.075000,13.325000,-4.250000,0.001050,-0.017450,0.036525,0.019500,0.014925,0.031475
4,-7.329167,-3.941667,-3.387500,-0.023100,0.009467,-0.004500,-0.023233,-0.028942,-0.021358
5,-0.525000,-4.750000,4.225000,0.005850,0.058775,0.002450,-0.037100,0.001000,-0.017725
6,-8.830000,5.000000,-13.830000,-0.037690,0.053200,0.032770,0.053350,0.086050,0.013550
7,-5.300000,-7.900000,2.600000,-0.026350,0.033500,-0.044650,-0.043900,0.028050,-0.074940

In [62]:
diff_df['PTS_home'] = pd.to_numeric(diff_df['PTS_home'])
diff_df['PTS_away'] = pd.to_numeric(diff_df['PTS_away'])
diff_df['MARGIN'] = pd.to_numeric(diff_df['MARGIN'])
diff_df['FG_PCT_home'] = pd.to_numeric(diff_df['FG_PCT_home'])
diff_df['FT_PCT_home'] = pd.to_numeric(diff_df['FT_PCT_home'])
diff_df['FG3_PCT_home'] = pd.to_numeric(diff_df['FG3_PCT_home'])
diff_df['FG_PCT_away'] = pd.to_numeric(diff_df['FG_PCT_away'])
diff_df['FT_PCT_away'] = pd.to_numeric(diff_df['FT_PCT_away'])
diff_df['FG3_PCT_away'] = pd.to_numeric(diff_df['FG3_PCT_away'])

In [69]:
diff_df

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,13.050000,15.050000,-2.000000,0.051150,-0.046550,0.050600,0.032375,0.022550,-0.010800
1,-1.007143,-7.357143,6.350000,-0.002964,0.031986,0.002864,-0.029393,0.057486,-0.012164
2,2.025000,-1.050000,3.075000,0.003325,0.002675,-0.006275,-0.014170,-0.046300,0.012500
3,7.850000,8.650000,-0.800000,0.046600,-0.090450,0.070950,0.008700,-0.031525,0.032225
4,1.216667,-9.266667,10.483333,0.028733,-0.104417,0.016200,-0.031700,-0.041133,-0.053467
5,-12.120000,-5.500000,-6.620000,-0.023620,0.050620,-0.002160,0.013100,0.028000,-0.047000

In [195]:
#compare and contrast with _____________ more_precise_df_1

In [197]:
more_precise_df

Empty DataFrame
Columns: [DATE, HOME_ABBR, VISITOR_ABBR, PTS_home, PTS_away, MARGIN, FG_PCT_home, FT_PCT_home, FG3_PCT_home, FG_PCT_away, FT_PCT_away, FG3_PCT_away, home_winning_percentage, diff_%]
Index: []

In [196]:
more_precise_df_1

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,diff_%
8,2/26/22,MIA,HOME,-0.8,-6.33,-6,0,-0.02,0.01,0,0,0,0.62,0.3

In [202]:
group_by_date_for_ml

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,107.4,114.1,-6.7,0.4386,0.7811,0.3202,0.4868,0.7988,0.3766
1,120.4,110.2,10.2,0.5212,0.7941,0.4002,0.4559,0.7516,0.3611
2,119.6,119.7,-0.1,0.5166,0.8492,0.3555,0.4662,0.6793,0.3271
3,104.6,109.3,-4.7,0.4665,0.7188,0.3287,0.4716,0.7919,0.3854
4,110,113,-3,0.46,0.83,0.36,0.47,0.8,0.34
5,113.9,110,3.9,0.4555,0.8219,0.3308,0.4548,0.7845,0.358
6,122.2,103.1,19.1,0.5054,0.8361,0.4008,0.4454,0.7534,0.3186

In [63]:
group_by_date_for_ml['PTS_home'] = pd.to_numeric(group_by_date_for_ml['PTS_home'])
group_by_date_for_ml['PTS_away'] = pd.to_numeric(group_by_date_for_ml['PTS_away'])
group_by_date_for_ml['MARGIN'] = pd.to_numeric(group_by_date_for_ml['MARGIN'])
group_by_date_for_ml['FG_PCT_home'] = pd.to_numeric(group_by_date_for_ml['FG_PCT_home'])
group_by_date_for_ml['FT_PCT_home'] = pd.to_numeric(group_by_date_for_ml['FT_PCT_home'])
group_by_date_for_ml['FG3_PCT_home'] = pd.to_numeric(group_by_date_for_ml['FG3_PCT_home'])
group_by_date_for_ml['FG_PCT_away'] = pd.to_numeric(group_by_date_for_ml['FG_PCT_away'])
group_by_date_for_ml['FT_PCT_away'] = pd.to_numeric(group_by_date_for_ml['FT_PCT_away'])
group_by_date_for_ml['FG3_PCT_away'] = pd.to_numeric(group_by_date_for_ml['FG3_PCT_away'])

In [64]:
combined_df = diff_df + group_by_date_for_ml
combined_df['DATE'] = date1
combined_df['HOME_ABBR'] = home_abbr1
combined_df['VISITOR_ABBR'] = visitor_abbr1
combined_df['home_winning_percentage'] = home_winning_percentage
combined_df['visitor_winning_percentage'] = visitor_winning_percentage
combined_df['diff_%'] = diff
combined_df = combined_df[['DATE','HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away','home_winning_percentage',
       'visitor_winning_percentage', 'diff_%']]

In [72]:
combined_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage,diff_%
0,2022-03-01,WAS,DET,121.450000,120.850000,0.600000,0.510450,0.763550,0.361400,0.463975,0.784850,0.347700,0.457627,0.237288,0.2
1,2022-03-01,BOS,ATL,110.192857,101.742857,8.450000,0.471436,0.848586,0.346764,0.413207,0.876686,0.323836,0.566667,0.473684,0.1
2,2022-03-01,TOR,BRK,117.225000,108.950000,8.275000,0.466525,0.765775,0.390525,0.440630,0.738200,0.370500,0.563636,0.508197,0.1
3,2022-03-01,HOU,LAC,116.050000,115.550000,0.500000,0.493200,0.579950,0.403750,0.477200,0.706075,0.388925,0.250000,0.491803,-0.2
4,2022-03-01,MIN,GSW,117.716667,102.833333,14.883333,0.487733,0.641983,0.364400,0.422000,0.765167,0.325833,0.524590,0.704918,-0.2
5,2022-03-01,LAL,DAL,97.680000,105.200000,-7.520000,0.433380,0.769320,0.312540,0.494000,0.782800,0.329000,0.450000,0.578947,-0.1

In [65]:
group_by_date_for_ml['HOME_ABBR'] = home_abbr1
group_by_date_for_ml['VISITOR_ABBR'] = visitor_abbr1
group_by_date_for_ml = group_by_date_for_ml[['HOME_ABBR', 'VISITOR_ABBR','PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away']]

In [66]:
diff_df['HOME_ABBR'] = home_abbr1
diff_df['VISITOR_ABBR'] = visitor_abbr1
diff_df = diff_df[['HOME_ABBR', 'VISITOR_ABBR','PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away']]

In [67]:
combined_df.to_csv('../3-data_analysis/prediction/for_ml_data/03_02_for_ml.csv', index=False)

In [ ]:
combined_df

In [84]:
group_by_date_for_ml

,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,WAS,DET,108.4,105.8,2.6,0.4593,0.8101,0.3108,0.4316,0.7623,0.3585
1,BOS,ATL,111.2,109.1,2.1,0.4744,0.8166,0.3439,0.4426,0.8192,0.3360
2,TOR,BRK,115.2,110.0,5.2,0.4632,0.7631,0.3968,0.4548,0.7845,0.3580
3,HOU,LAC,108.2,106.9,1.3,0.4466,0.6704,0.3328,0.4685,0.7376,0.3567
4,MIN,GSW,116.5,112.1,4.4,0.4590,0.7464,0.3482,0.4537,0.8063,0.3793
5,LAL,DAL,109.8,110.7,-0.9,0.4570,0.7187,0.3147,0.4809,0.7548,0.3760

In [68]:
group_by_date_for_ml.to_csv('results/03_02_grouped.csv', index=False)

In [69]:
diff_df.to_csv('results/03_02_diff.csv', index=False)

In [70]:
more_precise_df.to_csv('results/03_02_more_precise.csv', index=False)

In [379]:
pwd

'/Users/stanleytan/Documents/ucb/ucb_/33-prev_projects/stack/4-Project/inclass/3rd_project_tied_4th/first_step/machine_learning_nba/1-webscraper'

In [131]:
combined_df
#this is the dataset for machine learning

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage,diff_%
0,2022-02-25,CHO,TOR,88.700000,106.110000,-17.410000,0.357550,0.663900,0.222700,0.434320,0.818640,0.377520,0.483333,0.562500,-0.1
1,2022-02-25,IND,OKC,112.650000,97.500000,15.150000,0.471250,0.738950,0.337650,0.410900,0.713000,0.250400,0.333333,0.305085,0.0
2,2022-02-25,ORL,HOU,115.450000,113.350000,2.100000,0.492200,0.869200,0.373350,0.452150,0.820100,0.381400,0.216667,0.265487,-0.0
3,2022-02-25,WAS,SAS,104.506250,112.862500,-8.356250,0.436475,0.793663,0.289969,0.465525,0.789850,0.365750,0.464912,0.380531,0.1
4,2022-02-25,NYK,MIA,102.820833,112.416667,-9.595833,0.435819,0.778085,0.334569,0.472446,0.877958,0.399608,0.423729,0.641026,-0.2
5,2022-02-25,MIN,PHI,119.494444,107.816667,11.677778,0.461944,0.752783,0.356319,0.436778,0.829694,0.378556,0.533333,0.600000,-0.1
6,2022-02-25,PHO,NOP,116.350000,98.362500,17.987500,0.505300,0.741300,0.422075,0.426763,0.795438,0.280825,0.829060,0.389831,0.4
7,2022-02-25,UTA,DAL,110.362500,98.975000,11.387500,0.494637,0.817938,0.354763,0.452575,0.757700,0.314200,0.626087,0.586207,0.0
8,2022-02-25,LAL,LAC,115.730000,111.716667,4.013333,0.472783,0.672603,0.324827,0.461783,0.801367,0.376467,0.465517,0.491803,-0.0

In [135]:
combined_df.to_csv('feb_25_for_ml.csv', index=False)

In [200]:
den_df = den_df.round({"diff_%":1})

In [201]:
mean_grouped_den_df = den_df.groupby("diff_%").mean().reset_index()

In [205]:
mean_grouped_den_df = mean_grouped_den_df.loc[mean_grouped_den_df['diff_%'] == diff]

In [206]:
grouped_ = pd.concat((mean_grouped_sac_df, mean_grouped_den_df))

In [209]:
grouped_

,diff_%,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage
1,-0.2,-7.600000,3.040000,-10.640000,-0.024500,0.016300,-0.0365,-0.002480,0.053060,-0.004700,0.372494,0.564071
1,-0.2,-2.266667,-0.233333,-2.033333,-0.008933,0.010567,-0.0470,0.002467,-0.023233,-0.015567,0.322531,0.529605

In [211]:
grouped_.mean()

diff_%                       -0.200000
PTS_home                     -4.933333
PTS_away                      1.403333
MARGIN                       -6.336667
FG_PCT_home                  -0.016717
FT_PCT_home                   0.013433
FG3_PCT_home                 -0.041750
FG_PCT_away                  -0.000007
FT_PCT_away                   0.014913
FG3_PCT_away                 -0.010133
home_winning_percentage       0.347513
visitor_winning_percentage    0.546838
dtype: float64

In [145]:
grouped_df = lac_df.groupby("diff_%")

In [148]:
mean_df = grouped_df.mean().reset_index()

In [151]:
mean_df.loc[mean_df['diff_%'] == 0.0]

,diff_%,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage
3,0.0,-11.271429,-7.171429,-4.1,-0.012914,-0.021029,-0.033771,-0.028129,0.074386,-0.072886,0.528201,0.51353

In [143]:
mean_df = grouped_df.mean().reset_index

In [144]:
mean_df.info()

AttributeError: 'function' object has no attribute 'info'

In [141]:
mean_df.loc[mean_df['diff_%'] == '0.0']

AttributeError: 'function' object has no attribute 'loc'

In [106]:
lac_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage,diff_%
13,2021-11-16,LAC,SAS,-7.7,-21.4,13.7,-0.0422,0.1304,-0.0812,-0.0320,-0.0888,-0.1215,0.642857,0.285714,0.4
49,2021-11-21,LAC,DAL,-16.7,-18.8,2.1,0.0028,-0.0566,0.0168,-0.0698,0.2114,-0.1710,0.588235,0.562500,0.0
67,2021-11-23,LAC,DAL,-9.7,2.2,-11.9,-0.0652,0.0494,-0.0842,-0.0418,0.0824,-0.0630,0.555556,0.588235,-0.0
81,2021-11-26,LAC,DET,-6.7,-5.8,-0.9,-0.0482,0.1684,-0.1082,-0.0528,0.0781,-0.0986,0.578947,0.210526,0.4
101,2021-11-28,LAC,GSW,-23.7,-3.5,-20.2,-0.0772,-0.0986,-0.0762,-0.0031,-0.2602,0.0611,0.550000,0.900000,-0.4
114,2021-11-29,LAC,NOP,-9.7,17.6,-27.3,0.0368,-0.0166,-0.0082,0.0472,0.0620,0.0710,0.523810,0.260870,0.3
128,2021-12-01,LAC,SAC,1.3,20.9,-19.6,-0.0072,-0.0286,-0.1072,0.0776,0.0966,0.0764,0.500000,0.391304,0.1
179,2021-12-08,LAC,BOS,0.3,-0.7,1.0,-0.0062,0.1304,0.0408,-0.0032,0.0880,-0.0609,0.538462,0.500000,0.0
192,2021-12-11,LAC,ORL,-7.7,-4.6,-3.1,-0.0202,-0.1116,0.1028,-0.0207,0.1408,0.0018,0.555556,0.185185,0.4
213,2021-12-13,LAC,PHO,-2.7,-18.2,15.5,0.0738,-0.0826,0.0318,-0.1145,0.0579,-0.0771,0.571429,0.807692,-0.2
258,2021-12-20,LAC,SAS,-21.7,2.6,-24.3,-0.0862,-0.0286,-0.1162,-0.0250,-0.1358,-0.0245,0.516129,0.400000,0.1
292,2021-12-26,LAC,DEN,-13.7,-8.9,-4.8,-0.0122,-0.1116,-0.0892,-0.0622,0.0831,0.0151,0.515152,0.500000,0.0
299,2021-12-27,LAC,BRK,-5.7,14.0,-19.7,-0.0962,-0.0376,-0.0192,0.1132,-0.0965,0.0240,0.500000,0.718750,-0.2
351,2022-01-03,LAC,MIN,-9.7,0.6,-10.3,0.0228,0.1034,-0.0532,0.0587,0.0930,-0.0182,0.500000,0.459459,0.0
381,2022-01-08,LAC,MEM,-5.7,3.3,-9.0,-0.0712,0.0544,-0.0842,-0.0289,0.0672,-0.0046,0.475000,0.658537,-0.2
388,2022-01-09,LAC,ATL,-7.7,-18.4,10.7,0.0008,0.0784,-0.0332,-0.0058,0.0020,-0.0725,0.487805,0.435897,0.1
409,2022-01-11,LAC,DEN,-26.7,-26.9,0.2,-0.0722,-0.0286,-0.1032,-0.0732,0.0241,-0.2299,0.500000,0.512821,-0.0
451,2022-01-17,LAC,IND,25.3,21.5,3.8,0.0718,0.0824,0.1028,0.0689,0.1432,0.0390,0.488889,0.340909,0.1
581,2022-02-03,LAC,LAL,-2.7,2.3,-5.0,0.0398,-0.2336,0.0358,-0.0054,-0.0613,0.0177,0.500000,0.471698,0.0
604,2022-02-06,LAC,MIL,-0.7,18.3,-19.0,-0.0602,0.1594,-0.0062,0.0687,0.0206,0.1282,0.490909,0.618182,-0.1
661,2022-02-14,LAC,GSW,5.3,-4.5,9.8,0.0878,-0.2456,0.0438,0.0079,-0.0362,0.0261,0.491525,0.724138,-0.2
684,2022-02-17,LAC,HOU,28.3,-0.5,28.8,0.0768,0.0674,0.1168,0.0119,-0.0231,-0.0024,0.491803,0.258621,0.2

In [ ]:
date1 = group_by_date_df['DATE']
home_abbr1 = group_by_date_df['HOME_ABBR']
visitor_abbr1 = group_by_date_df['VISITOR_ABBR']
home_winning_percentage = group_by_date_df['home_winning_percentage']
visitor_winning_percentage = group_by_date_df['visitor_winning_percentage']

In [93]:
calculated_df

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,-12.6,-13.7,1.1,-0.0805,0.0312,0.0713,-0.0182,-0.0170,-0.0289
1,-2.4,25.9,-28.3,-0.0435,0.1575,-0.0622,0.0856,0.0646,0.1664
2,0.2,-5.4,5.6,0.0110,-0.1259,0.0583,-0.0588,0.1020,0.1950
3,8.6,2.4,6.2,0.0318,-0.1381,0.0668,-0.0057,-0.1332,0.0098
4,-15.0,-27.5,12.5,-0.0108,-0.0579,-0.0336,-0.0741,0.0232,-0.1390
...,...,...,...,...,...,...,...,...,...
680,2.9,0.6,2.3,-0.0131,-0.0386,-0.0299,-0.0691,-0.1925,-0.0876
681,-5.0,7.7,-12.7,-0.0523,-0.0869,0.0554,0.0824,0.0211,0.1146
682,8.0,15.2,-7.2,0.0236,-0.1743,0.1432,0.0572,-0.0126,0.1040
683,6.1,11.7,-5.6,-0.0135,-0.0359,-0.0128,0.0234,0.0572,-0.0357
684,28.3,-0.5,28.8,0.0768,0.0674,0.1168,0.0119,-0.0231,-0.0024

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,2021-11-15,CLE,BOS,92,98,-6,0,0.386,0.750,0.400,18,42,0.462,0.800,0.345,23,46,0.600000,0.500000
1,2021-11-15,DET,SAC,107,129,-22,0,0.406,0.941,0.277,23,47,0.531,0.818,0.485,32,47,0.230769,0.428571
2,2021-11-15,WAS,NOP,105,100,5,1,0.464,0.680,0.357,23,42,0.405,0.853,0.524,20,45,0.769231,0.133333
3,2021-11-15,ATL,ORL,129,111,18,1,0.553,0.656,0.467,32,46,0.453,0.643,0.372,30,41,0.400000,0.214286
4,2021-11-15,NYK,IND,92,84,8,1,0.430,0.700,0.324,22,46,0.372,0.750,0.216,16,44,0.571429,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,2022-02-17,CHO,MIA,107,111,-4,0,0.400,0.700,0.238,27,57,0.402,0.652,0.292,31,56,0.483333,0.644068
681,2022-02-17,BRK,WAS,103,117,-14,0,0.404,0.708,0.368,19,42,0.554,0.813,0.500,26,38,0.525424,0.465517
682,2022-02-17,NOP,DAL,118,125,-7,0,0.500,0.667,0.429,22,48,0.537,0.720,0.475,18,38,0.389831,0.593220
683,2022-02-17,MIL,PHI,120,123,-3,0,0.442,0.786,0.318,20,44,0.500,0.852,0.353,21,46,0.600000,0.603448
684,2022-02-17,LAC,HOU,142,111,31,1,0.554,0.846,0.514,34,50,0.462,0.737,0.351,29,35,0.491803,0.258621

In [56]:
group_by_date_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage
0,2022-02-16,ORL,ATL,104.5,111.4,-6.9,0.4425,0.8193,0.3232,0.4548,0.8400,0.3415,0.216667,0.482759
1,2022-02-16,BOS,DET,111.2,101.8,9.4,0.4744,0.8166,0.3439,0.4198,0.7679,0.3406,0.566667,0.224138
2,2022-02-16,IND,WAS,114.6,109.3,5.3,0.4804,0.7394,0.3601,0.4716,0.7919,0.3854,0.333333,0.456140
3,2022-02-16,NYK,BRK,107.0,110.0,-3.0,0.4408,0.7579,0.3576,0.4548,0.7845,0.3580,0.423729,0.534483
4,2022-02-16,CHI,SAC,120.1,103.1,17.0,0.5225,0.8399,0.3714,0.4454,0.7534,0.3186,0.644068,0.366667
5,2022-02-16,MEM,POR,116.0,107.4,8.6,0.4731,0.7433,0.3509,0.4645,0.7169,0.3798,0.683333,0.423729
6,2022-02-16,MIN,TOR,114.0,110.7,3.3,0.4553,0.7331,0.3466,0.4504,0.7751,0.3600,0.525424,0.561404
7,2022-02-16,OKC,SAS,100.8,113.4,-12.6,0.4170,0.7777,0.3204,0.4640,0.8028,0.3485,0.310345,0.389831
8,2022-02-16,PHO,HOU,118.8,111.5,7.3,0.4997,0.7446,0.3618,0.4501,0.7601,0.3534,0.827586,0.263158
9,2022-02-16,GSW,DEN,115.3,111.9,3.4,0.4823,0.7971,0.3565,0.4732,0.8259,0.3509,0.711864,0.568966
10,2022-02-16,LAL,UTA,113.1,107.4,5.7,0.4709,0.6968,0.3344,0.4615,0.7997,0.3699,0.465517,0.620690
11,2022-02-17,CHO,MIA,104.1,110.4,-6.3,0.4131,0.7386,0.2679,0.4711,0.8445,0.3796,0.483333,0.644068
12,2022-02-17,BRK,WAS,108.0,109.3,-1.3,0.4563,0.7949,0.3126,0.4716,0.7919,0.3854,0.525424,0.465517
13,2022-02-17,NOP,DAL,110.0,109.8,0.2,0.4764,0.8413,0.2858,0.4798,0.7326,0.3710,0.389831,0.593220
14,2022-02-17,MIL,PHI,113.9,111.3,2.6,0.4555,0.8219,0.3308,0.4766,0.7948,0.3887,0.600000,0.603448
15,2022-02-17,LAC,HOU,113.7,111.5,2.2,0.4772,0.7786,0.3972,0.4501,0.7601,0.3534,0.491803,0.258621

In [26]:
for ind in obtain_ten_df_2.index:
    empty_ = []
    date_1 = obtain_ten_df_2.loc[ind]['DATE']
    home_1 = obtain_ten_df_2.loc[ind]['HOME_ABBR']
    visitor_1 = obtain_ten_df_2.loc[ind]['VISITOR_ABBR']
    empty_.append(date_1)
    empty_.append(home_1)
    empty_.append(visitor_1)
    home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] == home_1].tail(10).mean().reset_index()
    home_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))
    visitor_df_group_by = box_score_df.loc[box_score_df['VISITOR_ABBR'] == visitor_1].tail(10).mean().reset_index()
    visitor_df_dict = dict(zip(visitor_df_group_by.iloc[:,0].tolist(), visitor_df_group_by.iloc[:,1].tolist()))
    empty_.append(home_df_dict['PTS_home'])
    empty_.append(visitor_df_dict['PTS_away'])
    margin = home_df_dict['PTS_home'] - visitor_df_dict['PTS_away']
    empty_.append(margin)
    empty_.append(home_df_dict['FG_PCT_home'])
    empty_.append(home_df_dict['FT_PCT_home'])
    empty_.append(home_df_dict['FG3_PCT_home'])
    empty_.append(visitor_df_dict['FG_PCT_away'])
    empty_.append(visitor_df_dict['FT_PCT_away'])
    empty_.append(visitor_df_dict['FG3_PCT_away'])
    empty_.append(obtain_ten_df_2.loc[ind]['home_winning_percentage'])
    empty_.append(obtain_ten_df_2.loc[ind]['visitor_winning_percentage'])
    length_of_df = len(group_by_date_df)
    group_by_date_df.loc[length_of_df] = empty_

In [32]:
for ind in obtain_ten_df_2.index:
    print(ind)
    print(obtain_ten_df_2.loc[ind]['HOME_ABBR'])
#logically thinking why do I see LAC, because it gets to that last

878
CHO
879
BRK
880
NOP
881
MIL
882
LAC

In [36]:
len(empty_)

14

In [29]:
home_1

'LAC'

In [27]:
empty_

[Timestamp('2022-02-17 00:00:00'),
 'LAC',
 'HOU',
 113.7,
 111.5,
 2.200000000000003,
 0.4772,
 0.7786,
 0.39719999999999994,
 0.45010000000000006,
 0.7601,
 0.3534,
 0.4918032786885246,
 0.25862068965517243]

In [ ]:
obtain_ten_df_2 = schedule_df_1[schedule_df_1['DATE'] == '2022-02-24']
obtain

In [8]:
box_score_df_feb_14 = box_score_df.loc[box_score_df['DATE'] == '2022-02-14']

In [10]:
box_score_df_feb_14.to_csv('box_score_feb_14_only.csv', index=False)

In [ ]:
test_df = box_score_df.loc[box_score_df['HOME_ABBR'] == 'DEN']

In [2]:
pip install basketball-reference-scraper

Collecting basketball-reference-scraper
  Using cached basketball_reference_scraper-1.0.26-py3-none-any.whl (46 kB)
Collecting pandas==0.25.3
  Downloading pandas-0.25.3-cp38-cp38-macosx_10_9_x86_64.whl (10.3 MB)
     |████████████████████████████████| 10.3 MB 14.5 MB/s eta 0:00:01
Collecting lxml==4.4.2
  Downloading lxml-4.4.2.tar.gz (2.6 MB)
     |████████████████████████████████| 2.6 MB 40.6 MB/s eta 0:00:01
Collecting bs4==0.0.1
  Using cached bs4-0.0.1.tar.gz (1.1 kB)
Collecting soupsieve==1.9.5
  Using cached soupsieve-1.9.5-py2.py3-none-any.whl (33 kB)
Collecting numpy==1.18.1
  Downloading numpy-1.18.1-cp38-cp38-macosx_10_9_x86_64.whl (15.2 MB)
     |████████████████████████████████| 15.2 MB 35.5 MB/s eta 0:00:01
Collecting pytz==2019.3
  Using cached pytz-2019.3-py2.py3-none-any.whl (509 kB)
Collecting beautifulsoup4==4.8.2
  Using cached beautifulsoup4-4.8.2-py3-none-any.whl (106 kB)
Requirement already satisfied: python-dateutil==2.8.1 in /Users/stanleytan/anaconda3/lib/python3.8/site-packages (from basketball-reference-scraper) (2.8.1)
Collecting six==1.13.0
  Using cached six-1.13.0-py2.py3-none-any.whl (10 kB)
Collecting requests==2.22.0
  Using cached requests-2.22.0-py2.py3-none-any.whl (57 kB)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/stanleytan/anaconda3/lib/python3.8/site-packages (from requests==2.22.0->basketball-reference-scraper) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/stanleytan/anaconda3/lib/python3.8/site-packages (from requests==2.22.0->basketball-reference-scraper) (1.25.11)
Collecting idna<2.9,>=2.5
  Using cached idna-2.8-py2.py3-none-any.whl (58 kB)
Requirement already satisfied: certifi>=2017.4.17 in /Users/stanleytan/anaconda3/lib/python3.8/site-packages (from requests==2.22.0->basketball-reference-scraper) (2020.6.20)
Building wheels for collected packages: lxml, bs4
  Building wheel for lxml (setup.py) ... done
  Created wheel for lxml: filename=lxml-4.4.2-cp38-cp38-macosx_10_9_x86_64.whl size=1787706 sha256=f37d00d5c1681cc6c554151f54eb613c40b7330f2107c9bc7348719f5408ec50
  Stored in directory: /Users/stanleytan/Library/Caches/pip/wheels/f0/48/b1/afbc9466bd44895c9ce63c8f43745399f5e8f6783c21f429de
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=2f91e586cb6a2865c6a2710daa9f7f94e0de96a0142cfd37f423f702221764f7
  Stored in directory: /Users/stanleytan/Library/Caches/pip/wheels/75/78/21/68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built lxml bs4
Installing collected packages: numpy, pytz, pandas, lxml, soupsieve, beautifulsoup4, bs4, six, idna, requests, basketball-reference-scraper
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.2
    Uninstalling numpy-1.19.2:
      Successfully uninstalled numpy-1.19.2
  Attempting uninstall: pytz
    Found existing installation: pytz 2020.1
    Uninstalling pytz-2020.1:
      Successfully uninstalled pytz-2020.1
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.3
    Uninstalling pandas-1.1.3:
      Successfully uninstalled pandas-1.1.3
  Attempting uninstall: lxml
    Found existing installation: lxml 4.6.1
    Uninstalling lxml-4.6.1:
      Successfully uninstalled lxml-4.6.1
  Attempting uninstall: soupsieve
    Found existing installation: soupsieve 2.0.1
    Uninstalling soupsieve-2.0.1:
      Successfully uninstalled soupsieve-2.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.9.3
    Uninstalling beautifulsoup4-4.9.3:
      Successfully uninstalled beautifulsoup4-4.9.3
  Attempting uninstall: six
    Found existing installation: six 1.15.0
    Uninstalling six-1.15.0:
      Successfully uninstalled six-1.15.0
  Attempting uninstall: idna
    Found existing installation: idna 2.10
    Uninstalling idna-2.10:
      Successfully uninstalled idna-2.10
  Attempting uninstall: requests
    Found existing installation: requests 2.24.0
    Uninstalling requests-2.24.0:
      Successfully uninstalled requests-2.24.0
Successfully installed basketball-reference-scraper-1.0.26 beautifulsoup4-4.8.2 bs4-0.0.1 idna-2.8 lxml-4.4.2 numpy-1.18.1 pandas-0.25.3 pytz-2019.3 requests-2.22.0 six-1.13.0 soupsieve-1.9.5
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install Unidecode

Collecting Unidecode
  Using cached Unidecode-1.1.2-py2.py3-none-any.whl (239 kB)
Installing collected packages: Unidecode
Successfully installed Unidecode-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
from basketball_reference_scraper.seasons import get_schedule, get_standings

df = get_schedule(2022, playoffs=False)

In [5]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

In [11]:
schedule_df_1 = df.dropna()

In [13]:
schedule_df_1 = schedule_df_1.drop_duplicates(subset=['DATE'])

In [16]:
schedule_df_1.to_csv('schedule_df_dropped_duplicates.csv', index=False)

In [6]:
schedule_df = df.copy()

In [8]:
schedule_df = schedule_df.fillna(0)

In [9]:
schedule_df.to_csv('schedule_2022.csv', index=False)

In [7]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2021-10-19,Brooklyn Nets,104.0,Milwaukee Bucks,127.0
1,2021-10-19,Golden State Warriors,121.0,Los Angeles Lakers,114.0
2,2021-10-20,Indiana Pacers,122.0,Charlotte Hornets,123.0
3,2021-10-20,Chicago Bulls,94.0,Detroit Pistons,88.0
4,2021-10-20,Boston Celtics,134.0,New York Knicks,138.0
...,...,...,...,...,...
1225,2022-04-10,Los Angeles Lakers,NaN,Denver Nuggets,NaN
1226,2022-04-10,San Antonio Spurs,NaN,Dallas Mavericks,NaN
1227,2022-04-10,Milwaukee Bucks,NaN,Cleveland Cavaliers,NaN
1228,2022-04-10,Washington Wizards,NaN,Charlotte Hornets,NaN
1229,2022-04-10,Indiana Pacers,NaN,Brooklyn Nets,NaN

In [37]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2021-10-19,Brooklyn Nets,104.0,Milwaukee Bucks,127.0
1,2021-10-19,Golden State Warriors,121.0,Los Angeles Lakers,114.0
2,2021-10-20,Indiana Pacers,122.0,Charlotte Hornets,123.0
3,2021-10-20,Chicago Bulls,94.0,Detroit Pistons,88.0
4,2021-10-20,Boston Celtics,134.0,New York Knicks,138.0
...,...,...,...,...,...
1225,2022-04-10,Los Angeles Lakers,NaN,Denver Nuggets,NaN
1226,2022-04-10,San Antonio Spurs,NaN,Dallas Mavericks,NaN
1227,2022-04-10,Milwaukee Bucks,NaN,Cleveland Cavaliers,NaN
1228,2022-04-10,Washington Wizards,NaN,Charlotte Hornets,NaN
1229,2022-04-10,Indiana Pacers,NaN,Brooklyn Nets,NaN

In [39]:
schedule_df_1 = schedule_df.copy()

In [40]:
schedule_df_1['HOME_ABBR'] = 0
schedule_df_1['VISITOR_ABBR'] = 0
schedule_df_1 = schedule_df.fillna(0)

In [41]:
schedule_df_1

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2021-10-19,Brooklyn Nets,104.0,Milwaukee Bucks,127.0
1,2021-10-19,Golden State Warriors,121.0,Los Angeles Lakers,114.0
2,2021-10-20,Indiana Pacers,122.0,Charlotte Hornets,123.0
3,2021-10-20,Chicago Bulls,94.0,Detroit Pistons,88.0
4,2021-10-20,Boston Celtics,134.0,New York Knicks,138.0
...,...,...,...,...,...
1225,2022-04-10,Los Angeles Lakers,0.0,Denver Nuggets,0.0
1226,2022-04-10,San Antonio Spurs,0.0,Dallas Mavericks,0.0
1227,2022-04-10,Milwaukee Bucks,0.0,Cleveland Cavaliers,0.0
1228,2022-04-10,Washington Wizards,0.0,Charlotte Hornets,0.0
1229,2022-04-10,Indiana Pacers,0.0,Brooklyn Nets,0.0

In [5]:
schedule_df['MARGIN'] = 0
schedule_df['HOME_ABBR'] = 0
schedule_df['VISITOR_ABBR'] = 0
schedule_df['HOME_TEAM_WINS'] = 0 
schedule_df = schedule_df.fillna(0)

In [6]:
for ind in schedule_df.index: 
    schedule_df['MARGIN'][ind] = schedule_df['HOME_PTS'][ind] - schedule_df['VISITOR_PTS'][ind]
    schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
    schedule_df['HOME'][ind] = schedule_df['HOME'][ind].upper()
    schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
    schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]
    if schedule_df['MARGIN'][ind] > 0: 
        schedule_df['HOME_TEAM_WINS'][ind] = 1
    else:
        schedule_df['HOME_TEAM_WINS'][ind] = 0

<ipython-input-6-554545badcb2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['MARGIN'][ind] = schedule_df['HOME_PTS'][ind] - schedule_df['VISITOR_PTS'][ind]
<ipython-input-6-554545badcb2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
<ipython-input-6-554545badcb2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME'][ind] = schedule_df['HOME'][ind].upper()
<ipython-input-6-554545badcb2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
/Users/stanleytan/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-6-554545badcb2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]
<ipython-input-6-554545badcb2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_TEAM_WINS'][ind] = 1
<ipython-input-6-554545badcb2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_TEAM_WINS'][ind] = 0

In [17]:
schedule_df = schedule_df.tail(16)

In [135]:
schedule_df.columns

Index(['DATE', 'VISITOR', 'VISITOR_PTS', 'HOME', 'HOME_PTS', 'MARGIN',
       'HOME_ABBR', 'VISITOR_ABBR', 'HOME_TEAM_WINS'],
      dtype='object')

In [120]:
schedule_df.iloc[849,1]

'ATLANTA HAWKS'

In [121]:
schedule_df.iloc[849,1]

'ATLANTA HAWKS'

In [83]:
schedule_df = schedule_df.head(883)

In [122]:
#test
#from basketball_reference_scraper.box_scores import get_box_scores
#dict_ = get_box_scores(schedule_df.iloc[849,0], schedule_df.iloc[849,7], schedule_df.iloc[849,6], period='GAME', stat_type='BASIC')
#import pandas as pd
#test_ = pd.DataFrame.from_dict(dict_.items())
#from basketball_reference_scraper.box_scores import get_box_scores
#dict_ = get_box_scores(schedule_df.iloc[849,0], schedule_df.iloc[849,7], schedule_df.iloc[849,6], period='GAME', stat_type='BASIC')

In [89]:
schedule_df = schedule_df.tail(16)

In [95]:
schedule_df_0 = schedule_df.copy()

In [99]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
867,2022-02-16,ATLANTA HAWKS,130.0,ORLANDO MAGIC,109.0
868,2022-02-16,Detroit Pistons,112.0,Boston Celtics,111.0
869,2022-02-16,Washington Wizards,108.0,Indiana Pacers,113.0
870,2022-02-16,Brooklyn Nets,111.0,New York Knicks,106.0
871,2022-02-16,Sacramento Kings,118.0,Chicago Bulls,125.0
872,2022-02-16,Portland Trail Blazers,123.0,Memphis Grizzlies,119.0
873,2022-02-16,Toronto Raptors,103.0,Minnesota Timberwolves,91.0
874,2022-02-16,San Antonio Spurs,114.0,Oklahoma City Thunder,106.0
875,2022-02-16,Houston Rockets,121.0,Phoenix Suns,124.0
876,2022-02-16,Denver Nuggets,117.0,Golden State Warriors,116.0
877,2022-02-16,Utah Jazz,101.0,Los Angeles Lakers,106.0
878,2022-02-17,Miami Heat,111.0,Charlotte Hornets,107.0
879,2022-02-17,Washington Wizards,117.0,Brooklyn Nets,103.0
880,2022-02-17,Dallas Mavericks,125.0,New Orleans Pelicans,118.0
881,2022-02-17,Philadelphia 76ers,123.0,Milwaukee Bucks,120.0
882,2022-02-17,Houston Rockets,111.0,Los Angeles Clippers,142.0

In [92]:
import pandas as pd

In [93]:
box_score_columns = box_score_columns = [ 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away']
box_score_df = pd.DataFrame(columns=box_score_columns)

In [100]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

schedule_df_0['HOME_ABBR'] = 0
schedule_df_0['VISITOR_ABBR'] = 0
schedule_df['HOME_ABBR'] = 0
schedule_df['VISITOR_ABBR'] = 0

for ind in schedule_df_0.index: 
    schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
    schedule_df['HOME'][ind] =schedule_df['HOME'][ind].upper()
    schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
    schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]

<ipython-input-100-346e401bf7d5>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
<ipython-input-100-346e401bf7d5>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME'][ind] =schedule_df['HOME'][ind].upper()
<ipython-input-100-346e401bf7d5>:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
<ipython-input-100-346e401bf7d5>:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]

In [2]:

import pandas as pd
schedule_df = pd.read_csv('full_schedule_2021_V2.csv')

In [3]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS,ID
0,2020-12-22,GOLDEN STATE WARRIORS,99.0,BROOKLYN NETS,125.0,26,BRK,GSW,1,1
1,2020-12-22,LOS ANGELES CLIPPERS,116.0,LOS ANGELES LAKERS,109.0,-7,LAL,LAC,0,2
2,2020-12-23,CHARLOTTE HORNETS,114.0,CLEVELAND CAVALIERS,121.0,7,CLE,CHO,1,3
3,2020-12-23,NEW YORK KNICKS,107.0,INDIANA PACERS,121.0,14,IND,NYK,1,4
4,2020-12-23,MIAMI HEAT,107.0,ORLANDO MAGIC,113.0,6,ORL,MIA,1,5
...,...,...,...,...,...,...,...,...,...,...
535,2021-03-04,MILWAUKEE BUCKS,0.0,MEMPHIS GRIZZLIES,0.0,0,MEM,MIL,0,536
536,2021-03-04,OKLAHOMA CITY THUNDER,0.0,SAN ANTONIO SPURS,0.0,0,SAS,OKC,0,537
537,2021-03-04,MIAMI HEAT,0.0,NEW ORLEANS PELICANS,0.0,0,NOP,MIA,0,538
538,2021-03-04,GOLDEN STATE WARRIORS,0.0,PHOENIX SUNS,0.0,0,PHO,GSW,0,539
539,2021-03-04,SACRAMENTO KINGS,0.0,PORTLAND TRAIL BLAZERS,0.0,0,POR,SAC,0,540

In [101]:
from basketball_reference_scraper.box_scores import get_box_scores

import time
for ind in schedule_df.index:
    date_1 = schedule_df.loc[ind]['DATE']
    home_1 = schedule_df.loc[ind]['HOME_ABBR']
    visitor_1 = schedule_df.loc[ind]['VISITOR_ABBR']
    dict_ = get_box_scores(date_1, visitor_1, home_1, period='GAME', stat_type='BASIC')
    home_df = dict_[home_1]
    visitor_df = dict_[visitor_1]
    #id_ = schedule_df.loc[ind]['ID']
    #unsure why the ID is required
    home_pts = home_df.loc[home_df['PLAYER'] == 'Team Totals']['PTS'].iloc[0]
    visitor_pts = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['PTS'].iloc[0]
    margin_ = int(home_pts) - int(visitor_pts)
    if margin_ > 0:
        home_team_wins = 1
    else:
        home_team_wins = 0
    home_fg_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FG%'].iloc[0]
    home_ft_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FT%'].iloc[0]
    home_fg3_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['3P%'].iloc[0]
    home_ast = home_df.loc[home_df['PLAYER'] == 'Team Totals']['AST'].iloc[0]
    home_reb = home_df.loc[home_df['PLAYER'] == 'Team Totals']['TRB'].iloc[0]
    visitor_fg_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['FG%'].iloc[0]
    visitor_ft_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['FT%'].iloc[0]
    visitor_fg3_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['3P%'].iloc[0]
    visitor_ast = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['AST'].iloc[0]
    visitor_reb = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['TRB'].iloc[0]
    empty_ = []
    #empty_.append(id_)
#ID unsure why that is required
    empty_.append(date_1)
#DATE
    empty_.append(home_1)
#home abbr
    empty_.append(visitor_1)
#visito abbr
    empty_.append(home_pts)
#home pints
    empty_.append(visitor_pts)
#away points
    empty_.append(margin_)
#margin
    empty_.append(home_team_wins)
#HOME_TEAM_WINS
    empty_.append(home_fg_pct)
#FG_PCT
    empty_.append(home_ft_pct)
#FT_PCT
    empty_.append(home_fg3_pct)
#FG3_PCT
    empty_.append(home_ast)
#AST
    empty_.append(home_reb)
#REBOUNDS
    empty_.append(visitor_fg_pct)
#FG_PCT
    empty_.append(visitor_ft_pct)
#FT_PCT
    empty_.append(visitor_fg3_pct)
#FG3
    empty_.append(visitor_ast)
#AST
    empty_.append(visitor_reb)
#REBOUNDS
    length_of_df = len(box_score_df)
    box_score_df.loc[length_of_df] = empty_
    print(empty_)

[Timestamp('2022-02-16 00:00:00'), 'ORL', 'ATL', '109', '130', -21, 0, '.429', '.923', '.317', '23', '45', '.500', '.786', '.545', '23', '47']
[Timestamp('2022-02-16 00:00:00'), 'BOS', 'DET', '111', '112', -1, 0, '.545', '.778', '.406', '29', '30', '.462', '.769', '.533', '28', '47']
[Timestamp('2022-02-16 00:00:00'), 'IND', 'WAS', '113', '108', 5, 1, '.542', '.655', '.200', '30', '40', '.429', '.813', '.459', '25', '44']
[Timestamp('2022-02-16 00:00:00'), 'NYK', 'BRK', '106', '111', -5, 0, '.435', '.889', '.372', '22', '44', '.439', '.609', '.324', '21', '51']
[Timestamp('2022-02-16 00:00:00'), 'CHI', 'SAC', '125', '118', 7, 1, '.500', '.950', '.414', '25', '47', '.512', '.909', '.400', '24', '36']
[Timestamp('2022-02-16 00:00:00'), 'MEM', 'POR', '119', '123', -4, 0, '.435', '.810', '.367', '20', '39', '.506', '.750', '.406', '23', '43']
[Timestamp('2022-02-16 00:00:00'), 'MIN', 'TOR', '91', '103', -12, 0, '.390', '.724', '.238', '23', '42', '.455', '.789', '.320', '21', '48']
[Timestamp('2022-02-16 00:00:00'), 'OKC', 'SAS', '106', '114', -8, 0, '.390', '.684', '.344', '25', '50', '.439', '.818', '.294', '29', '57']
[Timestamp('2022-02-16 00:00:00'), 'PHO', 'HOU', '124', '121', 3, 1, '.512', '.806', '.292', '27', '42', '.433', '.857', '.295', '23', '49']
[Timestamp('2022-02-16 00:00:00'), 'GSW', 'DEN', '116', '117', -1, 0, '.517', '.667', '.294', '26', '37', '.473', '.810', '.389', '27', '48']
[Timestamp('2022-02-16 00:00:00'), 'LAL', 'UTA', '106', '101', 5, 1, '.477', '.636', '.278', '24', '44', '.468', '.842', '.333', '17', '41']
[Timestamp('2022-02-17 00:00:00'), 'CHO', 'MIA', '107', '111', -4, 0, '.400', '.700', '.238', '27', '57', '.402', '.652', '.292', '31', '56']
[Timestamp('2022-02-17 00:00:00'), 'BRK', 'WAS', '103', '117', -14, 0, '.404', '.708', '.368', '19', '42', '.554', '.813', '.500', '26', '38']
[Timestamp('2022-02-17 00:00:00'), 'NOP', 'DAL', '118', '125', -7, 0, '.500', '.667', '.429', '22', '48', '.537', '.720', '.475', '18', '38']
[Timestamp('2022-02-17 00:00:00'), 'MIL', 'PHI', '120', '123', -3, 0, '.442', '.786', '.318', '20', '44', '.500', '.852', '.353', '21', '46']
[Timestamp('2022-02-17 00:00:00'), 'LAC', 'HOU', '142', '111', 31, 1, '.554', '.846', '.514', '34', '50', '.462', '.737', '.351', '29', '35']

In [102]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2022-02-16,ORL,ATL,109,130,-21,0,.429,.923,.317,23,45,.500,.786,.545,23,47
1,2022-02-16,BOS,DET,111,112,-1,0,.545,.778,.406,29,30,.462,.769,.533,28,47
2,2022-02-16,IND,WAS,113,108,5,1,.542,.655,.200,30,40,.429,.813,.459,25,44
3,2022-02-16,NYK,BRK,106,111,-5,0,.435,.889,.372,22,44,.439,.609,.324,21,51
4,2022-02-16,CHI,SAC,125,118,7,1,.500,.950,.414,25,47,.512,.909,.400,24,36
5,2022-02-16,MEM,POR,119,123,-4,0,.435,.810,.367,20,39,.506,.750,.406,23,43
6,2022-02-16,MIN,TOR,91,103,-12,0,.390,.724,.238,23,42,.455,.789,.320,21,48
7,2022-02-16,OKC,SAS,106,114,-8,0,.390,.684,.344,25,50,.439,.818,.294,29,57
8,2022-02-16,PHO,HOU,124,121,3,1,.512,.806,.292,27,42,.433,.857,.295,23,49
9,2022-02-16,GSW,DEN,116,117,-1,0,.517,.667,.294,26,37,.473,.810,.389,27,48
10,2022-02-16,LAL,UTA,106,101,5,1,.477,.636,.278,24,44,.468,.842,.333,17,41
11,2022-02-17,CHO,MIA,107,111,-4,0,.400,.700,.238,27,57,.402,.652,.292,31,56
12,2022-02-17,BRK,WAS,103,117,-14,0,.404,.708,.368,19,42,.554,.813,.500,26,38
13,2022-02-17,NOP,DAL,118,125,-7,0,.500,.667,.429,22,48,.537,.720,.475,18,38
14,2022-02-17,MIL,PHI,120,123,-3,0,.442,.786,.318,20,44,.500,.852,.353,21,46
15,2022-02-17,LAC,HOU,142,111,31,1,.554,.846,.514,34,50,.462,.737,.351,29,35

In [103]:
box_score_df_3

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,2022-02-15,PHI,BOS,87,135,-48,0,0.288,0.846,0.250,17,40,0.561,0.818,0.556,28,51
863,2022-02-15,MIL,IND,128,119,9,1,0.558,0.733,0.345,28,47,0.505,0.421,0.415,32,41
864,2022-02-15,MIN,CHO,126,120,6,1,0.394,0.628,0.236,29,58,0.412,0.757,0.242,31,62
865,2022-02-15,NOP,MEM,109,121,-12,0,0.500,0.850,0.154,20,34,0.500,0.630,0.294,29,49
866,2022-02-15,PHO,LAC,103,96,7,1,0.489,0.700,0.320,30,52,0.412,0.667,0.286,26,46

In [ ]:
result = pd.concat([df1, df4], axis=1)

In [104]:
result = pd.concat([box_score_df_3, box_score_df], axis=0)

In [106]:
box_score_df = result.copy()

In [108]:
box_score_df.to_csv('box_score_df_feb_21.csv', index=False)

In [109]:
import pandas as pd
box_score_df_3 = pd.read_csv('box_score_df_feb_21.csv')

In [110]:
box_score_df_3.tail()

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
878,2022-02-17 00:00:00,CHO,MIA,107,111,-4,0,0.400,0.700,0.238,27,57,0.402,0.652,0.292,31,56
879,2022-02-17 00:00:00,BRK,WAS,103,117,-14,0,0.404,0.708,0.368,19,42,0.554,0.813,0.500,26,38
880,2022-02-17 00:00:00,NOP,DAL,118,125,-7,0,0.500,0.667,0.429,22,48,0.537,0.720,0.475,18,38
881,2022-02-17 00:00:00,MIL,PHI,120,123,-3,0,0.442,0.786,0.318,20,44,0.500,0.852,0.353,21,46
882,2022-02-17 00:00:00,LAC,HOU,142,111,31,1,0.554,0.846,0.514,34,50,0.462,0.737,0.351,29,35

In [111]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}
test_ = pd.DataFrame.from_dict(team_to_abbreviation.items())
list_ = test_[1].tolist()
wins_ = dict.fromkeys(list_, 0)
lost_ = dict.fromkeys(list_, 0)

In [ ]:
# adding winning percentage for another
# df = pd.read_csv('old_data/abbr_games.csv')

In [114]:
box_score_df["DATE"]= pd.to_datetime(box_score_df["DATE"])
box_score_df['PTS_home'] = pd.to_numeric(box_score_df['PTS_home'])
box_score_df['PTS_away'] = pd.to_numeric(box_score_df['PTS_away'])
box_score_df['MARGIN'] = pd.to_numeric(box_score_df['MARGIN'])
box_score_df['HOME_TEAM_WINS'] = pd.to_numeric(box_score_df['HOME_TEAM_WINS'])
box_score_df['FG_PCT_home'] = pd.to_numeric(box_score_df['FG_PCT_home'])
box_score_df['FT_PCT_home'] = pd.to_numeric(box_score_df['FT_PCT_home'])
box_score_df['FG3_PCT_home'] = pd.to_numeric(box_score_df['FG3_PCT_home'])
box_score_df['AST_home'] = pd.to_numeric(box_score_df['AST_home'])
box_score_df['REB_home'] = pd.to_numeric(box_score_df['REB_home'])
box_score_df['FG_PCT_away'] = pd.to_numeric(box_score_df['FG_PCT_away'])
box_score_df['FT_PCT_away'] = pd.to_numeric(box_score_df['FT_PCT_away'])
box_score_df['FG3_PCT_away'] = pd.to_numeric(box_score_df['FG3_PCT_away'])
box_score_df['AST_away'] = pd.to_numeric(box_score_df['AST_away'])
box_score_df['REB_away'] = pd.to_numeric(box_score_df['REB_away'])

In [115]:
box_score_df = box_score_df.reset_index(drop=True)

In [116]:
home_winning_percentage_list = []
visitor_winning_percentage_list = []
for ind in box_score_df.index:
    home_abbr = box_score_df.loc[ind]['HOME_ABBR']
    visitor_abbr = box_score_df.loc[ind]['VISITOR_ABBR']
    home_team_wins = box_score_df.loc[ind]['HOME_TEAM_WINS']
    if home_team_wins > 0:
        wins_[home_abbr] += 1
        lost_[visitor_abbr] += 1
    else:
        lost_[home_abbr] += 1
        wins_[visitor_abbr] += 1
    total_games_home_abbr = wins_[home_abbr] + lost_[home_abbr]
    total_games_visitor_abbr = wins_[visitor_abbr] + lost_[visitor_abbr]
    home_winning_percentage = wins_[home_abbr] / total_games_home_abbr
    visitor_winning_percentage = wins_[visitor_abbr] / total_games_visitor_abbr
    home_winning_percentage_list.append(home_winning_percentage)
    visitor_winning_percentage_list.append(visitor_winning_percentage)
box_score_df['home_winning_percentage'] = home_winning_percentage_list
box_score_df['visitor_winning_percentage'] = visitor_winning_percentage_list

In [117]:
box_score_df.tail(10)

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
873,2022-02-16,MIN,TOR,91,103,-12,0,0.390,0.724,0.238,23,42,0.455,0.789,0.320,21,48,0.525424,0.561404
874,2022-02-16,OKC,SAS,106,114,-8,0,0.390,0.684,0.344,25,50,0.439,0.818,0.294,29,57,0.310345,0.389831
875,2022-02-16,PHO,HOU,124,121,3,1,0.512,0.806,0.292,27,42,0.433,0.857,0.295,23,49,0.827586,0.263158
876,2022-02-16,GSW,DEN,116,117,-1,0,0.517,0.667,0.294,26,37,0.473,0.810,0.389,27,48,0.711864,0.568966
877,2022-02-16,LAL,UTA,106,101,5,1,0.477,0.636,0.278,24,44,0.468,0.842,0.333,17,41,0.465517,0.620690
878,2022-02-17,CHO,MIA,107,111,-4,0,0.400,0.700,0.238,27,57,0.402,0.652,0.292,31,56,0.483333,0.644068
879,2022-02-17,BRK,WAS,103,117,-14,0,0.404,0.708,0.368,19,42,0.554,0.813,0.500,26,38,0.525424,0.465517
880,2022-02-17,NOP,DAL,118,125,-7,0,0.500,0.667,0.429,22,48,0.537,0.720,0.475,18,38,0.389831,0.593220
881,2022-02-17,MIL,PHI,120,123,-3,0,0.442,0.786,0.318,20,44,0.500,0.852,0.353,21,46,0.600000,0.603448
882,2022-02-17,LAC,HOU,142,111,31,1,0.554,0.846,0.514,34,50,0.462,0.737,0.351,29,35,0.491803,0.258621

In [118]:
box_score_df["DATE"]= pd.to_datetime(box_score_df["DATE"])
box_score_df['PTS_home'] = pd.to_numeric(box_score_df['PTS_home'])
box_score_df['PTS_away'] = pd.to_numeric(box_score_df['PTS_away'])
box_score_df['MARGIN'] = pd.to_numeric(box_score_df['MARGIN'])
box_score_df['HOME_TEAM_WINS'] = pd.to_numeric(box_score_df['HOME_TEAM_WINS'])
box_score_df['FG_PCT_home'] = pd.to_numeric(box_score_df['FG_PCT_home'])
box_score_df['FT_PCT_home'] = pd.to_numeric(box_score_df['FT_PCT_home'])
box_score_df['FG3_PCT_home'] = pd.to_numeric(box_score_df['FG3_PCT_home'])
box_score_df['AST_home'] = pd.to_numeric(box_score_df['AST_home'])
box_score_df['REB_home'] = pd.to_numeric(box_score_df['REB_home'])
box_score_df['FG_PCT_away'] = pd.to_numeric(box_score_df['FG_PCT_away'])
box_score_df['FT_PCT_away'] = pd.to_numeric(box_score_df['FT_PCT_away'])
box_score_df['FG3_PCT_away'] = pd.to_numeric(box_score_df['FG3_PCT_away'])
box_score_df['AST_away'] = pd.to_numeric(box_score_df['AST_away'])
box_score_df['REB_away'] = pd.to_numeric(box_score_df['REB_away'])
box_score_df['home_winning_percentage'] = pd.to_numeric(box_score_df['home_winning_percentage'])
box_score_df['visitor_winning_percentage'] = pd.to_numeric(box_score_df['visitor_winning_percentage'])

In [119]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44,1.000000,0.000000
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50,0.000000,1.000000
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51,1.000000,0.000000
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48,0.000000,1.000000
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,2022-02-17,CHO,MIA,107,111,-4,0,0.400,0.700,0.238,27,57,0.402,0.652,0.292,31,56,0.483333,0.644068
879,2022-02-17,BRK,WAS,103,117,-14,0,0.404,0.708,0.368,19,42,0.554,0.813,0.500,26,38,0.525424,0.465517
880,2022-02-17,NOP,DAL,118,125,-7,0,0.500,0.667,0.429,22,48,0.537,0.720,0.475,18,38,0.389831,0.593220
881,2022-02-17,MIL,PHI,120,123,-3,0,0.442,0.786,0.318,20,44,0.500,0.852,0.353,21,46,0.600000,0.603448
882,2022-02-17,LAC,HOU,142,111,31,1,0.554,0.846,0.514,34,50,0.462,0.737,0.351,29,35,0.491803,0.258621

In [13]:
test_df = box_score_df.loc[box_score_df['HOME_ABBR'] == 'DEN'].tail(10).mean().reset_index()

In [14]:
test_df

                         index           0
0                     PTS_home  122.200000
1                     PTS_away  113.300000
2                       MARGIN    8.900000
3               HOME_TEAM_WINS    0.700000
4                  FG_PCT_home    0.505400
5                  FT_PCT_home    0.836100
6                 FG3_PCT_home    0.400800
7                     AST_home   31.200000
8                     REB_home   43.500000
9                  FG_PCT_away    0.489600
10                 FT_PCT_away    0.766300
11                FG3_PCT_away    0.358800
12                    AST_away   25.700000
13                    REB_away   41.200000
14     home_winning_percentage    0.537893
15  visitor_winning_percentage    0.452558

In [230]:
res = dict(zip(test_df.iloc[:,0].tolist(), test_df.iloc[:,1].tolist()))

In [123]:
from basketball_reference_scraper.seasons import get_schedule, get_standings

df = get_schedule(2022, playoffs=False)

team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

schedule_df_1 = df.copy()
schedule_df_1['HOME_ABBR'] = 0
schedule_df_1['VISITOR_ABBR'] = 0
schedule_df_1 = schedule_df_1.fillna(0)

for ind in schedule_df_1.index: 
    schedule_df_1['VISITOR'][ind] = schedule_df_1['VISITOR'][ind].upper()
    schedule_df_1['HOME'][ind] = schedule_df_1['HOME'][ind].upper()
    schedule_df_1['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df_1['HOME'][ind]]
    schedule_df_1['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df_1['VISITOR'][ind]]

<ipython-input-123-9b83a9a0fa83>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df_1['VISITOR'][ind] = schedule_df_1['VISITOR'][ind].upper()
<ipython-input-123-9b83a9a0fa83>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df_1['HOME'][ind] = schedule_df_1['HOME'][ind].upper()
<ipython-input-123-9b83a9a0fa83>:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df_1['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df_1['HOME'][ind]]
<ipython-input-123-9b83a9a0fa83>:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df_1['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df_1['VISITOR'][ind]]

In [124]:
schedule_df_1

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,HOME_ABBR,VISITOR_ABBR
0,2021-10-19,BROOKLYN NETS,104.0,MILWAUKEE BUCKS,127.0,MIL,BRK
1,2021-10-19,GOLDEN STATE WARRIORS,121.0,LOS ANGELES LAKERS,114.0,LAL,GSW
2,2021-10-20,INDIANA PACERS,122.0,CHARLOTTE HORNETS,123.0,CHO,IND
3,2021-10-20,CHICAGO BULLS,94.0,DETROIT PISTONS,88.0,DET,CHI
4,2021-10-20,BOSTON CELTICS,134.0,NEW YORK KNICKS,138.0,NYK,BOS
...,...,...,...,...,...,...,...
1225,2022-04-10,LOS ANGELES LAKERS,0.0,DENVER NUGGETS,0.0,DEN,LAL
1226,2022-04-10,SAN ANTONIO SPURS,0.0,DALLAS MAVERICKS,0.0,DAL,SAS
1227,2022-04-10,MILWAUKEE BUCKS,0.0,CLEVELAND CAVALIERS,0.0,CLE,MIL
1228,2022-04-10,WASHINGTON WIZARDS,0.0,CHARLOTTE HORNETS,0.0,CHO,WAS
1229,2022-04-10,INDIANA PACERS,0.0,BROOKLYN NETS,0.0,BRK,IND

In [125]:
obtain_ten_df_2 = schedule_df_1[schedule_df_1['DATE'] == '2022-02-24']

In [126]:
group_by_date_columns = [ 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away']
group_by_date_df = pd.DataFrame(columns=group_by_date_columns)

In [64]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44,1.000000,0.000000
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50,0.000000,1.000000
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51,1.000000,0.000000
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48,0.000000,1.000000
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846,2022-02-12,DAL,LAC,97,99,-2,0,0.412,0.632,0.385,16,44,0.524,0.545,0.318,23,42,0.578947,0.482759
847,2022-02-12,GSW,LAL,117,115,2,1,0.444,0.735,0.316,24,50,0.466,0.667,0.407,25,48,0.736842,0.456140
848,2022-02-12,PHO,ORL,132,105,27,1,0.524,0.700,0.441,40,52,0.425,0.667,0.366,25,44,0.821429,0.224138
849,2022-02-13,BOS,ATL,105,95,10,1,0.424,0.815,0.289,21,54,0.366,1.000,0.316,18,48,0.568966,0.464286
850,2022-02-13,IND,MIN,120,129,-9,0,0.441,0.773,0.289,28,54,0.512,0.893,0.529,23,38,0.327586,0.526316

In [24]:
obtain_ten_df.tail(1)

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
866,2022-02-15,PHO,LAC,103,96,7,1,0.489,0.7,0.32,30,52,0.412,0.667,0.286,26,46,0.824561,0.483333

In [26]:
#test
#visitor_df_group_by = box_score_df.loc[box_score_df['VISITOR_ABBR'] =='LAC'].tail(10).mean().reset_index()
#home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] =='PHO'].tail(10).mean().reset_index()

In [29]:
group_by_date_df.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

<ipython-input-53-42e16680cb81>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['HOME_ABBR'] = 0
<ipython-input-53-42e16680cb81>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['VISITOR_ABBR'] = 0

In [127]:
obtain_ten_df_2

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,HOME_ABBR,VISITOR_ABBR
883,2022-02-24,CLEVELAND CAVALIERS,0.0,DETROIT PISTONS,0.0,DET,CLE
884,2022-02-24,BOSTON CELTICS,0.0,BROOKLYN NETS,0.0,BRK,BOS
885,2022-02-24,ATLANTA HAWKS,0.0,CHICAGO BULLS,0.0,CHI,ATL
886,2022-02-24,MEMPHIS GRIZZLIES,0.0,MINNESOTA TIMBERWOLVES,0.0,MIN,MEM
887,2022-02-24,PHOENIX SUNS,0.0,OKLAHOMA CITY THUNDER,0.0,OKC,PHO
888,2022-02-24,GOLDEN STATE WARRIORS,0.0,PORTLAND TRAIL BLAZERS,0.0,POR,GSW
889,2022-02-24,DENVER NUGGETS,0.0,SACRAMENTO KINGS,0.0,SAC,DEN

In [65]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

obtain_ten_df_2['HOME_ABBR'] = 0
obtain_ten_df_2['VISITOR_ABBR'] = 0

for ind in obtain_ten_df_2.index: 
    obtain_ten_df_2['VISITOR'][ind] = obtain_ten_df_2['VISITOR'][ind].upper()
    obtain_ten_df_2['HOME'][ind] = obtain_ten_df_2['HOME'][ind].upper()
    obtain_ten_df_2['HOME_ABBR'][ind] = team_to_abbreviation[obtain_ten_df_2['HOME'][ind]]
    obtain_ten_df_2['VISITOR_ABBR'][ind] = team_to_abbreviation[obtain_ten_df_2['VISITOR'][ind]]

<ipython-input-65-817f9a0eb305>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['HOME_ABBR'] = 0
<ipython-input-65-817f9a0eb305>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['VISITOR_ABBR'] = 0
<ipython-input-65-817f9a0eb305>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['VISITOR'][ind] = obtain_ten_df_2['VISITOR'][ind].upper()
<ipython-input-65-817f9a0eb305>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['HOME'][ind] = obtain_ten_df_2['HOME'][ind].upper()
<ipython-input-65-817f9a0eb305>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['HOME_ABBR'][ind] = team_to_abbreviation[obtain_ten_df_2['HOME'][ind]]
<ipython-input-65-817f9a0eb305>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['VISITOR_ABBR'][ind] = team_to_abbreviation[obtain_ten_df_2['VISITOR'][ind]]

In [66]:
obtain_ten_df_2

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,HOME_ABBR,VISITOR_ABBR
851,2022-02-14,DETROIT PISTONS,94.0,WASHINGTON WIZARDS,103.0,WAS,DET
852,2022-02-14,SACRAMENTO KINGS,85.0,BROOKLYN NETS,109.0,BRK,SAC
853,2022-02-14,OKLAHOMA CITY THUNDER,127.0,NEW YORK KNICKS,123.0,NYK,OKC
854,2022-02-14,SAN ANTONIO SPURS,109.0,CHICAGO BULLS,120.0,CHI,SAS
855,2022-02-14,PORTLAND TRAIL BLAZERS,122.0,MILWAUKEE BUCKS,107.0,MIL,POR
856,2022-02-14,TORONTO RAPTORS,90.0,NEW ORLEANS PELICANS,120.0,NOP,TOR
857,2022-02-14,ORLANDO MAGIC,111.0,DENVER NUGGETS,121.0,DEN,ORL
858,2022-02-14,HOUSTON ROCKETS,101.0,UTAH JAZZ,135.0,UTA,HOU
859,2022-02-14,GOLDEN STATE WARRIORS,104.0,LOS ANGELES CLIPPERS,119.0,LAC,GSW

In [128]:
group_by_date_df

Empty DataFrame
Columns: [DATE, HOME_ABBR, VISITOR_ABBR, PTS_home, PTS_away, MARGIN, FG_PCT_home, FT_PCT_home, FG3_PCT_home, FG_PCT_away, FT_PCT_away, FG3_PCT_away]
Index: []

In [129]:
# set a new pandas dataframe
for ind in obtain_ten_df_2.index:
    empty_ = []
    date_1 = obtain_ten_df_2.loc[ind]['DATE']
    home_1 = obtain_ten_df_2.loc[ind]['HOME_ABBR']
    visitor_1 = obtain_ten_df_2.loc[ind]['VISITOR_ABBR']
    empty_.append(date_1)
    empty_.append(home_1)
    empty_.append(visitor_1)
    home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] == home_1].tail(10).mean().reset_index()
    home_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))
    visitor_df_group_by = box_score_df.loc[box_score_df['VISITOR_ABBR'] == visitor_1].tail(10).mean().reset_index()
    visitor_df_dict = dict(zip(visitor_df_group_by.iloc[:,0].tolist(), visitor_df_group_by.iloc[:,1].tolist()))
    empty_.append(home_df_dict['PTS_home'])
    empty_.append(visitor_df_dict['PTS_away'])
    margin = home_df_dict['PTS_home'] - visitor_df_dict['PTS_away']
    empty_.append(margin)
    empty_.append(home_df_dict['FG_PCT_home'])
    empty_.append(home_df_dict['FT_PCT_home'])
    empty_.append(home_df_dict['FG3_PCT_home'])
    empty_.append(visitor_df_dict['FG_PCT_away'])
    empty_.append(visitor_df_dict['FT_PCT_away'])
    empty_.append(visitor_df_dict['FG3_PCT_away'])
    length_of_df = len(group_by_date_df)
    group_by_date_df.loc[length_of_df] = empty_

In [130]:
group_by_date_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,2022-02-24,DET,CLE,109.4,107.6,1.8,0.4495,0.7835,0.3392,0.4880,0.7338,0.3570
1,2022-02-24,BRK,BOS,108.0,111.7,-3.7,0.4563,0.7949,0.3126,0.4802,0.8170,0.3739
2,2022-02-24,CHI,ATL,120.1,111.4,8.7,0.5225,0.8399,0.3714,0.4548,0.8400,0.3415
3,2022-02-24,MIN,MEM,114.0,119.7,-5.7,0.4553,0.7331,0.3466,0.4689,0.6748,0.3206
4,2022-02-24,OKC,PHO,100.8,113.2,-12.4,0.4170,0.7777,0.3204,0.4895,0.7841,0.3181
5,2022-02-24,POR,GSW,105.2,108.5,-3.3,0.4371,0.7272,0.3505,0.4451,0.8052,0.3639
6,2022-02-24,SAC,DEN,117.5,111.9,5.6,0.4846,0.7827,0.3820,0.4732,0.8259,0.3509

In [75]:
group_by_date_df.to_csv('feb_16_2022.csv', index=False)

In [35]:
#how to 
#home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] == 'PHO'].tail(10).mean().reset_index()
#home_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))

In [131]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}
test_ = pd.DataFrame.from_dict(team_to_abbreviation.items())
list_ = test_[1].tolist()
winning_percentage_dict = dict.fromkeys(list_, 0)

In [132]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44,1.000000,0.000000
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50,0.000000,1.000000
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51,1.000000,0.000000
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48,0.000000,1.000000
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,2022-02-17,CHO,MIA,107,111,-4,0,0.400,0.700,0.238,27,57,0.402,0.652,0.292,31,56,0.483333,0.644068
879,2022-02-17,BRK,WAS,103,117,-14,0,0.404,0.708,0.368,19,42,0.554,0.813,0.500,26,38,0.525424,0.465517
880,2022-02-17,NOP,DAL,118,125,-7,0,0.500,0.667,0.429,22,48,0.537,0.720,0.475,18,38,0.389831,0.593220
881,2022-02-17,MIL,PHI,120,123,-3,0,0.442,0.786,0.318,20,44,0.500,0.852,0.353,21,46,0.600000,0.603448
882,2022-02-17,LAC,HOU,142,111,31,1,0.554,0.846,0.514,34,50,0.462,0.737,0.351,29,35,0.491803,0.258621

In [133]:
for _, row in box_score_df.iterrows():
    home_team = row['HOME_ABBR']
    visitor_team = row['VISITOR_ABBR']
    home_winning_percentage = row['home_winning_percentage']
    visitor_winning_percentage = row['visitor_winning_percentage']
    
    if home_team in winning_percentage_dict:
            winning_percentage_dict[home_team] = home_winning_percentage
    elif visitor_team in winning_percentage_dict:
            winning_percentage_dict[visitor_team] = visitor_winning_percentage

In [134]:
home_winning_percentage_list = []
visitor_winning_percentage_list = []
for ind in group_by_date_df.index:
    home_abbr = group_by_date_df.loc[ind]['HOME_ABBR']
    visitor_abbr = group_by_date_df.loc[ind]['VISITOR_ABBR']
    home_winning_percentage_list.append(winning_percentage_dict[home_abbr])
    visitor_winning_percentage_list.append(winning_percentage_dict[visitor_abbr])
group_by_date_df['home_winning_percentage'] = home_winning_percentage_list
group_by_date_df['visitor_winning_percentage'] = visitor_winning_percentage_list

In [135]:
group_by_date_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage
0,2022-02-24,DET,CLE,109.4,107.6,1.8,0.4495,0.7835,0.3392,0.4880,0.7338,0.3570,0.214286,0.618182
1,2022-02-24,BRK,BOS,108.0,111.7,-3.7,0.4563,0.7949,0.3126,0.4802,0.8170,0.3739,0.525424,0.566667
2,2022-02-24,CHI,ATL,120.1,111.4,8.7,0.5225,0.8399,0.3714,0.4548,0.8400,0.3415,0.644068,0.473684
3,2022-02-24,MIN,MEM,114.0,119.7,-5.7,0.4553,0.7331,0.3466,0.4689,0.6748,0.3206,0.525424,0.683333
4,2022-02-24,OKC,PHO,100.8,113.2,-12.4,0.4170,0.7777,0.3204,0.4895,0.7841,0.3181,0.310345,0.827586
5,2022-02-24,POR,GSW,105.2,108.5,-3.3,0.4371,0.7272,0.3505,0.4451,0.8052,0.3639,0.403509,0.711864
6,2022-02-24,SAC,DEN,117.5,111.9,5.6,0.4846,0.7827,0.3820,0.4732,0.8259,0.3509,0.368421,0.561404

In [136]:
group_by_date_df.to_csv('grouped_feb_24_2022.csv', index=False)

In [137]:
group_by_date_df_2 = group_by_date_df.copy()

In [138]:
group_by_date_df_2 = group_by_date_df_2.rename(columns={"home_winning_percentage": "home", "visitor_winning_percentage": "visitor"})

In [ ]:
df['DataFrame Column'] = df['DataFrame Column'].astype(str)

In [142]:
group_by_date_df_2['home'] = group_by_date_df_2['home'].astype(str)
group_by_date_df_2['visitor'] = group_by_date_df_2['visitor'].astype(str)

In [143]:
group_by_date_df_2['home'] = group_by_date_df_2['home'].str[0:4]
group_by_date_df_2['visitor'] = group_by_date_df_2['visitor'].str[0:4]

In [145]:
group_by_date_df_2.to_csv('grouped_feb_24.csv')

In [ ]:
 = df['Identifier'].str[3:8]

In [256]:
empty_2 = []

In [258]:
home_df_dict['PTS_home']

117.0

In [ ]:
empty_2.append(date)
empty_2.append(home_abbr)
empty_2.append(visitor_abbr)
empty_2.append(home_df_dict['PTS_home'])
empty_2.append()

In [260]:
home_df_dict

{'PTS_home': 117.0,
 'PTS_away': 107.7,
 'MARGIN': 9.3,
 'HOME_TEAM_WINS': 0.9,
 'FG_PCT_home': 0.4896,
 'FT_PCT_home': 0.7440000000000001,
 'FG3_PCT_home': 0.36489999999999995,
 'AST_home': 30.6,
 'REB_home': 47.9,
 'FG_PCT_away': 0.4519,
 'FT_PCT_away': 0.7510999999999999,
 'FG3_PCT_away': 0.3536,
 'AST_away': 22.9,
 'REB_away': 42.3,
 'home_winning_percentage': 0.8076050603259659,
 'visitor_winning_percentage': 0.4862732904901367}

In [ ]:
# set a new pandas dataframe
for ind in obtain_ten_df.index:
    empty_ = []
    date_1 = obtain_ten_df.loc[ind]['DATE']
    home_1 = obtain_ten_df.loc[ind]['HOME_ABBR']
    visitor_1 = obtain_ten_df.loc[ind]['VISITOR_ABBR']
    empty_.append(date_1)
    empty_.append(home_1)
    empty_.append(visitor_1)
    home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] == home_1].tail(10).mean().reset_index()

    home_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))
    visitor_df_group_by = box_score_df.loc[box_score_df['VISITOR_ABBR'] == visitor_1].tail(10).mean().reset_index()
    visitor_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))
    
    
     home_df[]
    
    length_of_df = len(group_by_date_df)
    group_by_date_df.loc[length_of_df] = empty_

In [254]:
obtain_ten_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
860,2022-02-15,ATL,CLE,124,116,8,1,0.538,0.889,0.424,25,35,0.511,0.833,0.390,30,39,0.473684,0.603448
861,2022-02-15,MIA,DAL,99,107,-8,0,0.417,0.815,0.259,19,48,0.447,0.636,0.439,27,38,0.637931,0.586207
862,2022-02-15,PHI,BOS,87,135,-48,0,0.288,0.846,0.250,17,40,0.561,0.818,0.556,28,51,0.596491,0.576271
863,2022-02-15,MIL,IND,128,119,9,1,0.558,0.733,0.345,28,47,0.505,0.421,0.415,32,41,0.610169,0.322034
864,2022-02-15,MIN,CHO,126,120,6,1,0.394,0.628,0.236,29,58,0.412,0.757,0.242,31,62,0.534483,0.491525
865,2022-02-15,NOP,MEM,109,121,-12,0,0.500,0.850,0.154,20,34,0.500,0.630,0.294,29,49,0.396552,0.694915
866,2022-02-15,PHO,LAC,103,96,7,1,0.489,0.700,0.320,30,52,0.412,0.667,0.286,26,46,0.824561,0.483333