In [ ]:
CREATE TABLE predicted_values (
    "ID" INT PRIMARY KEY, 
    "DATE" DATE,
    "HOME_ABBR" VARCHAR,
    "VISITOR_ABBR" VARCHAR,
    "MARGIN" INT,
    "PTS_home" INT,
    "PTS_away" INT,
    "FG_PCT_home" DOUBLE PRECISION,
    "FG_PCT_away" DOUBLE PRECISION,
    "PREDICTED" DOUBLE PRECISION,
    "CONVERTED_PREDICTED" DOUBLE PRECISION,
    "WINNING_PCT" DOUBLE PRECISION
);

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('predicted_values.csv')

For predicted_values

In [3]:
df

,DATE,HOME_ABBR,VISITOR_ABBR,MARGIN,PTS_home,PTS_away,FG_PCT_home,FG_PCT_away,PREDICTED,CONVERTED_PREDICTED,WINNING_PCT,ID
0,2021-02-10,WAS,TOR,4.658800,118.041667,113.382867,0.467604,0.461934,0.178582,1,0.286,1
1,2021-02-10,DAL,ATL,-1.019481,110.855519,111.875000,0.456994,0.447583,-0.128982,0,0.440,2
2,2021-02-10,BRK,IND,9.300000,121.000000,111.700000,0.499625,0.456467,0.480023,1,0.560,3
3,2021-02-10,MEM,CHO,-3.899964,107.705556,111.605519,0.451222,0.464705,-0.308020,0,0.474,4
4,2021-02-10,MIN,LAC,-0.353001,106.937063,107.290064,0.444579,0.466630,-0.127960,0,0.250,5
5,2021-02-10,CHI,NOP,0.214015,112.145833,111.931818,0.464259,0.457591,-0.060161,0,0.391,6
6,2021-02-10,DEN,CLE,6.059524,115.598485,109.538961,0.472850,0.469474,0.255009,1,0.522,7
7,2021-02-10,LAL,OKC,3.608766,115.904221,112.295455,0.496807,0.457062,0.165950,1,0.760,8
8,2021-02-10,PHO,MIL,-1.708916,110.579545,112.288462,0.467265,0.456608,-0.158445,0,0.609,9

In [4]:
#import dependencies
import sqlalchemy
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username='postgres',
                        password='postgres',
                        ipaddress='localhost',
                        port=5432,
                        dbname='flask_deploy'))
# Create the connection
engine = create_engine(postgres_str)
cnx = engine.connect()

In [ ]:
df.to_sql('predicted_values', engine, if_exists='replace', index=False)

In [6]:
df.head(1)

,DATE,HOME_ABBR,VISITOR_ABBR,MARGIN,PTS_home,PTS_away,FG_PCT_home,FG_PCT_away,PREDICTED,CONVERTED_PREDICTED,WINNING_PCT,ID
0,2021-02-10,WAS,TOR,4.6588,118.041667,113.382867,0.467604,0.461934,0.178582,1,0.286,1

In [13]:
df['WINNING_PCT'] = df['WINNING_PCT'].apply(lambda x: round(x, 3))

In [14]:
df.head(1)

,DATE,HOME_ABBR,VISITOR_ABBR,MARGIN,PTS_home,PTS_away,FG_PCT_home,FG_PCT_away,PREDICTED,CONVERTED_PREDICTED,WINNING_PCT,ID
0,2021-02-10,WAS,TOR,4.6588,118.04,113.38,0.468,0.462,0.179,1,0.286,1