In [41]:
import pandas as pd
box_score_prev = pd.read_csv('scraped_box_scores/box_score_to_feb_25.csv')

In [42]:
box_score_prev.head()

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56

In [9]:
user_input = input("Using the previous box_scores to get the next set of boxscores: \
see NBA schedule in the binder")

Using the previous box_scores to get the next set of boxscores: see NBA schedule in the binder

In [23]:
# # adding winning_percentage which is unnecessary

# team_to_abbreviation = {
#     "ATLANTA HAWKS" : "ATL",
#     "ST. LOUIS HAWKS" : "SLH",
#     "MILWAUKEE HAWKS" : "MIL",
#     "TRI-CITIES BLACKHAWKS" : "TCB",
#     "BOSTON CELTICS" : "BOS",
#     "BROOKLYN NETS" : "BRK",
#     "NEW JERSEY NETS" : "NJN",
#     "CHICAGO BULLS" : "CHI",
#     "CHARLOTTE HORNETS": "CHO",
#     "CHARLOTTE BOBCATS" : "CHA",
#     "CLEVELAND CAVALIERS": "CLE",
#     "DALLAS MAVERICKS" : "DAL",
#     "DENVER NUGGETS" : "DEN",
#     "DETROIT PISTONS" : "DET",
#     "FORT WAYNE PISTONS" : "FWP",
#     "GOLDEN STATE WARRIORS" : "GSW",
#     "SAN FRANCISCO WARRIORS" : "SFW",
#     "PHILADELPHIA WARRIORS" : "PHI",
#     "HOUSTON ROCKETS" : "HOU",
#     "INDIANA PACERS" : "IND",
#     "LOS ANGELES CLIPPERS" : "LAC",
#     "SAN DIEGO CLIPPERS" : "SDC",
#     "BUFFALO BRAVES" : "BUF",
#     "LOS ANGELES LAKERS" : "LAL",
#     "MINNEAPOLIS LAKERS" : "MIN",
#     "MEMPHIS GRIZZLIES" : "MEM",
#     "VANCOUVER GRIZZLIES" : 'VAN',
#     "MIAMI HEAT" : "MIA",
#     "MILWAUKEE BUCKS" : "MIL",
#     "MINNESOTA TIMBERWOLVES" : "MIN",
#     "NEW ORLEANS PELICANS" : "NOP",
#     "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
#     "NEW ORLEANS HORNETS" : "NOH",
#     "NEW YORK KNICKS" : "NYK",
#     "OKLAHOMA CITY THUNDER" : "OKC",
#     "SEATTLE SUPERSONICS" : "SEA",
#     "ORLANDO MAGIC" : "ORL",
#     "PHILADELPHIA 76ERS" : "PHI",
#     "SYRACUSE NATIONALS" : "SYR",
#     "PHOENIX SUNS" : "PHO",
#     "PORTLAND TRAIL BLAZERS" : "POR",
#     "SACRAMENTO KINGS" : "SAC",
#     "KANSAS CITY KINGS" : "KCK",
#     "KANSAS CITY-OMAHA KINGS" : "KCK",
#     "CINCINNATI ROYALS" : "CIN",
#     "ROCHESTER ROYALS" : "ROR",
#     "SAN ANTONIO SPURS" : "SAS",
#     "TORONTO RAPTORS" : "TOR",
#     "UTAH JAZZ" : "UTA",
#     "NEW ORLEANS JAZZ" : "NOJ",
#     "WASHINGTON WIZARDS" : "WAS",
#     "WASHINGTON BULLETS" : "WAS",
#     "CAPITAL BULLETS" : "CAP",
#     "BALTIMORE BULLETS" : "BAL",
#     "CHICAGO ZEPHYRS" : "CHI",
#     "CHICAGO PACKERS" : "CHI",
#     "ANDERSON PACKERS" : "AND",
#     "CHICAGO STAGS" : "CHI",
#     "INDIANAPOLIS OLYMPIANS" : "IND",
#     "SHEBOYGAN RED SKINS" : "SRS",
#     "ST. LOUIS BOMBERS" : "SLB",
#     "WASHINGTON CAPITOLS" : "WAS",
#     "WATERLOO HAWKS" : "WAT"
# }
# test_ = pd.DataFrame.from_dict(team_to_abbreviation.items())
# list_ = test_[1].tolist()
# wins_ = dict.fromkeys(list_, 0)
# lost_ = dict.fromkeys(list_, 0)

# # adding winning percentage for another
# # df = pd.read_csv('old_data/abbr_games.csv')

# box_score_prev["DATE"]= pd.to_datetime(box_score_prev["DATE"])
# box_score_prev['PTS_home'] = pd.to_numeric(box_score_prev['PTS_home'])
# box_score_prev['PTS_away'] = pd.to_numeric(box_score_prev['PTS_away'])
# box_score_prev['MARGIN'] = pd.to_numeric(box_score_prev['MARGIN'])
# box_score_prev['HOME_TEAM_WINS'] = pd.to_numeric(box_score_prev['HOME_TEAM_WINS'])
# box_score_prev['FG_PCT_home'] = pd.to_numeric(box_score_prev['FG_PCT_home'])
# box_score_prev['FT_PCT_home'] = pd.to_numeric(box_score_prev['FT_PCT_home'])
# box_score_prev['FG3_PCT_home'] = pd.to_numeric(box_score_prev['FG3_PCT_home'])
# box_score_prev['AST_home'] = pd.to_numeric(box_score_prev['AST_home'])
# box_score_prev['REB_home'] = pd.to_numeric(box_score_prev['REB_home'])
# box_score_prev['FG_PCT_away'] = pd.to_numeric(box_score_prev['FG_PCT_away'])
# box_score_prev['FT_PCT_away'] = pd.to_numeric(box_score_prev['FT_PCT_away'])
# box_score_prev['FG3_PCT_away'] = pd.to_numeric(box_score_prev['FG3_PCT_away'])
# box_score_prev['AST_away'] = pd.to_numeric(box_score_prev['AST_away'])
# box_score_prev['REB_away'] = pd.to_numeric(box_score_prev['REB_away'])

# box_score_prev = box_score_prev.reset_index(drop=True)

# home_winning_percentage_list = []
# visitor_winning_percentage_list = []
# for ind in box_score_prev.index:
#     home_abbr = box_score_prev.loc[ind]['HOME_ABBR']
#     visitor_abbr = box_score_prev.loc[ind]['VISITOR_ABBR']
#     home_team_wins = box_score_prev.loc[ind]['HOME_TEAM_WINS']
#     if home_team_wins > 0:
#         wins_[home_abbr] += 1
#         lost_[visitor_abbr] += 1
#     else:
#         lost_[home_abbr] += 1
#         wins_[visitor_abbr] += 1
#     total_games_home_abbr = wins_[home_abbr] + lost_[home_abbr]
#     total_games_visitor_abbr = wins_[visitor_abbr] + lost_[visitor_abbr]
#     home_winning_percentage = wins_[home_abbr] / total_games_home_abbr
#     visitor_winning_percentage = wins_[visitor_abbr] / total_games_visitor_abbr
#     home_winning_percentage_list.append(home_winning_percentage)
#     visitor_winning_percentage_list.append(visitor_winning_percentage)
# box_score_prev['home_winning_percentage'] = home_winning_percentage_list
# box_score_prev['visitor_winning_percentage'] = visitor_winning_percentage_list

In [43]:
box_score_prev

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,2022-02-24,CHI,ATL,112,108,4,1,0.488,0.815,0.296,16,43,0.423,0.667,0.286,20,45
886,2022-02-24,MIN,MEM,119,114,5,1,0.462,0.680,0.381,26,42,0.388,0.725,0.290,25,59
887,2022-02-24,OKC,PHO,104,124,-20,0,0.473,0.909,0.194,22,42,0.535,0.905,0.382,32,43
888,2022-02-24,POR,GSW,95,132,-37,0,0.397,0.828,0.257,16,31,0.511,0.844,0.366,36,46
889,2022-02-24,SAC,DEN,110,128,-18,0,0.500,0.833,0.310,25,34,0.558,0.850,0.429,30,39

In [44]:
box_score_prev["DATE"]= pd.to_datetime(box_score_prev["DATE"])
box_score_prev['PTS_home'] = pd.to_numeric(box_score_prev['PTS_home'])
box_score_prev['PTS_away'] = pd.to_numeric(box_score_prev['PTS_away'])
box_score_prev['MARGIN'] = pd.to_numeric(box_score_prev['MARGIN'])
box_score_prev['HOME_TEAM_WINS'] = pd.to_numeric(box_score_prev['HOME_TEAM_WINS'])
box_score_prev['FG_PCT_home'] = pd.to_numeric(box_score_prev['FG_PCT_home'])
box_score_prev['FT_PCT_home'] = pd.to_numeric(box_score_prev['FT_PCT_home'])
box_score_prev['FG3_PCT_home'] = pd.to_numeric(box_score_prev['FG3_PCT_home'])
box_score_prev['AST_home'] = pd.to_numeric(box_score_prev['AST_home'])
box_score_prev['REB_home'] = pd.to_numeric(box_score_prev['REB_home'])
box_score_prev['FG_PCT_away'] = pd.to_numeric(box_score_prev['FG_PCT_away'])
box_score_prev['FT_PCT_away'] = pd.to_numeric(box_score_prev['FT_PCT_away'])
box_score_prev['FG3_PCT_away'] = pd.to_numeric(box_score_prev['FG3_PCT_away'])
box_score_prev['AST_away'] = pd.to_numeric(box_score_prev['AST_away'])
box_score_prev['REB_away'] = pd.to_numeric(box_score_prev['REB_away'])

In [38]:
box_score_prev

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44,1.000000,0.000000
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50,0.000000,1.000000
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51,1.000000,0.000000
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48,0.000000,1.000000
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,2022-02-24,CHI,ATL,112,108,4,1,0.488,0.815,0.296,16,43,0.423,0.667,0.286,20,45,0.650000,0.474576
886,2022-02-24,MIN,MEM,119,114,5,1,0.462,0.680,0.381,26,42,0.388,0.725,0.290,25,59,0.533333,0.672131
887,2022-02-24,OKC,PHO,104,124,-20,0,0.473,0.909,0.194,22,42,0.535,0.905,0.382,32,43,0.305085,0.830508
888,2022-02-24,POR,GSW,95,132,-37,0,0.397,0.828,0.257,16,31,0.511,0.844,0.366,36,46,0.416667,0.716667
889,2022-02-24,SAC,DEN,110,128,-18,0,0.500,0.833,0.310,25,34,0.558,0.850,0.429,30,39,0.360656,0.576271

In [45]:
schedule_df = pd.read_csv('schedule_2022.csv')

In [46]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2021-10-19,Brooklyn Nets,104.0,Milwaukee Bucks,127.0
1,2021-10-19,Golden State Warriors,121.0,Los Angeles Lakers,114.0
2,2021-10-20,Indiana Pacers,122.0,Charlotte Hornets,123.0
3,2021-10-20,Chicago Bulls,94.0,Detroit Pistons,88.0
4,2021-10-20,Boston Celtics,134.0,New York Knicks,138.0
...,...,...,...,...,...
1225,2022-04-10,Los Angeles Lakers,0.0,Denver Nuggets,0.0
1226,2022-04-10,San Antonio Spurs,0.0,Dallas Mavericks,0.0
1227,2022-04-10,Milwaukee Bucks,0.0,Cleveland Cavaliers,0.0
1228,2022-04-10,Washington Wizards,0.0,Charlotte Hornets,0.0
1229,2022-04-10,Indiana Pacers,0.0,Brooklyn Nets,0.0

In [28]:
user_input = input('required to get the dates to add to the box_scores')

required to get the dates to add to the box_scores

In [47]:
schedule_df = schedule_df.loc[schedule_df['DATE'] == '2022-02-25']

In [48]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

schedule_df['HOME_ABBR'] = 0
schedule_df['VISITOR_ABBR'] = 0

for ind in schedule_df.index: 
    schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
    schedule_df['HOME'][ind] =schedule_df['HOME'][ind].upper()
    schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
    schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]

<ipython-input-48-378933caafdb>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_ABBR'] = 0
<ipython-input-48-378933caafdb>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR_ABBR'] = 0
<ipython-input-48-378933caafdb>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
<ipython-input-48-378933caafdb>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME'][ind] =schedule_df['HOME'][ind].upper()
<ipython-input-48-378933caafdb>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
<ipython-input-48-378933caafdb>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]

In [31]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,HOME_ABBR,VISITOR_ABBR
890,2022-02-25,TORONTO RAPTORS,0.0,CHARLOTTE HORNETS,0.0,CHO,TOR
891,2022-02-25,OKLAHOMA CITY THUNDER,0.0,INDIANA PACERS,0.0,IND,OKC
892,2022-02-25,HOUSTON ROCKETS,0.0,ORLANDO MAGIC,0.0,ORL,HOU
893,2022-02-25,SAN ANTONIO SPURS,0.0,WASHINGTON WIZARDS,0.0,WAS,SAS
894,2022-02-25,MIAMI HEAT,0.0,NEW YORK KNICKS,0.0,NYK,MIA
895,2022-02-25,PHILADELPHIA 76ERS,0.0,MINNESOTA TIMBERWOLVES,0.0,MIN,PHI
896,2022-02-25,NEW ORLEANS PELICANS,0.0,PHOENIX SUNS,0.0,PHO,NOP
897,2022-02-25,DALLAS MAVERICKS,0.0,UTAH JAZZ,0.0,UTA,DAL
898,2022-02-25,LOS ANGELES CLIPPERS,0.0,LOS ANGELES LAKERS,0.0,LAL,LAC

In [49]:
box_score_columns = box_score_columns = [ 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away']
box_score_df = pd.DataFrame(columns=box_score_columns)


from basketball_reference_scraper.box_scores import get_box_scores

import time
for ind in schedule_df.index:
    date_1 = schedule_df.loc[ind]['DATE']
    home_1 = schedule_df.loc[ind]['HOME_ABBR']
    visitor_1 = schedule_df.loc[ind]['VISITOR_ABBR']
    dict_ = get_box_scores(date_1, visitor_1, home_1, period='GAME', stat_type='BASIC')
    home_df = dict_[home_1]
    visitor_df = dict_[visitor_1]
    #id_ = schedule_df.loc[ind]['ID']
    #unsure why the ID is required
    home_pts = home_df.loc[home_df['PLAYER'] == 'Team Totals']['PTS'].iloc[0]
    visitor_pts = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['PTS'].iloc[0]
    margin_ = int(home_pts) - int(visitor_pts)
    if margin_ > 0:
        home_team_wins = 1
    else:
        home_team_wins = 0
    home_fg_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FG%'].iloc[0]
    home_ft_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FT%'].iloc[0]
    home_fg3_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['3P%'].iloc[0]
    home_ast = home_df.loc[home_df['PLAYER'] == 'Team Totals']['AST'].iloc[0]
    home_reb = home_df.loc[home_df['PLAYER'] == 'Team Totals']['TRB'].iloc[0]
    visitor_fg_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['FG%'].iloc[0]
    visitor_ft_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['FT%'].iloc[0]
    visitor_fg3_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['3P%'].iloc[0]
    visitor_ast = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['AST'].iloc[0]
    visitor_reb = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['TRB'].iloc[0]
    empty_ = []
    #empty_.append(id_)
#ID unsure why that is required
    empty_.append(date_1)
#DATE
    empty_.append(home_1)
#home abbr
    empty_.append(visitor_1)
#visito abbr
    empty_.append(home_pts)
#home pints
    empty_.append(visitor_pts)
#away points
    empty_.append(margin_)
#margin
    empty_.append(home_team_wins)
#HOME_TEAM_WINS
    empty_.append(home_fg_pct)
#FG_PCT
    empty_.append(home_ft_pct)
#FT_PCT
    empty_.append(home_fg3_pct)
#FG3_PCT
    empty_.append(home_ast)
#AST
    empty_.append(home_reb)
#REBOUNDS
    empty_.append(visitor_fg_pct)
#FG_PCT
    empty_.append(visitor_ft_pct)
#FT_PCT
    empty_.append(visitor_fg3_pct)
#FG3
    empty_.append(visitor_ast)
#AST
    empty_.append(visitor_reb)
#REBOUNDS
    length_of_df = len(box_score_df)
    box_score_df.loc[length_of_df] = empty_
    print(empty_)

['2022-02-25', 'CHO', 'TOR', '125', '93', 32, 1, '.553', '.667', '.375', '34', '52', '.440', '.565', '.261', '18', '36']
['2022-02-25', 'IND', 'OKC', '125', '129', -4, 0, '.490', '.591', '.378', '31', '51', '.495', '.750', '.355', '23', '53']
['2022-02-25', 'ORL', 'HOU', '119', '111', 8, 1, '.506', '.759', '.361', '20', '54', '.468', '.450', '.298', '22', '41']
['2022-02-25', 'WAS', 'SAS', '153', '157', -4, 0, '.546', '.792', '.421', '36', '39', '.543', '.791', '.310', '35', '50']
['2022-02-25', 'NYK', 'MIA', '100', '115', -15, 0, '.400', '.722', '.350', '19', '45', '.470', '.743', '.344', '22', '44']
['2022-02-25', 'MIN', 'PHI', '102', '133', -31, 0, '.419', '.840', '.231', '23', '41', '.512', '.833', '.487', '30', '42']
['2022-02-25', 'PHO', 'NOP', '102', '117', -15, 0, '.439', '.750', '.300', '23', '37', '.437', '.805', '.276', '21', '53']
['2022-02-25', 'UTA', 'DAL', '114', '109', 5, 1, '.541', '.818', '.421', '22', '44', '.477', '1.000', '.436', '22', '30']
['2022-02-25', 'LAL', 'LAC', '102', '105', -3, 0, '.419', '.762', '.258', '18', '47', '.494', '.684', '.385', '25', '47']

In [50]:
box_score_combined = pd.concat([box_score_prev, box_score_df])

In [53]:
box_score_combined["DATE"]= pd.to_datetime(box_score_combined["DATE"])

In [54]:
box_score_combined.to_csv('scraped_box_scores/box_score_to_feb_26.csv', index=False)

In [55]:
box_score_combined

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.44,0.565,0.531,19,44
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50
2,2021-10-20,CHO,IND,123,122,1,1,0.43,0.667,0.419,29,46,0.467,0.875,0.362,29,51
3,2021-10-20,DET,CHI,88,94,-6,0,0.4,0.769,0.214,17,47,0.43,0.867,0.304,18,48
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.41,0.739,0.368,34,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2022-02-25,NYK,MIA,100,115,-15,0,.400,.722,.350,19,45,.470,.743,.344,22,44
5,2022-02-25,MIN,PHI,102,133,-31,0,.419,.840,.231,23,41,.512,.833,.487,30,42
6,2022-02-25,PHO,NOP,102,117,-15,0,.439,.750,.300,23,37,.437,.805,.276,21,53
7,2022-02-25,UTA,DAL,114,109,5,1,.541,.818,.421,22,44,.477,1.000,.436,22,30
8,2022-02-25,LAL,LAC,102,105,-3,0,.419,.762,.258,18,47,.494,.684,.385,25,47

In [24]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2022-02-24,DET,CLE,106,103,3,1,.407,.893,.324,23,49,.442,.676,.343,20,42
1,2022-02-24,BRK,BOS,106,129,-23,0,.415,.750,.241,25,38,.541,.741,.405,28,48
2,2022-02-24,CHI,ATL,112,108,4,1,.488,.815,.296,16,43,.423,.667,.286,20,45
3,2022-02-24,MIN,MEM,119,114,5,1,.462,.680,.381,26,42,.388,.725,.290,25,59
4,2022-02-24,OKC,PHO,104,124,-20,0,.473,.909,.194,22,42,.535,.905,.382,32,43
5,2022-02-24,POR,GSW,95,132,-37,0,.397,.828,.257,16,31,.511,.844,.366,36,46
6,2022-02-24,SAC,DEN,110,128,-18,0,.500,.833,.310,25,34,.558,.850,.429,30,39

In [8]:
box_score_df_feb_14 = box_score_df.loc[box_score_df['DATE'] == '2022-02-14']

In [10]:
box_score_df_feb_14.to_csv('box_score_feb_14_only.csv', index=False)

In [ ]:
test_df = box_score_df.loc[box_score_df['HOME_ABBR'] == 'DEN']

In [2]:
pip install basketball-reference-scraper

Collecting basketball-reference-scraper
  Using cached basketball_reference_scraper-1.0.26-py3-none-any.whl (46 kB)
Collecting pandas==0.25.3
  Downloading pandas-0.25.3-cp38-cp38-macosx_10_9_x86_64.whl (10.3 MB)
     |████████████████████████████████| 10.3 MB 14.5 MB/s eta 0:00:01
Collecting lxml==4.4.2
  Downloading lxml-4.4.2.tar.gz (2.6 MB)
     |████████████████████████████████| 2.6 MB 40.6 MB/s eta 0:00:01
Collecting bs4==0.0.1
  Using cached bs4-0.0.1.tar.gz (1.1 kB)
Collecting soupsieve==1.9.5
  Using cached soupsieve-1.9.5-py2.py3-none-any.whl (33 kB)
Collecting numpy==1.18.1
  Downloading numpy-1.18.1-cp38-cp38-macosx_10_9_x86_64.whl (15.2 MB)
     |████████████████████████████████| 15.2 MB 35.5 MB/s eta 0:00:01
Collecting pytz==2019.3
  Using cached pytz-2019.3-py2.py3-none-any.whl (509 kB)
Collecting beautifulsoup4==4.8.2
  Using cached beautifulsoup4-4.8.2-py3-none-any.whl (106 kB)
Requirement already satisfied: python-dateutil==2.8.1 in /Users/stanleytan/anaconda3/lib/python3.8/site-packages (from basketball-reference-scraper) (2.8.1)
Collecting six==1.13.0
  Using cached six-1.13.0-py2.py3-none-any.whl (10 kB)
Collecting requests==2.22.0
  Using cached requests-2.22.0-py2.py3-none-any.whl (57 kB)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/stanleytan/anaconda3/lib/python3.8/site-packages (from requests==2.22.0->basketball-reference-scraper) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/stanleytan/anaconda3/lib/python3.8/site-packages (from requests==2.22.0->basketball-reference-scraper) (1.25.11)
Collecting idna<2.9,>=2.5
  Using cached idna-2.8-py2.py3-none-any.whl (58 kB)
Requirement already satisfied: certifi>=2017.4.17 in /Users/stanleytan/anaconda3/lib/python3.8/site-packages (from requests==2.22.0->basketball-reference-scraper) (2020.6.20)
Building wheels for collected packages: lxml, bs4
  Building wheel for lxml (setup.py) ... done
  Created wheel for lxml: filename=lxml-4.4.2-cp38-cp38-macosx_10_9_x86_64.whl size=1787706 sha256=f37d00d5c1681cc6c554151f54eb613c40b7330f2107c9bc7348719f5408ec50
  Stored in directory: /Users/stanleytan/Library/Caches/pip/wheels/f0/48/b1/afbc9466bd44895c9ce63c8f43745399f5e8f6783c21f429de
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=2f91e586cb6a2865c6a2710daa9f7f94e0de96a0142cfd37f423f702221764f7
  Stored in directory: /Users/stanleytan/Library/Caches/pip/wheels/75/78/21/68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built lxml bs4
Installing collected packages: numpy, pytz, pandas, lxml, soupsieve, beautifulsoup4, bs4, six, idna, requests, basketball-reference-scraper
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.2
    Uninstalling numpy-1.19.2:
      Successfully uninstalled numpy-1.19.2
  Attempting uninstall: pytz
    Found existing installation: pytz 2020.1
    Uninstalling pytz-2020.1:
      Successfully uninstalled pytz-2020.1
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.3
    Uninstalling pandas-1.1.3:
      Successfully uninstalled pandas-1.1.3
  Attempting uninstall: lxml
    Found existing installation: lxml 4.6.1
    Uninstalling lxml-4.6.1:
      Successfully uninstalled lxml-4.6.1
  Attempting uninstall: soupsieve
    Found existing installation: soupsieve 2.0.1
    Uninstalling soupsieve-2.0.1:
      Successfully uninstalled soupsieve-2.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.9.3
    Uninstalling beautifulsoup4-4.9.3:
      Successfully uninstalled beautifulsoup4-4.9.3
  Attempting uninstall: six
    Found existing installation: six 1.15.0
    Uninstalling six-1.15.0:
      Successfully uninstalled six-1.15.0
  Attempting uninstall: idna
    Found existing installation: idna 2.10
    Uninstalling idna-2.10:
      Successfully uninstalled idna-2.10
  Attempting uninstall: requests
    Found existing installation: requests 2.24.0
    Uninstalling requests-2.24.0:
      Successfully uninstalled requests-2.24.0
Successfully installed basketball-reference-scraper-1.0.26 beautifulsoup4-4.8.2 bs4-0.0.1 idna-2.8 lxml-4.4.2 numpy-1.18.1 pandas-0.25.3 pytz-2019.3 requests-2.22.0 six-1.13.0 soupsieve-1.9.5
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install Unidecode

Collecting Unidecode
  Using cached Unidecode-1.1.2-py2.py3-none-any.whl (239 kB)
Installing collected packages: Unidecode
Successfully installed Unidecode-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
from basketball_reference_scraper.seasons import get_schedule, get_standings

df = get_schedule(2022, playoffs=False)

In [5]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

In [11]:
schedule_df_1 = df.dropna()

In [13]:
schedule_df_1 = schedule_df_1.drop_duplicates(subset=['DATE'])

In [16]:
schedule_df_1.to_csv('schedule_df_dropped_duplicates.csv', index=False)

In [6]:
schedule_df = df.copy()

In [8]:
schedule_df = schedule_df.fillna(0)

In [9]:
schedule_df.to_csv('schedule_2022.csv', index=False)

In [7]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2021-10-19,Brooklyn Nets,104.0,Milwaukee Bucks,127.0
1,2021-10-19,Golden State Warriors,121.0,Los Angeles Lakers,114.0
2,2021-10-20,Indiana Pacers,122.0,Charlotte Hornets,123.0
3,2021-10-20,Chicago Bulls,94.0,Detroit Pistons,88.0
4,2021-10-20,Boston Celtics,134.0,New York Knicks,138.0
...,...,...,...,...,...
1225,2022-04-10,Los Angeles Lakers,NaN,Denver Nuggets,NaN
1226,2022-04-10,San Antonio Spurs,NaN,Dallas Mavericks,NaN
1227,2022-04-10,Milwaukee Bucks,NaN,Cleveland Cavaliers,NaN
1228,2022-04-10,Washington Wizards,NaN,Charlotte Hornets,NaN
1229,2022-04-10,Indiana Pacers,NaN,Brooklyn Nets,NaN

In [37]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2021-10-19,Brooklyn Nets,104.0,Milwaukee Bucks,127.0
1,2021-10-19,Golden State Warriors,121.0,Los Angeles Lakers,114.0
2,2021-10-20,Indiana Pacers,122.0,Charlotte Hornets,123.0
3,2021-10-20,Chicago Bulls,94.0,Detroit Pistons,88.0
4,2021-10-20,Boston Celtics,134.0,New York Knicks,138.0
...,...,...,...,...,...
1225,2022-04-10,Los Angeles Lakers,NaN,Denver Nuggets,NaN
1226,2022-04-10,San Antonio Spurs,NaN,Dallas Mavericks,NaN
1227,2022-04-10,Milwaukee Bucks,NaN,Cleveland Cavaliers,NaN
1228,2022-04-10,Washington Wizards,NaN,Charlotte Hornets,NaN
1229,2022-04-10,Indiana Pacers,NaN,Brooklyn Nets,NaN

In [39]:
schedule_df_1 = schedule_df.copy()

In [40]:
schedule_df_1['HOME_ABBR'] = 0
schedule_df_1['VISITOR_ABBR'] = 0
schedule_df_1 = schedule_df.fillna(0)

In [41]:
schedule_df_1

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2021-10-19,Brooklyn Nets,104.0,Milwaukee Bucks,127.0
1,2021-10-19,Golden State Warriors,121.0,Los Angeles Lakers,114.0
2,2021-10-20,Indiana Pacers,122.0,Charlotte Hornets,123.0
3,2021-10-20,Chicago Bulls,94.0,Detroit Pistons,88.0
4,2021-10-20,Boston Celtics,134.0,New York Knicks,138.0
...,...,...,...,...,...
1225,2022-04-10,Los Angeles Lakers,0.0,Denver Nuggets,0.0
1226,2022-04-10,San Antonio Spurs,0.0,Dallas Mavericks,0.0
1227,2022-04-10,Milwaukee Bucks,0.0,Cleveland Cavaliers,0.0
1228,2022-04-10,Washington Wizards,0.0,Charlotte Hornets,0.0
1229,2022-04-10,Indiana Pacers,0.0,Brooklyn Nets,0.0

In [5]:
schedule_df['MARGIN'] = 0
schedule_df['HOME_ABBR'] = 0
schedule_df['VISITOR_ABBR'] = 0
schedule_df['HOME_TEAM_WINS'] = 0 
schedule_df = schedule_df.fillna(0)

In [6]:
for ind in schedule_df.index: 
    schedule_df['MARGIN'][ind] = schedule_df['HOME_PTS'][ind] - schedule_df['VISITOR_PTS'][ind]
    schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
    schedule_df['HOME'][ind] = schedule_df['HOME'][ind].upper()
    schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
    schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]
    if schedule_df['MARGIN'][ind] > 0: 
        schedule_df['HOME_TEAM_WINS'][ind] = 1
    else:
        schedule_df['HOME_TEAM_WINS'][ind] = 0

<ipython-input-6-554545badcb2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['MARGIN'][ind] = schedule_df['HOME_PTS'][ind] - schedule_df['VISITOR_PTS'][ind]
<ipython-input-6-554545badcb2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
<ipython-input-6-554545badcb2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME'][ind] = schedule_df['HOME'][ind].upper()
<ipython-input-6-554545badcb2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
/Users/stanleytan/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-6-554545badcb2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]
<ipython-input-6-554545badcb2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_TEAM_WINS'][ind] = 1
<ipython-input-6-554545badcb2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_TEAM_WINS'][ind] = 0

In [17]:
schedule_df = schedule_df.tail(16)

In [135]:
schedule_df.columns

Index(['DATE', 'VISITOR', 'VISITOR_PTS', 'HOME', 'HOME_PTS', 'MARGIN',
       'HOME_ABBR', 'VISITOR_ABBR', 'HOME_TEAM_WINS'],
      dtype='object')

In [120]:
schedule_df.iloc[849,1]

'ATLANTA HAWKS'

In [121]:
schedule_df.iloc[849,1]

'ATLANTA HAWKS'

In [83]:
schedule_df = schedule_df.head(883)

In [122]:
#test
#from basketball_reference_scraper.box_scores import get_box_scores
#dict_ = get_box_scores(schedule_df.iloc[849,0], schedule_df.iloc[849,7], schedule_df.iloc[849,6], period='GAME', stat_type='BASIC')
#import pandas as pd
#test_ = pd.DataFrame.from_dict(dict_.items())
#from basketball_reference_scraper.box_scores import get_box_scores
#dict_ = get_box_scores(schedule_df.iloc[849,0], schedule_df.iloc[849,7], schedule_df.iloc[849,6], period='GAME', stat_type='BASIC')

In [89]:
schedule_df = schedule_df.tail(16)

In [95]:
schedule_df_0 = schedule_df.copy()

In [99]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
867,2022-02-16,ATLANTA HAWKS,130.0,ORLANDO MAGIC,109.0
868,2022-02-16,Detroit Pistons,112.0,Boston Celtics,111.0
869,2022-02-16,Washington Wizards,108.0,Indiana Pacers,113.0
870,2022-02-16,Brooklyn Nets,111.0,New York Knicks,106.0
871,2022-02-16,Sacramento Kings,118.0,Chicago Bulls,125.0
872,2022-02-16,Portland Trail Blazers,123.0,Memphis Grizzlies,119.0
873,2022-02-16,Toronto Raptors,103.0,Minnesota Timberwolves,91.0
874,2022-02-16,San Antonio Spurs,114.0,Oklahoma City Thunder,106.0
875,2022-02-16,Houston Rockets,121.0,Phoenix Suns,124.0
876,2022-02-16,Denver Nuggets,117.0,Golden State Warriors,116.0
877,2022-02-16,Utah Jazz,101.0,Los Angeles Lakers,106.0
878,2022-02-17,Miami Heat,111.0,Charlotte Hornets,107.0
879,2022-02-17,Washington Wizards,117.0,Brooklyn Nets,103.0
880,2022-02-17,Dallas Mavericks,125.0,New Orleans Pelicans,118.0
881,2022-02-17,Philadelphia 76ers,123.0,Milwaukee Bucks,120.0
882,2022-02-17,Houston Rockets,111.0,Los Angeles Clippers,142.0

In [92]:
import pandas as pd

In [93]:
box_score_columns = box_score_columns = [ 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away']
box_score_df = pd.DataFrame(columns=box_score_columns)

In [100]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

schedule_df_0['HOME_ABBR'] = 0
schedule_df_0['VISITOR_ABBR'] = 0
schedule_df['HOME_ABBR'] = 0
schedule_df['VISITOR_ABBR'] = 0

for ind in schedule_df_0.index: 
    schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
    schedule_df['HOME'][ind] =schedule_df['HOME'][ind].upper()
    schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
    schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]

<ipython-input-100-346e401bf7d5>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
<ipython-input-100-346e401bf7d5>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME'][ind] =schedule_df['HOME'][ind].upper()
<ipython-input-100-346e401bf7d5>:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
<ipython-input-100-346e401bf7d5>:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]

In [2]:

import pandas as pd
schedule_df = pd.read_csv('full_schedule_2021_V2.csv')

In [3]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS,ID
0,2020-12-22,GOLDEN STATE WARRIORS,99.0,BROOKLYN NETS,125.0,26,BRK,GSW,1,1
1,2020-12-22,LOS ANGELES CLIPPERS,116.0,LOS ANGELES LAKERS,109.0,-7,LAL,LAC,0,2
2,2020-12-23,CHARLOTTE HORNETS,114.0,CLEVELAND CAVALIERS,121.0,7,CLE,CHO,1,3
3,2020-12-23,NEW YORK KNICKS,107.0,INDIANA PACERS,121.0,14,IND,NYK,1,4
4,2020-12-23,MIAMI HEAT,107.0,ORLANDO MAGIC,113.0,6,ORL,MIA,1,5
...,...,...,...,...,...,...,...,...,...,...
535,2021-03-04,MILWAUKEE BUCKS,0.0,MEMPHIS GRIZZLIES,0.0,0,MEM,MIL,0,536
536,2021-03-04,OKLAHOMA CITY THUNDER,0.0,SAN ANTONIO SPURS,0.0,0,SAS,OKC,0,537
537,2021-03-04,MIAMI HEAT,0.0,NEW ORLEANS PELICANS,0.0,0,NOP,MIA,0,538
538,2021-03-04,GOLDEN STATE WARRIORS,0.0,PHOENIX SUNS,0.0,0,PHO,GSW,0,539
539,2021-03-04,SACRAMENTO KINGS,0.0,PORTLAND TRAIL BLAZERS,0.0,0,POR,SAC,0,540

In [101]:
from basketball_reference_scraper.box_scores import get_box_scores

import time
for ind in schedule_df.index:
    date_1 = schedule_df.loc[ind]['DATE']
    home_1 = schedule_df.loc[ind]['HOME_ABBR']
    visitor_1 = schedule_df.loc[ind]['VISITOR_ABBR']
    dict_ = get_box_scores(date_1, visitor_1, home_1, period='GAME', stat_type='BASIC')
    home_df = dict_[home_1]
    visitor_df = dict_[visitor_1]
    #id_ = schedule_df.loc[ind]['ID']
    #unsure why the ID is required
    home_pts = home_df.loc[home_df['PLAYER'] == 'Team Totals']['PTS'].iloc[0]
    visitor_pts = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['PTS'].iloc[0]
    margin_ = int(home_pts) - int(visitor_pts)
    if margin_ > 0:
        home_team_wins = 1
    else:
        home_team_wins = 0
    home_fg_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FG%'].iloc[0]
    home_ft_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FT%'].iloc[0]
    home_fg3_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['3P%'].iloc[0]
    home_ast = home_df.loc[home_df['PLAYER'] == 'Team Totals']['AST'].iloc[0]
    home_reb = home_df.loc[home_df['PLAYER'] == 'Team Totals']['TRB'].iloc[0]
    visitor_fg_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['FG%'].iloc[0]
    visitor_ft_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['FT%'].iloc[0]
    visitor_fg3_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['3P%'].iloc[0]
    visitor_ast = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['AST'].iloc[0]
    visitor_reb = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['TRB'].iloc[0]
    empty_ = []
    #empty_.append(id_)
#ID unsure why that is required
    empty_.append(date_1)
#DATE
    empty_.append(home_1)
#home abbr
    empty_.append(visitor_1)
#visito abbr
    empty_.append(home_pts)
#home pints
    empty_.append(visitor_pts)
#away points
    empty_.append(margin_)
#margin
    empty_.append(home_team_wins)
#HOME_TEAM_WINS
    empty_.append(home_fg_pct)
#FG_PCT
    empty_.append(home_ft_pct)
#FT_PCT
    empty_.append(home_fg3_pct)
#FG3_PCT
    empty_.append(home_ast)
#AST
    empty_.append(home_reb)
#REBOUNDS
    empty_.append(visitor_fg_pct)
#FG_PCT
    empty_.append(visitor_ft_pct)
#FT_PCT
    empty_.append(visitor_fg3_pct)
#FG3
    empty_.append(visitor_ast)
#AST
    empty_.append(visitor_reb)
#REBOUNDS
    length_of_df = len(box_score_df)
    box_score_df.loc[length_of_df] = empty_
    print(empty_)

[Timestamp('2022-02-16 00:00:00'), 'ORL', 'ATL', '109', '130', -21, 0, '.429', '.923', '.317', '23', '45', '.500', '.786', '.545', '23', '47']
[Timestamp('2022-02-16 00:00:00'), 'BOS', 'DET', '111', '112', -1, 0, '.545', '.778', '.406', '29', '30', '.462', '.769', '.533', '28', '47']
[Timestamp('2022-02-16 00:00:00'), 'IND', 'WAS', '113', '108', 5, 1, '.542', '.655', '.200', '30', '40', '.429', '.813', '.459', '25', '44']
[Timestamp('2022-02-16 00:00:00'), 'NYK', 'BRK', '106', '111', -5, 0, '.435', '.889', '.372', '22', '44', '.439', '.609', '.324', '21', '51']
[Timestamp('2022-02-16 00:00:00'), 'CHI', 'SAC', '125', '118', 7, 1, '.500', '.950', '.414', '25', '47', '.512', '.909', '.400', '24', '36']
[Timestamp('2022-02-16 00:00:00'), 'MEM', 'POR', '119', '123', -4, 0, '.435', '.810', '.367', '20', '39', '.506', '.750', '.406', '23', '43']
[Timestamp('2022-02-16 00:00:00'), 'MIN', 'TOR', '91', '103', -12, 0, '.390', '.724', '.238', '23', '42', '.455', '.789', '.320', '21', '48']
[Timestamp('2022-02-16 00:00:00'), 'OKC', 'SAS', '106', '114', -8, 0, '.390', '.684', '.344', '25', '50', '.439', '.818', '.294', '29', '57']
[Timestamp('2022-02-16 00:00:00'), 'PHO', 'HOU', '124', '121', 3, 1, '.512', '.806', '.292', '27', '42', '.433', '.857', '.295', '23', '49']
[Timestamp('2022-02-16 00:00:00'), 'GSW', 'DEN', '116', '117', -1, 0, '.517', '.667', '.294', '26', '37', '.473', '.810', '.389', '27', '48']
[Timestamp('2022-02-16 00:00:00'), 'LAL', 'UTA', '106', '101', 5, 1, '.477', '.636', '.278', '24', '44', '.468', '.842', '.333', '17', '41']
[Timestamp('2022-02-17 00:00:00'), 'CHO', 'MIA', '107', '111', -4, 0, '.400', '.700', '.238', '27', '57', '.402', '.652', '.292', '31', '56']
[Timestamp('2022-02-17 00:00:00'), 'BRK', 'WAS', '103', '117', -14, 0, '.404', '.708', '.368', '19', '42', '.554', '.813', '.500', '26', '38']
[Timestamp('2022-02-17 00:00:00'), 'NOP', 'DAL', '118', '125', -7, 0, '.500', '.667', '.429', '22', '48', '.537', '.720', '.475', '18', '38']
[Timestamp('2022-02-17 00:00:00'), 'MIL', 'PHI', '120', '123', -3, 0, '.442', '.786', '.318', '20', '44', '.500', '.852', '.353', '21', '46']
[Timestamp('2022-02-17 00:00:00'), 'LAC', 'HOU', '142', '111', 31, 1, '.554', '.846', '.514', '34', '50', '.462', '.737', '.351', '29', '35']

In [102]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2022-02-16,ORL,ATL,109,130,-21,0,.429,.923,.317,23,45,.500,.786,.545,23,47
1,2022-02-16,BOS,DET,111,112,-1,0,.545,.778,.406,29,30,.462,.769,.533,28,47
2,2022-02-16,IND,WAS,113,108,5,1,.542,.655,.200,30,40,.429,.813,.459,25,44
3,2022-02-16,NYK,BRK,106,111,-5,0,.435,.889,.372,22,44,.439,.609,.324,21,51
4,2022-02-16,CHI,SAC,125,118,7,1,.500,.950,.414,25,47,.512,.909,.400,24,36
5,2022-02-16,MEM,POR,119,123,-4,0,.435,.810,.367,20,39,.506,.750,.406,23,43
6,2022-02-16,MIN,TOR,91,103,-12,0,.390,.724,.238,23,42,.455,.789,.320,21,48
7,2022-02-16,OKC,SAS,106,114,-8,0,.390,.684,.344,25,50,.439,.818,.294,29,57
8,2022-02-16,PHO,HOU,124,121,3,1,.512,.806,.292,27,42,.433,.857,.295,23,49
9,2022-02-16,GSW,DEN,116,117,-1,0,.517,.667,.294,26,37,.473,.810,.389,27,48
10,2022-02-16,LAL,UTA,106,101,5,1,.477,.636,.278,24,44,.468,.842,.333,17,41
11,2022-02-17,CHO,MIA,107,111,-4,0,.400,.700,.238,27,57,.402,.652,.292,31,56
12,2022-02-17,BRK,WAS,103,117,-14,0,.404,.708,.368,19,42,.554,.813,.500,26,38
13,2022-02-17,NOP,DAL,118,125,-7,0,.500,.667,.429,22,48,.537,.720,.475,18,38
14,2022-02-17,MIL,PHI,120,123,-3,0,.442,.786,.318,20,44,.500,.852,.353,21,46
15,2022-02-17,LAC,HOU,142,111,31,1,.554,.846,.514,34,50,.462,.737,.351,29,35

In [103]:
box_score_df_3

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,2022-02-15,PHI,BOS,87,135,-48,0,0.288,0.846,0.250,17,40,0.561,0.818,0.556,28,51
863,2022-02-15,MIL,IND,128,119,9,1,0.558,0.733,0.345,28,47,0.505,0.421,0.415,32,41
864,2022-02-15,MIN,CHO,126,120,6,1,0.394,0.628,0.236,29,58,0.412,0.757,0.242,31,62
865,2022-02-15,NOP,MEM,109,121,-12,0,0.500,0.850,0.154,20,34,0.500,0.630,0.294,29,49
866,2022-02-15,PHO,LAC,103,96,7,1,0.489,0.700,0.320,30,52,0.412,0.667,0.286,26,46

In [ ]:
result = pd.concat([df1, df4], axis=1)

In [104]:
result = pd.concat([box_score_df_3, box_score_df], axis=0)

In [106]:
box_score_df = result.copy()

In [108]:
box_score_df.to_csv('box_score_df_feb_21.csv', index=False)

In [109]:
import pandas as pd
box_score_df_3 = pd.read_csv('box_score_df_feb_21.csv')

In [110]:
box_score_df_3.tail()

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
878,2022-02-17 00:00:00,CHO,MIA,107,111,-4,0,0.400,0.700,0.238,27,57,0.402,0.652,0.292,31,56
879,2022-02-17 00:00:00,BRK,WAS,103,117,-14,0,0.404,0.708,0.368,19,42,0.554,0.813,0.500,26,38
880,2022-02-17 00:00:00,NOP,DAL,118,125,-7,0,0.500,0.667,0.429,22,48,0.537,0.720,0.475,18,38
881,2022-02-17 00:00:00,MIL,PHI,120,123,-3,0,0.442,0.786,0.318,20,44,0.500,0.852,0.353,21,46
882,2022-02-17 00:00:00,LAC,HOU,142,111,31,1,0.554,0.846,0.514,34,50,0.462,0.737,0.351,29,35

In [111]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}
test_ = pd.DataFrame.from_dict(team_to_abbreviation.items())
list_ = test_[1].tolist()
wins_ = dict.fromkeys(list_, 0)
lost_ = dict.fromkeys(list_, 0)

In [ ]:
# adding winning percentage for another
# df = pd.read_csv('old_data/abbr_games.csv')

In [114]:
box_score_df["DATE"]= pd.to_datetime(box_score_df["DATE"])
box_score_df['PTS_home'] = pd.to_numeric(box_score_df['PTS_home'])
box_score_df['PTS_away'] = pd.to_numeric(box_score_df['PTS_away'])
box_score_df['MARGIN'] = pd.to_numeric(box_score_df['MARGIN'])
box_score_df['HOME_TEAM_WINS'] = pd.to_numeric(box_score_df['HOME_TEAM_WINS'])
box_score_df['FG_PCT_home'] = pd.to_numeric(box_score_df['FG_PCT_home'])
box_score_df['FT_PCT_home'] = pd.to_numeric(box_score_df['FT_PCT_home'])
box_score_df['FG3_PCT_home'] = pd.to_numeric(box_score_df['FG3_PCT_home'])
box_score_df['AST_home'] = pd.to_numeric(box_score_df['AST_home'])
box_score_df['REB_home'] = pd.to_numeric(box_score_df['REB_home'])
box_score_df['FG_PCT_away'] = pd.to_numeric(box_score_df['FG_PCT_away'])
box_score_df['FT_PCT_away'] = pd.to_numeric(box_score_df['FT_PCT_away'])
box_score_df['FG3_PCT_away'] = pd.to_numeric(box_score_df['FG3_PCT_away'])
box_score_df['AST_away'] = pd.to_numeric(box_score_df['AST_away'])
box_score_df['REB_away'] = pd.to_numeric(box_score_df['REB_away'])

In [115]:
box_score_df = box_score_df.reset_index(drop=True)

In [116]:
home_winning_percentage_list = []
visitor_winning_percentage_list = []
for ind in box_score_df.index:
    home_abbr = box_score_df.loc[ind]['HOME_ABBR']
    visitor_abbr = box_score_df.loc[ind]['VISITOR_ABBR']
    home_team_wins = box_score_df.loc[ind]['HOME_TEAM_WINS']
    if home_team_wins > 0:
        wins_[home_abbr] += 1
        lost_[visitor_abbr] += 1
    else:
        lost_[home_abbr] += 1
        wins_[visitor_abbr] += 1
    total_games_home_abbr = wins_[home_abbr] + lost_[home_abbr]
    total_games_visitor_abbr = wins_[visitor_abbr] + lost_[visitor_abbr]
    home_winning_percentage = wins_[home_abbr] / total_games_home_abbr
    visitor_winning_percentage = wins_[visitor_abbr] / total_games_visitor_abbr
    home_winning_percentage_list.append(home_winning_percentage)
    visitor_winning_percentage_list.append(visitor_winning_percentage)
box_score_df['home_winning_percentage'] = home_winning_percentage_list
box_score_df['visitor_winning_percentage'] = visitor_winning_percentage_list

In [117]:
box_score_df.tail(10)

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
873,2022-02-16,MIN,TOR,91,103,-12,0,0.390,0.724,0.238,23,42,0.455,0.789,0.320,21,48,0.525424,0.561404
874,2022-02-16,OKC,SAS,106,114,-8,0,0.390,0.684,0.344,25,50,0.439,0.818,0.294,29,57,0.310345,0.389831
875,2022-02-16,PHO,HOU,124,121,3,1,0.512,0.806,0.292,27,42,0.433,0.857,0.295,23,49,0.827586,0.263158
876,2022-02-16,GSW,DEN,116,117,-1,0,0.517,0.667,0.294,26,37,0.473,0.810,0.389,27,48,0.711864,0.568966
877,2022-02-16,LAL,UTA,106,101,5,1,0.477,0.636,0.278,24,44,0.468,0.842,0.333,17,41,0.465517,0.620690
878,2022-02-17,CHO,MIA,107,111,-4,0,0.400,0.700,0.238,27,57,0.402,0.652,0.292,31,56,0.483333,0.644068
879,2022-02-17,BRK,WAS,103,117,-14,0,0.404,0.708,0.368,19,42,0.554,0.813,0.500,26,38,0.525424,0.465517
880,2022-02-17,NOP,DAL,118,125,-7,0,0.500,0.667,0.429,22,48,0.537,0.720,0.475,18,38,0.389831,0.593220
881,2022-02-17,MIL,PHI,120,123,-3,0,0.442,0.786,0.318,20,44,0.500,0.852,0.353,21,46,0.600000,0.603448
882,2022-02-17,LAC,HOU,142,111,31,1,0.554,0.846,0.514,34,50,0.462,0.737,0.351,29,35,0.491803,0.258621

In [118]:
box_score_df["DATE"]= pd.to_datetime(box_score_df["DATE"])
box_score_df['PTS_home'] = pd.to_numeric(box_score_df['PTS_home'])
box_score_df['PTS_away'] = pd.to_numeric(box_score_df['PTS_away'])
box_score_df['MARGIN'] = pd.to_numeric(box_score_df['MARGIN'])
box_score_df['HOME_TEAM_WINS'] = pd.to_numeric(box_score_df['HOME_TEAM_WINS'])
box_score_df['FG_PCT_home'] = pd.to_numeric(box_score_df['FG_PCT_home'])
box_score_df['FT_PCT_home'] = pd.to_numeric(box_score_df['FT_PCT_home'])
box_score_df['FG3_PCT_home'] = pd.to_numeric(box_score_df['FG3_PCT_home'])
box_score_df['AST_home'] = pd.to_numeric(box_score_df['AST_home'])
box_score_df['REB_home'] = pd.to_numeric(box_score_df['REB_home'])
box_score_df['FG_PCT_away'] = pd.to_numeric(box_score_df['FG_PCT_away'])
box_score_df['FT_PCT_away'] = pd.to_numeric(box_score_df['FT_PCT_away'])
box_score_df['FG3_PCT_away'] = pd.to_numeric(box_score_df['FG3_PCT_away'])
box_score_df['AST_away'] = pd.to_numeric(box_score_df['AST_away'])
box_score_df['REB_away'] = pd.to_numeric(box_score_df['REB_away'])
box_score_df['home_winning_percentage'] = pd.to_numeric(box_score_df['home_winning_percentage'])
box_score_df['visitor_winning_percentage'] = pd.to_numeric(box_score_df['visitor_winning_percentage'])

In [119]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44,1.000000,0.000000
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50,0.000000,1.000000
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51,1.000000,0.000000
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48,0.000000,1.000000
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,2022-02-17,CHO,MIA,107,111,-4,0,0.400,0.700,0.238,27,57,0.402,0.652,0.292,31,56,0.483333,0.644068
879,2022-02-17,BRK,WAS,103,117,-14,0,0.404,0.708,0.368,19,42,0.554,0.813,0.500,26,38,0.525424,0.465517
880,2022-02-17,NOP,DAL,118,125,-7,0,0.500,0.667,0.429,22,48,0.537,0.720,0.475,18,38,0.389831,0.593220
881,2022-02-17,MIL,PHI,120,123,-3,0,0.442,0.786,0.318,20,44,0.500,0.852,0.353,21,46,0.600000,0.603448
882,2022-02-17,LAC,HOU,142,111,31,1,0.554,0.846,0.514,34,50,0.462,0.737,0.351,29,35,0.491803,0.258621

In [13]:
test_df = box_score_df.loc[box_score_df['HOME_ABBR'] == 'DEN'].tail(10).mean().reset_index()

In [14]:
test_df

                         index           0
0                     PTS_home  122.200000
1                     PTS_away  113.300000
2                       MARGIN    8.900000
3               HOME_TEAM_WINS    0.700000
4                  FG_PCT_home    0.505400
5                  FT_PCT_home    0.836100
6                 FG3_PCT_home    0.400800
7                     AST_home   31.200000
8                     REB_home   43.500000
9                  FG_PCT_away    0.489600
10                 FT_PCT_away    0.766300
11                FG3_PCT_away    0.358800
12                    AST_away   25.700000
13                    REB_away   41.200000
14     home_winning_percentage    0.537893
15  visitor_winning_percentage    0.452558

In [230]:
res = dict(zip(test_df.iloc[:,0].tolist(), test_df.iloc[:,1].tolist()))

In [123]:
from basketball_reference_scraper.seasons import get_schedule, get_standings

df = get_schedule(2022, playoffs=False)

team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

schedule_df_1 = df.copy()
schedule_df_1['HOME_ABBR'] = 0
schedule_df_1['VISITOR_ABBR'] = 0
schedule_df_1 = schedule_df_1.fillna(0)

for ind in schedule_df_1.index: 
    schedule_df_1['VISITOR'][ind] = schedule_df_1['VISITOR'][ind].upper()
    schedule_df_1['HOME'][ind] = schedule_df_1['HOME'][ind].upper()
    schedule_df_1['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df_1['HOME'][ind]]
    schedule_df_1['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df_1['VISITOR'][ind]]

<ipython-input-123-9b83a9a0fa83>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df_1['VISITOR'][ind] = schedule_df_1['VISITOR'][ind].upper()
<ipython-input-123-9b83a9a0fa83>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df_1['HOME'][ind] = schedule_df_1['HOME'][ind].upper()
<ipython-input-123-9b83a9a0fa83>:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df_1['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df_1['HOME'][ind]]
<ipython-input-123-9b83a9a0fa83>:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df_1['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df_1['VISITOR'][ind]]

In [124]:
schedule_df_1

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,HOME_ABBR,VISITOR_ABBR
0,2021-10-19,BROOKLYN NETS,104.0,MILWAUKEE BUCKS,127.0,MIL,BRK
1,2021-10-19,GOLDEN STATE WARRIORS,121.0,LOS ANGELES LAKERS,114.0,LAL,GSW
2,2021-10-20,INDIANA PACERS,122.0,CHARLOTTE HORNETS,123.0,CHO,IND
3,2021-10-20,CHICAGO BULLS,94.0,DETROIT PISTONS,88.0,DET,CHI
4,2021-10-20,BOSTON CELTICS,134.0,NEW YORK KNICKS,138.0,NYK,BOS
...,...,...,...,...,...,...,...
1225,2022-04-10,LOS ANGELES LAKERS,0.0,DENVER NUGGETS,0.0,DEN,LAL
1226,2022-04-10,SAN ANTONIO SPURS,0.0,DALLAS MAVERICKS,0.0,DAL,SAS
1227,2022-04-10,MILWAUKEE BUCKS,0.0,CLEVELAND CAVALIERS,0.0,CLE,MIL
1228,2022-04-10,WASHINGTON WIZARDS,0.0,CHARLOTTE HORNETS,0.0,CHO,WAS
1229,2022-04-10,INDIANA PACERS,0.0,BROOKLYN NETS,0.0,BRK,IND

In [125]:
obtain_ten_df_2 = schedule_df_1[schedule_df_1['DATE'] == '2022-02-24']

In [126]:
group_by_date_columns = [ 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away']
group_by_date_df = pd.DataFrame(columns=group_by_date_columns)

In [64]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44,1.000000,0.000000
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50,0.000000,1.000000
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51,1.000000,0.000000
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48,0.000000,1.000000
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846,2022-02-12,DAL,LAC,97,99,-2,0,0.412,0.632,0.385,16,44,0.524,0.545,0.318,23,42,0.578947,0.482759
847,2022-02-12,GSW,LAL,117,115,2,1,0.444,0.735,0.316,24,50,0.466,0.667,0.407,25,48,0.736842,0.456140
848,2022-02-12,PHO,ORL,132,105,27,1,0.524,0.700,0.441,40,52,0.425,0.667,0.366,25,44,0.821429,0.224138
849,2022-02-13,BOS,ATL,105,95,10,1,0.424,0.815,0.289,21,54,0.366,1.000,0.316,18,48,0.568966,0.464286
850,2022-02-13,IND,MIN,120,129,-9,0,0.441,0.773,0.289,28,54,0.512,0.893,0.529,23,38,0.327586,0.526316

In [24]:
obtain_ten_df.tail(1)

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
866,2022-02-15,PHO,LAC,103,96,7,1,0.489,0.7,0.32,30,52,0.412,0.667,0.286,26,46,0.824561,0.483333

In [26]:
#test
#visitor_df_group_by = box_score_df.loc[box_score_df['VISITOR_ABBR'] =='LAC'].tail(10).mean().reset_index()
#home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] =='PHO'].tail(10).mean().reset_index()

In [29]:
group_by_date_df.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

<ipython-input-53-42e16680cb81>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['HOME_ABBR'] = 0
<ipython-input-53-42e16680cb81>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['VISITOR_ABBR'] = 0

In [127]:
obtain_ten_df_2

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,HOME_ABBR,VISITOR_ABBR
883,2022-02-24,CLEVELAND CAVALIERS,0.0,DETROIT PISTONS,0.0,DET,CLE
884,2022-02-24,BOSTON CELTICS,0.0,BROOKLYN NETS,0.0,BRK,BOS
885,2022-02-24,ATLANTA HAWKS,0.0,CHICAGO BULLS,0.0,CHI,ATL
886,2022-02-24,MEMPHIS GRIZZLIES,0.0,MINNESOTA TIMBERWOLVES,0.0,MIN,MEM
887,2022-02-24,PHOENIX SUNS,0.0,OKLAHOMA CITY THUNDER,0.0,OKC,PHO
888,2022-02-24,GOLDEN STATE WARRIORS,0.0,PORTLAND TRAIL BLAZERS,0.0,POR,GSW
889,2022-02-24,DENVER NUGGETS,0.0,SACRAMENTO KINGS,0.0,SAC,DEN

In [65]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

obtain_ten_df_2['HOME_ABBR'] = 0
obtain_ten_df_2['VISITOR_ABBR'] = 0

for ind in obtain_ten_df_2.index: 
    obtain_ten_df_2['VISITOR'][ind] = obtain_ten_df_2['VISITOR'][ind].upper()
    obtain_ten_df_2['HOME'][ind] = obtain_ten_df_2['HOME'][ind].upper()
    obtain_ten_df_2['HOME_ABBR'][ind] = team_to_abbreviation[obtain_ten_df_2['HOME'][ind]]
    obtain_ten_df_2['VISITOR_ABBR'][ind] = team_to_abbreviation[obtain_ten_df_2['VISITOR'][ind]]

<ipython-input-65-817f9a0eb305>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['HOME_ABBR'] = 0
<ipython-input-65-817f9a0eb305>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['VISITOR_ABBR'] = 0
<ipython-input-65-817f9a0eb305>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['VISITOR'][ind] = obtain_ten_df_2['VISITOR'][ind].upper()
<ipython-input-65-817f9a0eb305>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['HOME'][ind] = obtain_ten_df_2['HOME'][ind].upper()
<ipython-input-65-817f9a0eb305>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['HOME_ABBR'][ind] = team_to_abbreviation[obtain_ten_df_2['HOME'][ind]]
<ipython-input-65-817f9a0eb305>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obtain_ten_df_2['VISITOR_ABBR'][ind] = team_to_abbreviation[obtain_ten_df_2['VISITOR'][ind]]

In [66]:
obtain_ten_df_2

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,HOME_ABBR,VISITOR_ABBR
851,2022-02-14,DETROIT PISTONS,94.0,WASHINGTON WIZARDS,103.0,WAS,DET
852,2022-02-14,SACRAMENTO KINGS,85.0,BROOKLYN NETS,109.0,BRK,SAC
853,2022-02-14,OKLAHOMA CITY THUNDER,127.0,NEW YORK KNICKS,123.0,NYK,OKC
854,2022-02-14,SAN ANTONIO SPURS,109.0,CHICAGO BULLS,120.0,CHI,SAS
855,2022-02-14,PORTLAND TRAIL BLAZERS,122.0,MILWAUKEE BUCKS,107.0,MIL,POR
856,2022-02-14,TORONTO RAPTORS,90.0,NEW ORLEANS PELICANS,120.0,NOP,TOR
857,2022-02-14,ORLANDO MAGIC,111.0,DENVER NUGGETS,121.0,DEN,ORL
858,2022-02-14,HOUSTON ROCKETS,101.0,UTAH JAZZ,135.0,UTA,HOU
859,2022-02-14,GOLDEN STATE WARRIORS,104.0,LOS ANGELES CLIPPERS,119.0,LAC,GSW

In [128]:
group_by_date_df

Empty DataFrame
Columns: [DATE, HOME_ABBR, VISITOR_ABBR, PTS_home, PTS_away, MARGIN, FG_PCT_home, FT_PCT_home, FG3_PCT_home, FG_PCT_away, FT_PCT_away, FG3_PCT_away]
Index: []

In [129]:
# set a new pandas dataframe
for ind in obtain_ten_df_2.index:
    empty_ = []
    date_1 = obtain_ten_df_2.loc[ind]['DATE']
    home_1 = obtain_ten_df_2.loc[ind]['HOME_ABBR']
    visitor_1 = obtain_ten_df_2.loc[ind]['VISITOR_ABBR']
    empty_.append(date_1)
    empty_.append(home_1)
    empty_.append(visitor_1)
    home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] == home_1].tail(10).mean().reset_index()
    home_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))
    visitor_df_group_by = box_score_df.loc[box_score_df['VISITOR_ABBR'] == visitor_1].tail(10).mean().reset_index()
    visitor_df_dict = dict(zip(visitor_df_group_by.iloc[:,0].tolist(), visitor_df_group_by.iloc[:,1].tolist()))
    empty_.append(home_df_dict['PTS_home'])
    empty_.append(visitor_df_dict['PTS_away'])
    margin = home_df_dict['PTS_home'] - visitor_df_dict['PTS_away']
    empty_.append(margin)
    empty_.append(home_df_dict['FG_PCT_home'])
    empty_.append(home_df_dict['FT_PCT_home'])
    empty_.append(home_df_dict['FG3_PCT_home'])
    empty_.append(visitor_df_dict['FG_PCT_away'])
    empty_.append(visitor_df_dict['FT_PCT_away'])
    empty_.append(visitor_df_dict['FG3_PCT_away'])
    length_of_df = len(group_by_date_df)
    group_by_date_df.loc[length_of_df] = empty_

In [130]:
group_by_date_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,2022-02-24,DET,CLE,109.4,107.6,1.8,0.4495,0.7835,0.3392,0.4880,0.7338,0.3570
1,2022-02-24,BRK,BOS,108.0,111.7,-3.7,0.4563,0.7949,0.3126,0.4802,0.8170,0.3739
2,2022-02-24,CHI,ATL,120.1,111.4,8.7,0.5225,0.8399,0.3714,0.4548,0.8400,0.3415
3,2022-02-24,MIN,MEM,114.0,119.7,-5.7,0.4553,0.7331,0.3466,0.4689,0.6748,0.3206
4,2022-02-24,OKC,PHO,100.8,113.2,-12.4,0.4170,0.7777,0.3204,0.4895,0.7841,0.3181
5,2022-02-24,POR,GSW,105.2,108.5,-3.3,0.4371,0.7272,0.3505,0.4451,0.8052,0.3639
6,2022-02-24,SAC,DEN,117.5,111.9,5.6,0.4846,0.7827,0.3820,0.4732,0.8259,0.3509

In [75]:
group_by_date_df.to_csv('feb_16_2022.csv', index=False)

In [35]:
#how to 
#home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] == 'PHO'].tail(10).mean().reset_index()
#home_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))

In [131]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}
test_ = pd.DataFrame.from_dict(team_to_abbreviation.items())
list_ = test_[1].tolist()
winning_percentage_dict = dict.fromkeys(list_, 0)

for _, row in box_score_df.iterrows():
    home_team = row['HOME_ABBR']
    visitor_team = row['VISITOR_ABBR']
    home_winning_percentage = row['home_winning_percentage']
    visitor_winning_percentage = row['visitor_winning_percentage']
    
    if home_team in winning_percentage_dict:
            winning_percentage_dict[home_team] = home_winning_percentage
    elif visitor_team in winning_percentage_dict:
            winning_percentage_dict[visitor_team] = visitor_winning_percentage
            
# inserting winning_percentage into the dataframe

home_winning_percentage_list = []
visitor_winning_percentage_list = []
for ind in group_by_date_df.index:
    home_abbr = group_by_date_df.loc[ind]['HOME_ABBR']
    visitor_abbr = group_by_date_df.loc[ind]['VISITOR_ABBR']
    home_winning_percentage_list.append(winning_percentage_dict[home_abbr])
    visitor_winning_percentage_list.append(winning_percentage_dict[visitor_abbr])
group_by_date_df['home_winning_percentage'] = home_winning_percentage_list
group_by_date_df['visitor_winning_percentage'] = visitor_winning_percentage_list

In [132]:
box_score_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
0,2021-10-19,MIL,BRK,127,104,23,1,0.457,0.778,0.378,25,54,0.440,0.565,0.531,19,44,1.000000,0.000000
1,2021-10-19,LAL,GSW,114,121,-7,0,0.474,0.474,0.357,21,45,0.441,0.833,0.359,30,50,0.000000,1.000000
2,2021-10-20,CHO,IND,123,122,1,1,0.430,0.667,0.419,29,46,0.467,0.875,0.362,29,51,1.000000,0.000000
3,2021-10-20,DET,CHI,88,94,-6,0,0.400,0.769,0.214,17,47,0.430,0.867,0.304,18,48,0.000000,1.000000
4,2021-10-20,NYK,BOS,138,134,4,1,0.486,0.704,0.378,27,55,0.410,0.739,0.368,34,56,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,2022-02-17,CHO,MIA,107,111,-4,0,0.400,0.700,0.238,27,57,0.402,0.652,0.292,31,56,0.483333,0.644068
879,2022-02-17,BRK,WAS,103,117,-14,0,0.404,0.708,0.368,19,42,0.554,0.813,0.500,26,38,0.525424,0.465517
880,2022-02-17,NOP,DAL,118,125,-7,0,0.500,0.667,0.429,22,48,0.537,0.720,0.475,18,38,0.389831,0.593220
881,2022-02-17,MIL,PHI,120,123,-3,0,0.442,0.786,0.318,20,44,0.500,0.852,0.353,21,46,0.600000,0.603448
882,2022-02-17,LAC,HOU,142,111,31,1,0.554,0.846,0.514,34,50,0.462,0.737,0.351,29,35,0.491803,0.258621

In [134]:
home_winning_percentage_list = []
visitor_winning_percentage_list = []
for ind in group_by_date_df.index:
    home_abbr = group_by_date_df.loc[ind]['HOME_ABBR']
    visitor_abbr = group_by_date_df.loc[ind]['VISITOR_ABBR']
    home_winning_percentage_list.append(winning_percentage_dict[home_abbr])
    visitor_winning_percentage_list.append(winning_percentage_dict[visitor_abbr])
group_by_date_df['home_winning_percentage'] = home_winning_percentage_list
group_by_date_df['visitor_winning_percentage'] = visitor_winning_percentage_list

In [135]:
group_by_date_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage
0,2022-02-24,DET,CLE,109.4,107.6,1.8,0.4495,0.7835,0.3392,0.4880,0.7338,0.3570,0.214286,0.618182
1,2022-02-24,BRK,BOS,108.0,111.7,-3.7,0.4563,0.7949,0.3126,0.4802,0.8170,0.3739,0.525424,0.566667
2,2022-02-24,CHI,ATL,120.1,111.4,8.7,0.5225,0.8399,0.3714,0.4548,0.8400,0.3415,0.644068,0.473684
3,2022-02-24,MIN,MEM,114.0,119.7,-5.7,0.4553,0.7331,0.3466,0.4689,0.6748,0.3206,0.525424,0.683333
4,2022-02-24,OKC,PHO,100.8,113.2,-12.4,0.4170,0.7777,0.3204,0.4895,0.7841,0.3181,0.310345,0.827586
5,2022-02-24,POR,GSW,105.2,108.5,-3.3,0.4371,0.7272,0.3505,0.4451,0.8052,0.3639,0.403509,0.711864
6,2022-02-24,SAC,DEN,117.5,111.9,5.6,0.4846,0.7827,0.3820,0.4732,0.8259,0.3509,0.368421,0.561404

In [136]:
group_by_date_df.to_csv('grouped_feb_24_2022.csv', index=False)

In [137]:
group_by_date_df_2 = group_by_date_df.copy()

In [138]:
group_by_date_df_2 = group_by_date_df_2.rename(columns={"home_winning_percentage": "home", "visitor_winning_percentage": "visitor"})

In [ ]:
df['DataFrame Column'] = df['DataFrame Column'].astype(str)

In [142]:
group_by_date_df_2['home'] = group_by_date_df_2['home'].astype(str)
group_by_date_df_2['visitor'] = group_by_date_df_2['visitor'].astype(str)

In [143]:
group_by_date_df_2['home'] = group_by_date_df_2['home'].str[0:4]
group_by_date_df_2['visitor'] = group_by_date_df_2['visitor'].str[0:4]

In [145]:
group_by_date_df_2.to_csv('grouped_feb_24.csv')

In [ ]:
 = df['Identifier'].str[3:8]

In [256]:
empty_2 = []

In [258]:
home_df_dict['PTS_home']

117.0

In [ ]:
empty_2.append(date)
empty_2.append(home_abbr)
empty_2.append(visitor_abbr)
empty_2.append(home_df_dict['PTS_home'])
empty_2.append()

In [260]:
home_df_dict

{'PTS_home': 117.0,
 'PTS_away': 107.7,
 'MARGIN': 9.3,
 'HOME_TEAM_WINS': 0.9,
 'FG_PCT_home': 0.4896,
 'FT_PCT_home': 0.7440000000000001,
 'FG3_PCT_home': 0.36489999999999995,
 'AST_home': 30.6,
 'REB_home': 47.9,
 'FG_PCT_away': 0.4519,
 'FT_PCT_away': 0.7510999999999999,
 'FG3_PCT_away': 0.3536,
 'AST_away': 22.9,
 'REB_away': 42.3,
 'home_winning_percentage': 0.8076050603259659,
 'visitor_winning_percentage': 0.4862732904901367}

In [ ]:
# set a new pandas dataframe
for ind in obtain_ten_df.index:
    empty_ = []
    date_1 = obtain_ten_df.loc[ind]['DATE']
    home_1 = obtain_ten_df.loc[ind]['HOME_ABBR']
    visitor_1 = obtain_ten_df.loc[ind]['VISITOR_ABBR']
    empty_.append(date_1)
    empty_.append(home_1)
    empty_.append(visitor_1)
    home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] == home_1].tail(10).mean().reset_index()

    home_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))
    visitor_df_group_by = box_score_df.loc[box_score_df['VISITOR_ABBR'] == visitor_1].tail(10).mean().reset_index()
    visitor_df_dict = dict(zip(home_df_group_by.iloc[:,0].tolist(), home_df_group_by.iloc[:,1].tolist()))
    
    
     home_df[]
    
    length_of_df = len(group_by_date_df)
    group_by_date_df.loc[length_of_df] = empty_

In [254]:
obtain_ten_df

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,home_winning_percentage,visitor_winning_percentage
860,2022-02-15,ATL,CLE,124,116,8,1,0.538,0.889,0.424,25,35,0.511,0.833,0.390,30,39,0.473684,0.603448
861,2022-02-15,MIA,DAL,99,107,-8,0,0.417,0.815,0.259,19,48,0.447,0.636,0.439,27,38,0.637931,0.586207
862,2022-02-15,PHI,BOS,87,135,-48,0,0.288,0.846,0.250,17,40,0.561,0.818,0.556,28,51,0.596491,0.576271
863,2022-02-15,MIL,IND,128,119,9,1,0.558,0.733,0.345,28,47,0.505,0.421,0.415,32,41,0.610169,0.322034
864,2022-02-15,MIN,CHO,126,120,6,1,0.394,0.628,0.236,29,58,0.412,0.757,0.242,31,62,0.534483,0.491525
865,2022-02-15,NOP,MEM,109,121,-12,0,0.500,0.850,0.154,20,34,0.500,0.630,0.294,29,49,0.396552,0.694915
866,2022-02-15,PHO,LAC,103,96,7,1,0.489,0.700,0.320,30,52,0.412,0.667,0.286,26,46,0.824561,0.483333