In [70]:
import pandas as pd
box_score_df = pd.read_csv('scraped_box_scores/box_score_df_feb_21_up_until.csv')

In [3]:
box_score_df_feb_14 = box_score_df.loc[box_score_df['DATE'] == '2022-02-14']

In [4]:
grouped_df_feb_14 = pd.read_csv('grouped_box_scores/grouped_feb_14_2022.csv')

In [45]:
grouped_df_feb_14_2 = pd.read_csv('grouped_box_scores/grouped_feb_14_2022.csv')

In [6]:
grouped_df_feb_14.head(1)

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_winning_percentage,visitor_winning_percentage
0,2022-02-14,WAS,DET,105.5,101.1,4.4,0.4492,0.8151,0.3001,0.417,0.7414,0.3085,0.454545,0.214286

In [7]:
box_score_df_feb_14.head(1)

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
851,2022-02-14,WAS,DET,103,94,9,1,0.471,0.778,0.31,21,45,0.376,0.815,0.348,19,44

In [ ]:
box_score_df_feb_14 = box_score_df_feb_14.drop('HOME_TEAM_WINS', 1)

In [10]:
box_score_df_feb_14 = box_score_df_feb_14.drop('AST_away', 1)
box_score_df_feb_14 = box_score_df_feb_14.drop('REB_away', 1)
box_score_df_feb_14.head(1)

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
851,2022-02-14,WAS,DET,103,94,9,0.471,0.778,0.31,21,45,0.376,0.815,0.348

In [14]:
box_score_df_feb_14 = box_score_df_feb_14.drop('AST_home', 1)
box_score_df_feb_14 = box_score_df_feb_14.drop('REB_home', 1)
box_score_df_feb_14.head(1)

,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
851,2022-02-14,WAS,DET,103,94,9,0.471,0.778,0.31,0.376,0.815,0.348

In [15]:
box_score_df_feb_14.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

In [13]:
grouped_df_feb_14.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away', 'home_winning_percentage',
       'visitor_winning_percentage'],
      dtype='object')

In [17]:
grouped_df_feb_14 = grouped_df_feb_14.drop('home_winning_percentage', 1)
grouped_df_feb_14 = grouped_df_feb_14.drop('visitor_winning_percentage', 1)

In [19]:
box_score_df_feb_14.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

In [18]:
grouped_df_feb_14.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

In [16]:
home_winning_percentage = grouped_df_feb_14['home_winning_percentage']
visitor_winning_percentage = grouped_df_feb_14['visitor_winning_percentage']

In [20]:
calculated_df = box_score_df_feb_14 - grouped_df_feb_14

In [22]:
box_score_df_feb_14.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

In [23]:
box_score_df_feb_14["DATE"]= pd.to_datetime(box_score_df_feb_14["DATE"])
box_score_df_feb_14['PTS_home'] = pd.to_numeric(box_score_df_feb_14['PTS_home'])
box_score_df_feb_14['PTS_away'] = pd.to_numeric(box_score_df_feb_14['PTS_away'])
box_score_df_feb_14['MARGIN'] = pd.to_numeric(box_score_df_feb_14['MARGIN'])
box_score_df_feb_14['FG_PCT_home'] = pd.to_numeric(box_score_df_feb_14['FG_PCT_home'])
box_score_df_feb_14['FT_PCT_home'] = pd.to_numeric(box_score_df_feb_14['FT_PCT_home'])
box_score_df_feb_14['FG3_PCT_home'] = pd.to_numeric(box_score_df_feb_14['FG3_PCT_home'])
box_score_df_feb_14['FG_PCT_away'] = pd.to_numeric(box_score_df_feb_14['FG_PCT_away'])
box_score_df_feb_14['FT_PCT_away'] = pd.to_numeric(box_score_df_feb_14['FT_PCT_away'])
box_score_df_feb_14['FG3_PCT_away'] = pd.to_numeric(box_score_df_feb_14['FG3_PCT_away'])

In [24]:
grouped_df_feb_14["DATE"]= pd.to_datetime(grouped_df_feb_14["DATE"])
grouped_df_feb_14['PTS_home'] = pd.to_numeric(grouped_df_feb_14['PTS_home'])
grouped_df_feb_14['PTS_away'] = pd.to_numeric(grouped_df_feb_14['PTS_away'])
grouped_df_feb_14['MARGIN'] = pd.to_numeric(grouped_df_feb_14['MARGIN'])
grouped_df_feb_14['FG_PCT_home'] = pd.to_numeric(grouped_df_feb_14['FG_PCT_home'])
grouped_df_feb_14['FT_PCT_home'] = pd.to_numeric(grouped_df_feb_14['FT_PCT_home'])
grouped_df_feb_14['FG3_PCT_home'] = pd.to_numeric(grouped_df_feb_14['FG3_PCT_home'])
grouped_df_feb_14['FG_PCT_away'] = pd.to_numeric(grouped_df_feb_14['FG_PCT_away'])
grouped_df_feb_14['FT_PCT_away'] = pd.to_numeric(grouped_df_feb_14['FT_PCT_away'])
grouped_df_feb_14['FG3_PCT_away'] = pd.to_numeric(grouped_df_feb_14['FG3_PCT_away'])

In [29]:
grouped_df_feb_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 12 columns):
DATE            9 non-null datetime64[ns]
HOME_ABBR       9 non-null object
VISITOR_ABBR    9 non-null object
PTS_home        9 non-null float64
PTS_away        9 non-null float64
MARGIN          9 non-null float64
FG_PCT_home     9 non-null float64
FT_PCT_home     9 non-null float64
FG3_PCT_home    9 non-null float64
FG_PCT_away     9 non-null float64
FT_PCT_away     9 non-null float64
FG3_PCT_away    9 non-null float64
dtypes: datetime64[ns](1), float64(9), object(2)
memory usage: 992.0+ bytes

In [33]:
grouped_df_feb_14.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

In [32]:
box_score_df_feb_14.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away'],
      dtype='object')

In [34]:
box_score_df_feb_14 = box_score_df_feb_14.drop('DATE', 1)
box_score_df_feb_14 = box_score_df_feb_14.drop('HOME_ABBR', 1)
box_score_df_feb_14 = box_score_df_feb_14.drop('VISITOR_ABBR', 1)

In [35]:
grouped_df_feb_14 = grouped_df_feb_14.drop('DATE', 1)
grouped_df_feb_14 = grouped_df_feb_14.drop('HOME_ABBR', 1)
grouped_df_feb_14 = grouped_df_feb_14.drop('VISITOR_ABBR', 1)

In [40]:
grouped_df_feb_14 = grouped_df_feb_14.reset_index(drop=True)

In [42]:
box_score_df_feb_14

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away
0,103,94,9,0.471,0.778,0.310,0.376,0.815,0.348
1,109,85,24,0.512,0.933,0.346,0.344,0.778,0.257
2,123,127,-4,0.417,0.818,0.300,0.500,0.667,0.382
3,120,109,11,0.523,0.857,0.417,0.478,0.714,0.300
4,107,122,-15,0.427,0.750,0.317,0.455,0.737,0.419
5,120,90,30,0.584,0.875,0.457,0.305,0.774,0.235
6,121,111,10,0.477,0.913,0.400,0.440,0.870,0.282
7,135,101,34,0.551,0.864,0.450,0.422,0.679,0.324
8,119,104,15,0.565,0.533,0.441,0.453,0.769,0.390

In [43]:
calculated_df = box_score_df_feb_14 - grouped_df_feb_14

In [46]:
calculated_df['DATE'] = grouped_df_feb_14_2['DATE']
calculated_df['HOME_ABBR'] = grouped_df_feb_14_2['HOME_ABBR']
calculated_df['VISITOR_ABBR'] = grouped_df_feb_14_2['VISITOR_ABBR']

In [48]:
calculated_df['home_%'] = home_winning_percentage
calculated_df['visitor_%'] = visitor_winning_percentage

In [50]:
calculated_df['diff_%'] = home_winning_percentage - visitor_winning_percentage

In [52]:
calculated_df.to_csv('diff_feb_14.csv', index=False)

In [ ]:
grouped_df_feb_14_2

In [53]:
calculated_df_2 = calculated_df.copy()

In [58]:
calculated_df_2 = calculated_df_2.round({"diff_%":1})

In [59]:
grouped_df = calculated_df_2.groupby("diff_%")

In [62]:
mean_df = grouped_df.mean()

In [63]:
mean_df

,PTS_home,PTS_away,MARGIN,FG_PCT_home,FT_PCT_home,FG3_PCT_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,home_%,visitor_%
diff_%,,,,,,,,,,,
-0.2,11.500000,-11.950000,23.45,0.121100,-0.109500,0.126650,-0.071000,0.000750,-0.04635,0.441883,0.650239
0.1,17.700000,25.000000,-7.30,-0.031800,0.092700,-0.061800,0.078200,-0.100300,0.06450,0.461538,0.314815
0.2,-2.333333,-3.533333,1.20,0.018667,0.015033,0.009433,-0.052233,0.048433,0.00680,0.531785,0.328739
0.3,1.200000,0.950000,0.25,-0.011300,0.078100,0.034800,0.003200,-0.005100,-0.06785,0.593567,0.294276
0.4,25.300000,-9.800000,35.10,0.093500,0.071300,0.126800,-0.026500,-0.071300,-0.03370,0.625000,0.272727

In [ ]:
grouped_df = df.groupby("Name")
mean_df = grouped_df.mean()

mean

In [65]:
mean_df.to_csv(' 
               "
               "
               """"')

SyntaxError: EOL while scanning string literal (<ipython-input-65-4588f5e66fca>, line 1)

In [66]:
home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] == home_1].tail(10).mean().reset_index()

NameError: name 'home_1' is not defined

In [ ]:
home_df_group_by = box_score_df.loc[box_score_df['HOME_ABBR'] == home_1].tail(10).mean().reset_index()