In [1]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup
import numpy as np
from time import sleep
#1 import dependencies

In [2]:
df_2.columns

NameError: name 'df_2' is not defined

CREATE_TABLE

CREATE TABLE full_schedule (
    "ID" INT PRIMARY KEY, 
    "DATE" DATE,
    "VISITOR" VARCHAR,
    "VISITOR_PTS" INT,
    "HOME" VARCHAR,
    "HOME_PTS" INT,
    "MARGIN" INT,
    "HOME_ABBR" VARCHAR,
    "VISITOR_ABBR" VARCHAR,
    "HOME_TEAM_WINS" INT
);

In [3]:
#import dependencies
import sqlalchemy
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
# postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
#                 .format(username='postgres',
#                         password='postgres',
#                         ipaddress='localhost',
#                         port=5432,
#                         dbname='flask_deploy'))

postgres_str = 'postgres://umydthrhevlwbv:a166611fc4fda747769900bb51cfb8cbd633cebe3ec13fdfc2180772a9d3bc8d@ec2-18-204-101-137.compute-1.amazonaws.com:5432/d9ugm948kmolua'



# Create the connection
engine = create_engine(postgres_str)
cnx = engine.connect()

In [4]:
# Declare a Base using `automap_base()`
Base = automap_base()

Base.prepare(engine, reflect=True)

print(Base.classes.keys())

['presidents', 'pets', 'box_score_2021', 'historic', 'all_for_ml_test', 'for_import_ml', 'full_schedule', 'predicted_values', 'training_model']

In [5]:
postgres_box_score = pd.read_sql("""
SELECT * FROM box_score_2021
""", con=engine)

In [6]:
postgres_box_score

,ID,DATE,HOME_ABBR,MARGIN,HOME_TEAM_WINS,VISITOR_ABBR,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,26,1,GSW,125,99,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47
1,2,2020-12-22,LAL,-7,0,LAC,109,116,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40
2,3,2020-12-23,CLE,7,1,CHO,121,114,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32
3,4,2020-12-23,IND,14,1,NYK,121,107,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40
4,5,2020-12-23,ORL,6,1,MIA,113,107,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,430,2021-02-19,MEM,14,1,DET,109,95,0.467,0.870,0.250,20,49,0.419,0.692,0.311,27,45
430,431,2021-02-19,MIL,13,1,OKC,98,85,0.407,0.680,0.324,23,61,0.365,0.524,0.300,20,46
431,432,2021-02-19,NOP,-18,0,PHO,114,132,0.512,0.792,0.344,28,37,0.580,0.667,0.564,38,37
432,433,2021-02-19,MIN,-5,0,TOR,81,86,0.386,0.727,0.237,24,43,0.329,0.818,0.300,16,51
433,434,2021-02-19,LAC,4,1,UTA,116,112,0.483,0.909,0.333,22,45,0.477,0.857,0.353,13,38

In [ ]:
Because of covid the schedule is changing

In [7]:
from basketball_reference_scraper.seasons import get_schedule, get_standings

schedule_df = get_schedule(2021, playoffs=False)

In [8]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2020-12-22,Golden State Warriors,99,Brooklyn Nets,125
1,2020-12-22,Los Angeles Clippers,116,Los Angeles Lakers,109
2,2020-12-23,Charlotte Hornets,114,Cleveland Cavaliers,121
3,2020-12-23,New York Knicks,107,Indiana Pacers,121
4,2020-12-23,Miami Heat,107,Orlando Magic,113
...,...,...,...,...,...
1158,2021-06-26,Phoenix Suns,84,Los Angeles Clippers,80
1159,2021-06-27,Milwaukee Bucks,113,Atlanta Hawks,102
1160,2021-06-28,Los Angeles Clippers,116,Phoenix Suns,102
1161,2021-06-29,Milwaukee Bucks,88,Atlanta Hawks,110
1162,2021-06-30,Phoenix Suns,130,Los Angeles Clippers,103

In [140]:
from basketball_reference_scraper.seasons import get_schedule, get_standings

schedule_df = get_schedule(2021, playoffs=False)

team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}
schedule_df['MARGIN'] = 0
schedule_df['HOME_ABBR'] = 0
schedule_df['VISITOR_ABBR'] = 0
schedule_df['HOME_TEAM_WINS'] = 0 
schedule_df = schedule_df.fillna(0)
for ind in schedule_df.index: 
    schedule_df['MARGIN'][ind] = schedule_df['HOME_PTS'][ind] - schedule_df['VISITOR_PTS'][ind]
    schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
    schedule_df['HOME'][ind] = schedule_df['HOME'][ind].upper()
    schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
    schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]
    if schedule_df['MARGIN'][ind] > 0: 
        schedule_df['HOME_TEAM_WINS'][ind] = 1
    else:
        schedule_df['HOME_TEAM_WINS'][ind] = 0 
end_a = len(schedule_df) + 1
a_ = list(range(1, end_a))
schedule_df['ID'] = a_
schedule_df = schedule_df[['ID','DATE', 'VISITOR', 'VISITOR_PTS', 'HOME', 'HOME_PTS', 'MARGIN',
       'HOME_ABBR', 'VISITOR_ABBR', 'HOME_TEAM_WINS']]

In [155]:
schedule_df.to_sql('full_schedule', engine, if_exists='replace', index=False)

In [156]:
with engine.connect() as con:
    con.execute('ALTER TABLE full_schedule ADD PRIMARY KEY ("ID");')

Will need this code later to return an element

In [92]:
postgres_box_score['DATE'] = pd.to_datetime(postgres_box_score['DATE'])

<ipython-input-92-d72aada2516e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postgres_box_score['DATE'] = pd.to_datetime(postgres_box_score['DATE'])

In [14]:
list_of_dates_from_box_score = postgres_box_score['DATE'].dt.strftime("%Y-%m-%d").tolist()
sorted_list_of_dates_from_box_score = list(set(list_of_dates_from_box_score))
sorted_list_of_dates_from_box_score.sort()

```
schedule_df = df_2.copy()
```
1. change here because calling the schedule into the system

In [94]:
schedule_df['DATE'] = pd.to_datetime(schedule_df['DATE'])

In [95]:
list_of_dates_from_schedule = schedule_df['DATE'].dt.strftime("%Y-%m-%d").tolist()
sorted_list_of_dates_from_schedule = list(set(list_of_dates_from_schedule))
sorted_list_of_dates_from_schedule.sort()

In [16]:
len(sorted_list_of_dates_from_schedule)
#72
len(sorted_list_of_dates_from_box_score)
#51

51

In [96]:
import time
from datetime import datetime, date, time, timedelta
today = date.today()
one_day = timedelta(1)
yesterday = today - one_day
date_time = yesterday.strftime('%Y-%m-%d')
date_time

'2021-02-19'

In [97]:
res = []
if date_time != sorted_list_of_dates_from_box_score[-1]:
    end_ = sorted_list_of_dates_from_schedule.index(date_time) + 1 
    #need to gather the end of the list of schedule
    new_list_of_dates_from_schedule = sorted_list_of_dates_from_schedule[0:end_]
    #after gathered then need to set something
    res = [i for i in new_list_of_dates_from_schedule if i not in list_of_dates_from_box_score]
else:
    print('there does not need to be an update')

In [98]:
res

['2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19']

<u> SOMETHING IS WRONG WITH THIS CODE HERE don't know WHY THERE ARE TWO DATES THAT SHOW UP </u>

In [21]:
res = res[1]

In [ ]:
res

In [23]:
res = [res]

In [25]:
schedule_df.head(1)

,ID,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS
DATE,,,,,,,,,
2020-12-22,1,GOLDEN STATE WARRIORS,99.0,BROOKLYN NETS,125.0,26,BRK,GSW,1

In [ ]:
df.country.isin(countries_to_keep)

In [99]:
schedule_df1 = schedule_df.loc[schedule_df['DATE'].isin(res)]

In [100]:
schedule_df1

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS
399,2021-02-15,CHICAGO BULLS,120.0,INDIANA PACERS,112.0,-8,IND,CHI,0
400,2021-02-15,HOUSTON ROCKETS,119.0,WASHINGTON WIZARDS,131.0,12,WAS,HOU,1
401,2021-02-15,ATLANTA HAWKS,112.0,NEW YORK KNICKS,123.0,11,NYK,ATL,1
402,2021-02-15,PHILADELPHIA 76ERS,123.0,UTAH JAZZ,134.0,11,UTA,PHI,1
403,2021-02-15,CLEVELAND CAVALIERS,98.0,GOLDEN STATE WARRIORS,129.0,31,GSW,CLE,1
404,2021-02-15,MIAMI HEAT,118.0,LOS ANGELES CLIPPERS,125.0,7,LAC,MIA,1
405,2021-02-15,BROOKLYN NETS,136.0,SACRAMENTO KINGS,125.0,-11,SAC,BRK,0
406,2021-02-16,DENVER NUGGETS,99.0,BOSTON CELTICS,112.0,13,BOS,DEN,1
407,2021-02-16,NEW ORLEANS PELICANS,144.0,MEMPHIS GRIZZLIES,113.0,-31,MEM,NOP,0
408,2021-02-16,TORONTO RAPTORS,124.0,MILWAUKEE BUCKS,113.0,-11,MIL,TOR,0
409,2021-02-16,LOS ANGELES LAKERS,112.0,MINNESOTA TIMBERWOLVES,104.0,-8,MIN,LAL,0
410,2021-02-16,PORTLAND TRAIL BLAZERS,115.0,OKLAHOMA CITY THUNDER,104.0,-11,OKC,POR,0
411,2021-02-16,BROOKLYN NETS,128.0,PHOENIX SUNS,124.0,-4,PHO,BRK,0
412,2021-02-17,NEW YORK KNICKS,89.0,ORLANDO MAGIC,107.0,18,ORL,NYK,1
413,2021-02-17,ATLANTA HAWKS,122.0,BOSTON CELTICS,114.0,-8,BOS,ATL,0
414,2021-02-17,HOUSTON ROCKETS,113.0,PHILADELPHIA 76ERS,118.0,5,PHI,HOU,1
415,2021-02-17,DETROIT PISTONS,102.0,CHICAGO BULLS,105.0,3,CHI,DET,1
416,2021-02-17,INDIANA PACERS,134.0,MINNESOTA TIMBERWOLVES,128.0,-6,MIN,IND,0
417,2021-02-17,DENVER NUGGETS,128.0,WASHINGTON WIZARDS,130.0,2,WAS,DEN,1
418,2021-02-17,OKLAHOMA CITY THUNDER,113.0,MEMPHIS GRIZZLIES,122.0,9,MEM,OKC,1
419,2021-02-17,PORTLAND TRAIL BLAZERS,126.0,NEW ORLEANS PELICANS,124.0,-2,NOP,POR,0
420,2021-02-17,MIAMI HEAT,112.0,GOLDEN STATE WARRIORS,120.0,8,GSW,MIA,1
421,2021-02-17,UTAH JAZZ,114.0,LOS ANGELES CLIPPERS,96.0,-18,LAC,UTA,0
422,2021-02-18,TORONTO RAPTORS,110.0,MILWAUKEE BUCKS,96.0,-14,MIL,TOR,0
423,2021-02-18,BROOKLYN NETS,109.0,LOS ANGELES LAKERS,98.0,-11,LAL,BRK,0
424,2021-02-18,MIAMI HEAT,118.0,SACRAMENTO KINGS,110.0,-8,SAC,MIA,0
425,2021-02-19,DENVER NUGGETS,120.0,CLEVELAND CAVALIERS,103.0,-17,CLE,DEN,0
426,2021-02-19,GOLDEN STATE WARRIORS,120.0,ORLANDO MAGIC,124.0,4,ORL,GSW,1
427,2021-02-19,ATLANTA HAWKS,109.0,BOSTON CELTICS,121.0,12,BOS,ATL,1
428,2021-02-19,CHICAGO BULLS,105.0,PHILADELPHIA 76ERS,112.0,7,PHI,CHI,1
429,2021-02-19,DETROIT PISTONS,95.0,MEMPHIS GRIZZLIES,109.0,14,MEM,DET,1
430,2021-02-19,OKLAHOMA CITY THUNDER,85.0,MILWAUKEE BUCKS,98.0,13,MIL,OKC,1
431,2021-02-19,PHOENIX SUNS,132.0,NEW ORLEANS PELICANS,114.0,-18,NOP,PHO,0
432,2021-02-19,TORONTO RAPTORS,86.0,MINNESOTA TIMBERWOLVES,81.0,-5,MIN,TOR,0
433,2021-02-19,UTAH JAZZ,112.0,LOS ANGELES CLIPPERS,116.0,4,LAC,UTA,1

In [ ]:
Grabbing the IDs to put into the boxscore

In [123]:
last_postgres_id_plus_1 = postgres_box_score.tail(1)['ID'].iloc[0] +1 
end_b = len(schedule_df1)
end_c = last_postgres_id_plus_1 + end_b
b_ = list(range(last_postgres_id_plus_1, end_c))
schedule_df1['ID'] = b_

<ipython-input-123-6b53fe91e3f7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df1['ID'] = b_

In [28]:
# schedule_df = schedule_df.loc[schedule_df['VISITOR_PTS'] > 0]
# no need to run

<u> make this better because I have 0.0 for the scores </u>
checking how I scrape for information

In [132]:
box_score_columns = ['ID', 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away']
box_score_df = pd.DataFrame(columns=box_score_columns)

TUTORIAL

```python
from basketball_reference_scraper.box_scores import get_box_scores
date = '2021-02-19'
team1 = 'ATL'
team2 = 'BOS'
dict_ = get_box_scores(date, team1, team2, period='GAME', stat_type='BASIC')
second_ = dict_['ATL']
second_.loc[second_['PLAYER'] == 'Team Totals']['FG'].iloc[0]
```

In [126]:
schedule_df1.tail(1)

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS,ID
433,2021-02-19,UTAH JAZZ,112.0,LOS ANGELES CLIPPERS,116.0,4,LAC,UTA,1,434

In [10]:
from basketball_reference_scraper.box_scores import get_box_scores

In [11]:
dict_ = get_box_scores(date_1, visitor_1, home_1, period='GAME', stat_type='BASIC')

NameError: name 'date_1' is not defined

In [13]:
schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
0,2020-12-22,Golden State Warriors,99,Brooklyn Nets,125
1,2020-12-22,Los Angeles Clippers,116,Los Angeles Lakers,109
2,2020-12-23,Charlotte Hornets,114,Cleveland Cavaliers,121
3,2020-12-23,New York Knicks,107,Indiana Pacers,121
4,2020-12-23,Miami Heat,107,Orlando Magic,113
...,...,...,...,...,...
1158,2021-06-26,Phoenix Suns,84,Los Angeles Clippers,80
1159,2021-06-27,Milwaukee Bucks,113,Atlanta Hawks,102
1160,2021-06-28,Los Angeles Clippers,116,Phoenix Suns,102
1161,2021-06-29,Milwaukee Bucks,88,Atlanta Hawks,110
1162,2021-06-30,Phoenix Suns,130,Los Angeles Clippers,103

In [133]:
for ind in schedule_df1.index:
    date_1 = schedule_df1.loc[ind]['DATE']
    home_1 = schedule_df1.loc[ind]['HOME_ABBR']
    visitor_1 = schedule_df1.loc[ind]['VISITOR_ABBR']
    dict_ = get_box_scores(date_1, visitor_1, home_1, period='GAME', stat_type='BASIC')
    home_df = dict_[home_1]
    visitor_df = dict_[visitor_1]
    third_ = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FG'].iloc[0]
    id_ = schedule_df1.loc[ind]['ID']
    home_pts = home_df.loc[home_df['PLAYER'] == 'Team Totals']['PTS'].iloc[0]
    visitor_pts = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['PTS'].iloc[0]
    margin_ = int(home_pts) - int(visitor_pts)
    if margin_ > 0:
        home_team_wins = 1
    else:
        home_team_wins = 0
    home_fg_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FG%'].iloc[0]
    home_ft_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['FT%'].iloc[0]
    home_fg3_pct = home_df.loc[home_df['PLAYER'] == 'Team Totals']['3P%'].iloc[0]
    home_ast = home_df.loc[home_df['PLAYER'] == 'Team Totals']['AST'].iloc[0]
    home_reb = home_df.loc[home_df['PLAYER'] == 'Team Totals']['TRB'].iloc[0]
    visitor_fg_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['FG%'].iloc[0]
    visitor_ft_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['FT%'].iloc[0]
    visitor_fg3_pct = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['3P%'].iloc[0]
    visitor_ast = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['AST'].iloc[0]
    visitor_reb = visitor_df.loc[visitor_df['PLAYER'] == 'Team Totals']['TRB'].iloc[0]
    empty_ = []
    empty_.append(id_)
#ID
    empty_.append(date_1)
#DATE
    empty_.append(home_1)
#home abbr
    empty_.append(visitor_1)
#visito abbr
    empty_.append(home_pts)
#home pints
    empty_.append(visitor_pts)
#away points
    empty_.append(margin_)
#margin
    empty_.append(home_team_wins)
#HOME_TEAM_WINS
    empty_.append(home_fg_pct)
#FG_PCT
    empty_.append(home_ft_pct)
#FT_PCT
    empty_.append(home_fg3_pct)
#FG3_PCT
    empty_.append(home_ast)
#AST
    empty_.append(home_reb)
#REBOUNDS
    empty_.append(visitor_fg_pct)
#FG_PCT
    empty_.append(visitor_ft_pct)
#FT_PCT
    empty_.append(visitor_fg3_pct)
#FG3
    empty_.append(visitor_ast)
#AST
    empty_.append(visitor_reb)
#REBOUNDS
    length_of_df = len(box_score_df)
    box_score_df.loc[length_of_df] = empty_
    sleep(0.1)

Errors that you run into, if a game got cancelled

In [86]:
#import dependencies
import sqlalchemy
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username='postgres',
                        password='postgres',
                        ipaddress='localhost',
                        port=5432,
                        dbname='flask_deploy'))
# Create the connection
engine = create_engine(postgres_str)
cnx = engine.connect()

In [88]:
box_score_df_main_2.to_sql('box_score_2021', engine, if_exists='append', index=False)

In [23]:
#in case the other scraper does not work
for ind in schedule_df1.index:
    if schedule_df1['VISITOR_PTS'][ind] == 0.0:
        # date_1 = schedule_df1.loc[ind]['DATE'].replace(r"-","") + "0"
        # this stopped working for some reason
        date_1 = schedule_df1.loc[ind]['DATE']
        date_1 = date_1.strftime('%Y%m%d') + '0'
        home_1 = schedule_df1.loc[ind]['HOME_ABBR']
        visitor_1 = schedule_df1.loc[ind]['VISITOR_ABBR']
        basketball_url = "https://www.basketball-reference.com/boxscores/"
        url = basketball_url + date_1 + home_1 + ".html"
        html = urlopen(url)
        soup = BeautifulSoup(html)
        table_home_abbr = "box-{0}-game-basic".format(home_1)
        table_visitor_abbr = "box-{0}-game-basic".format(visitor_1)
        table_home = soup.find('table', {"id":table_home_abbr})
        df_home = pd.read_html(str(table_home))
        df_home = df_home[0]
      
        new_columns = ['STARTERS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', '+/-']
        np_array = np.arange(len(df_home.columns))
        list_ = np_array.tolist()
        df_home.columns = df_home.columns.droplevel(0)
#renaming columns
        for j in range(len(df_home.columns)):
            old = df_home.columns[j]
            new = new_columns[j]
            df_home = df_home.rename(columns = {old:new})
        table_visitor = soup.find('table', {"id":table_visitor_abbr})
        df_visitor = pd.read_html(str(table_visitor))
        df_visitor = df_visitor[0]
        new_columns = ['STARTERS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', '+/-']
        np_array = np.arange(len(df_visitor.columns))
        list_ = np_array.tolist()
        df_visitor.columns = df_visitor.columns.droplevel(0)
#renaming columns
        for j in range(len(df_visitor.columns)):
            old = df_visitor.columns[j]
            new = new_columns[j]
            df_visitor = df_visitor.rename(columns = {old:new})
        df_home_df = df_home.loc[df_home['STARTERS'] == 'Team Totals'].reset_index(drop=True)
        df_visitor_df = df_visitor.loc[df_visitor['STARTERS'] == 'Team Totals'].reset_index(drop=True)

        empty_ = []
        id_ = schedule_df1.loc[ind]['ID']
        date_= schedule_df1.loc[ind]['DATE']
        home_abbr_ = schedule_df1.loc[ind]['HOME_ABBR']
        visitor_abbr_ = schedule_df1.loc[ind]['VISITOR_ABBR']
        home_pts_ = df_home_df.loc[0]['PTS']
        visitor_pts_ = df_visitor_df.loc[0]['PTS'] 
        margin_ = int(df_home_df.loc[0]['PTS']) - int(df_visitor_df.loc[0]['PTS'])
        if margin_ > 1:
                home_team_wins = 1
        else:
                home_team_wins = 0
        home_fg_pct_ = df_home_df.loc[0]['FG%']
        home_ft_pct_ = df_home_df.loc[0]['FT%'] 
        home_fg3_pct_ = df_home_df.loc[0]['3P%']
        home_ast_ = df_home_df.loc[0]['AST'] 
        home_reb_ = df_home_df.loc[0]['TRB']
        visitor_fg_pct_ = df_visitor_df.loc[0]['FG%']
        visitor_ft_pct_ = df_visitor_df.loc[0]['FT%']
        visitor_fg3_pct_ = df_visitor_df.loc[0]['3P%']
        visitor_ast_ = df_visitor_df.loc[0]['AST']
        visitor_reb_ = df_visitor_df.loc[0]['TRB']
        empty_.append(id_)
#ID
        empty_.append(date_)
#DATE
        empty_.append(home_abbr_)
#home abbbr
        empty_.append(visitor_abbr_)
#visitor abbr
        empty_.append(home_pts_)
#home points
        empty_.append(visitor_pts_)
#away points
        empty_.append(margin_)
#margin
        empty_.append(home_team_wins)
#HOME_TEAM_WINS
        empty_.append(home_fg_pct_)
#FG_PCT
        empty_.append(home_ft_pct_)
#FT_PCT
        empty_.append(home_fg3_pct_)
#FG3_PCT
        empty_.append(home_ast_)
#AST
        empty_.append(home_reb_)
#REBOUNDS
        empty_.append(visitor_fg_pct_)
#FG_PCT
        empty_.append(visitor_ft_pct_)
#FT_PCT
        empty_.append(visitor_fg3_pct_)
#FG3
        empty_.append(visitor_ast_)
#AST
        empty_.append(visitor_reb_)
#REBOUNDS
        length_of_df = len(box_score_df)
        box_score_df.loc[length_of_df] = empty_
        sleep(0.1)

HTTPError: HTTP Error 404: Not Found

In [28]:
box_score_df

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,390,2021-02-14,WAS,BOS,104,91,13,1,.398,.861,.233,24,54,.356,.600,.257,14,50
1,391,2021-02-14,TOR,MIN,112,116,-4,0,.418,.839,.303,24,38,.524,.737,.410,28,40
2,392,2021-02-14,CHO,SAS,110,122,-12,0,.479,.727,.353,23,49,.495,.842,.294,31,43
3,393,2021-02-14,DET,NOP,123,112,11,1,.536,.800,.486,34,37,.444,.821,.257,23,44
4,394,2021-02-14,OKC,MIL,114,109,5,1,.474,.563,.417,32,49,.464,.667,.342,24,47
5,395,2021-02-14,DAL,POR,118,121,-3,0,.494,.960,.341,19,35,.529,.684,.450,15,36
6,396,2021-02-14,PHO,ORL,109,90,19,1,.446,.938,.324,24,59,.371,.818,.171,13,48
7,397,2021-02-14,SAC,MEM,110,124,-14,0,.500,.769,.242,22,33,.532,.789,.429,31,43
8,398,2021-02-14,DEN,LAL,122,105,17,1,.459,.735,.404,28,47,.460,.655,.214,27,46
9,399,2021-02-14,LAC,CLE,128,111,17,1,.477,.861,.433,31,47,.462,.720,.280,25,40

In [56]:
schedule_df1

,ID,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS
368,369,2021-02-11,TORONTO RAPTORS,0.0,BOSTON CELTICS,0.0,0,BOS,TOR,0
369,370,2021-02-11,MIAMI HEAT,0.0,HOUSTON ROCKETS,0.0,0,HOU,MIA,0
370,371,2021-02-11,INDIANA PACERS,0.0,DETROIT PISTONS,0.0,0,DET,IND,0
371,372,2021-02-11,ORLANDO MAGIC,0.0,GOLDEN STATE WARRIORS,0.0,0,GSW,ORL,0
372,373,2021-02-11,PHILADELPHIA 76ERS,0.0,PORTLAND TRAIL BLAZERS,0.0,0,POR,PHI,0

In [57]:
box_score_df

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,369,2021-02-11,BOS,TOR,120,106,14,1,.453,.786,.513,30,49,.494,.789,.321,26,32
1,370,2021-02-11,HOU,MIA,94,101,-7,0,.386,.750,.300,24,42,.430,.900,.357,24,49
2,371,2021-02-11,DET,IND,95,111,-16,0,.447,.737,.179,21,43,.512,.900,.452,26,41
3,372,2021-02-11,GSW,ORL,111,105,6,1,.466,.750,.400,29,46,.392,.778,.455,19,49
4,373,2021-02-11,POR,PHI,118,114,4,1,.430,.913,.447,15,47,.488,.828,.222,20,46

In [47]:
<u>off of the schedule I can grab certain things</u>

SyntaxError: invalid syntax (<ipython-input-47-d85dcc8dc324>, line 1)

In [135]:
#import dependencies
import sqlalchemy
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
# postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
#                 .format(username='postgres',
#                         password='postgres',
#                         ipaddress='localhost',
#                         port=5432,
#                         dbname='flask_deploy'))

postgres_str = 'postgres://umydthrhevlwbv:a166611fc4fda747769900bb51cfb8cbd633cebe3ec13fdfc2180772a9d3bc8d@ec2-18-204-101-137.compute-1.amazonaws.com:5432/d9ugm948kmolua'



# Create the connection
engine = create_engine(postgres_str)
cnx = engine.connect()

<u> loading into postgres database</u>

In [38]:
postgres_box_score

,ID,DATE,HOME_ABBR,MARGIN,HOME_TEAM_WINS,VISITOR_ABBR,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,26,1,GSW,125,99,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47
1,2,2020-12-22,LAL,-7,0,LAC,109,116,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40
2,3,2020-12-23,CLE,7,1,CHO,121,114,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32
3,4,2020-12-23,IND,14,1,NYK,121,107,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40
4,5,2020-12-23,ORL,6,1,MIA,113,107,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,364,2021-02-10,MIN,-7,0,LAC,112,119,0.432,0.789,0.366,29,43,0.500,0.862,0.522,23,48
364,365,2021-02-10,CHI,13,1,NOP,129,116,0.593,0.727,0.532,36,35,0.506,0.808,0.361,27,35
365,366,2021-02-10,DEN,38,1,CLE,133,95,0.600,0.714,0.444,31,39,0.383,0.750,0.216,25,49
366,367,2021-02-10,LAL,1,0,OKC,114,113,0.472,0.833,0.286,22,43,0.470,0.857,0.226,32,46
367,368,2021-02-10,PHO,1,0,MIL,125,124,0.529,0.720,0.484,25,47,0.506,0.733,0.432,23,39

In [37]:
box_score_df

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,369,2021-02-11,BOS,TOR,120,106,14,1,.453,.786,.513,30,49,.494,.789,.321,26,32
1,370,2021-02-11,HOU,MIA,94,101,-7,0,.386,.750,.300,24,42,.430,.900,.357,24,49
2,371,2021-02-11,DET,IND,95,111,-16,0,.447,.737,.179,21,43,.512,.900,.452,26,41
3,372,2021-02-11,GSW,ORL,111,105,6,1,.466,.750,.400,29,46,.392,.778,.455,19,49
4,373,2021-02-11,POR,PHI,118,114,4,1,.430,.913,.447,15,47,.488,.828,.222,20,46
5,374,2021-02-12,BOS,DET,102,108,-6,0,.439,.733,.296,15,44,.430,.833,.395,25,44
6,375,2021-02-12,CHO,MIN,120,114,6,1,.489,1.000,.361,20,55,.455,.571,.390,28,40
7,376,2021-02-12,WAS,NYK,91,109,-18,0,.382,.700,.265,20,46,.449,.682,.250,22,65
8,377,2021-02-12,ATL,SAS,114,125,-11,0,.433,.758,.344,22,41,.529,.821,.387,27,46
9,378,2021-02-12,DAL,NOP,143,130,13,1,.580,.762,.556,30,37,.533,.739,.459,31,38
10,379,2021-02-12,CHI,LAC,106,125,-19,0,.471,.933,.375,23,41,.581,.800,.433,20,37
11,380,2021-02-12,DEN,OKC,97,95,2,1,.460,.700,.250,24,41,.404,.765,.313,26,49
12,381,2021-02-12,UTA,MIL,129,115,14,1,.524,.853,.368,22,46,.457,.704,.364,19,33
13,382,2021-02-12,LAL,MEM,115,105,10,1,.506,.697,.200,26,47,.488,.789,.414,31,33
14,383,2021-02-12,POR,CLE,129,110,19,1,.518,.909,.371,16,45,.437,.703,.348,20,41
15,384,2021-02-12,SAC,ORL,112,123,-11,0,.518,.737,.364,33,42,.505,.800,.441,25,42

In [30]:
date_time

'2021-02-14'

In [31]:
box_score_df = box_score_df.loc[box_score_df['DATE'] == date_time]

In [40]:
box_score_df['ID'].tolist()

[369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384]

In [52]:
postgres_box_score = pd.read_sql("""
SELECT * FROM box_score_2021
""", con=engine)

In [53]:
postgres_box_score

,ID,DATE,HOME_ABBR,MARGIN,HOME_TEAM_WINS,VISITOR_ABBR,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,26,1,GSW,125,99,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47
1,2,2020-12-22,LAL,-7,0,LAC,109,116,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40
2,3,2020-12-23,CLE,7,1,CHO,121,114,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32
3,4,2020-12-23,IND,14,1,NYK,121,107,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40
4,5,2020-12-23,ORL,6,1,MIA,113,107,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,380,2021-02-12,DEN,2,1,OKC,97,95,0.460,0.700,0.250,24,41,0.404,0.765,0.313,26,49
380,381,2021-02-12,UTA,14,1,MIL,129,115,0.524,0.853,0.368,22,46,0.457,0.704,0.364,19,33
381,382,2021-02-12,LAL,10,1,MEM,115,105,0.506,0.697,0.200,26,47,0.488,0.789,0.414,31,33
382,383,2021-02-12,POR,19,1,CLE,129,110,0.518,0.909,0.371,16,45,0.437,0.703,0.348,20,41
383,384,2021-02-12,SAC,-11,0,ORL,112,123,0.518,0.737,0.364,33,42,0.505,0.800,0.441,25,42

In [51]:
box_score_df

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,369,2021-02-11,BOS,TOR,120,106,14,1,.453,.786,.513,30,49,.494,.789,.321,26,32
1,370,2021-02-11,HOU,MIA,94,101,-7,0,.386,.750,.300,24,42,.430,.900,.357,24,49
2,371,2021-02-11,DET,IND,95,111,-16,0,.447,.737,.179,21,43,.512,.900,.452,26,41
3,372,2021-02-11,GSW,ORL,111,105,6,1,.466,.750,.400,29,46,.392,.778,.455,19,49
4,373,2021-02-11,POR,PHI,118,114,4,1,.430,.913,.447,15,47,.488,.828,.222,20,46
5,385,2021-02-13,PHO,PHI,120,111,9,1,.608,.824,.400,25,32,.521,.848,.412,19,35
6,386,2021-02-13,ATL,IND,113,125,-12,0,.478,.783,.290,35,38,.506,.852,.387,34,43
7,387,2021-02-13,NYK,HOU,121,99,22,1,.523,.826,.429,21,44,.375,.833,.186,17,46
8,388,2021-02-13,GSW,BRK,117,134,-17,0,.489,.800,.265,25,37,.538,.900,.410,35,45
9,389,2021-02-13,UTA,MIA,112,94,18,1,.459,.759,.261,26,48,.407,.706,.333,24,43

In [136]:
box_score_df.to_sql('box_score_2021', engine, if_exists='append', index=False)

<u> error happened because I had double keys here </u>

In [33]:
box_score_df

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,390,2021-02-14,WAS,BOS,104,91,13,1,.398,.861,.233,24,54,.356,.600,.257,14,50
1,391,2021-02-14,TOR,MIN,112,116,-4,0,.418,.839,.303,24,38,.524,.737,.410,28,40
2,392,2021-02-14,CHO,SAS,110,122,-12,0,.479,.727,.353,23,49,.495,.842,.294,31,43
3,393,2021-02-14,DET,NOP,123,112,11,1,.536,.800,.486,34,37,.444,.821,.257,23,44
4,394,2021-02-14,OKC,MIL,114,109,5,1,.474,.563,.417,32,49,.464,.667,.342,24,47
5,395,2021-02-14,DAL,POR,118,121,-3,0,.494,.960,.341,19,35,.529,.684,.450,15,36
6,396,2021-02-14,PHO,ORL,109,90,19,1,.446,.938,.324,24,59,.371,.818,.171,13,48
7,397,2021-02-14,SAC,MEM,110,124,-14,0,.500,.769,.242,22,33,.532,.789,.429,31,43
8,398,2021-02-14,DEN,LAL,122,105,17,1,.459,.735,.404,28,47,.460,.655,.214,27,46
9,399,2021-02-14,LAC,CLE,128,111,17,1,.477,.861,.433,31,47,.462,.720,.280,25,40

In [14]:
box_score_df.columns

NameError: name 'box_score_df' is not defined

In [45]:
len(box_score_df.columns)

18

In [89]:
box_score_df_main_2.to_csv('box_score_2021_V5.csv', index=False)