### fragment
grabbing and adding names from a dictionary

```python
teams_to_abbreviation
for ind in df.index:
    visitor = df['VISITOR_TEAM_ID'][ind]
    home = df['HOME_TEAM_ID'][ind]
    df['VISITOR_ABBR'][ind] = team_to_abbreviation[visitor]
    df['HOME_ABBR'][ind] = team_to_abbreviation[home]
```

### at the end

```python
grab a for_import_ml 
```

And return it as is for machine_learning

In [ ]:
1. sequence connecting to database

In [62]:
#import dependencies
import sqlalchemy
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
# postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
#                 .format(username='postgres',
#                         password='postgres',
#                         ipaddress='localhost',
#                         port=5432,
#                         dbname='flask_deploy'))

postgres_str = 'postgres://umydthrhevlwbv:a166611fc4fda747769900bb51cfb8cbd633cebe3ec13fdfc2180772a9d3bc8d@ec2-18-204-101-137.compute-1.amazonaws.com:5432/d9ugm948kmolua'



# Create the connection
engine = create_engine(postgres_str)
cnx = engine.connect()

2. reading from database
3. setting the columns straight
4. reading from full_schedule, used for matching purposes
5. make sure that the date types are defined
6. I only want specific dates to be returned when matched
7. the date is the specific day

## <font color="green">df_2</font>
## <font color="green">box_score_2021</font>

In [82]:
df_2 = pd.read_sql("""
SELECT * FROM box_score_2021
""", con=engine)

In [83]:
df_2 = df_2[['ID', 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away']]

In [84]:
from basketball_reference_scraper.seasons import get_schedule, get_standings

schedule_df = get_schedule(2021, playoffs=False)

team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}
schedule_df['MARGIN'] = 0
schedule_df['HOME_ABBR'] = 0
schedule_df['VISITOR_ABBR'] = 0
schedule_df['HOME_TEAM_WINS'] = 0 
schedule_df = schedule_df.fillna(0)
for ind in schedule_df.index: 
    schedule_df['MARGIN'][ind] = schedule_df['HOME_PTS'][ind] - schedule_df['VISITOR_PTS'][ind]
    schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
    schedule_df['HOME'][ind] = schedule_df['HOME'][ind].upper()
    schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
    schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]
    if schedule_df['MARGIN'][ind] > 0: 
        schedule_df['HOME_TEAM_WINS'][ind] = 1
    else:
        schedule_df['HOME_TEAM_WINS'][ind] = 0 
end_a = len(schedule_df) + 1
a_ = list(range(1, end_a))
schedule_df['ID'] = a_
schedule_df = schedule_df[['ID','DATE', 'VISITOR', 'VISITOR_PTS', 'HOME', 'HOME_PTS', 'MARGIN',
       'HOME_ABBR', 'VISITOR_ABBR', 'HOME_TEAM_WINS']]

<ipython-input-84-87606ea6ec4a>:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['MARGIN'][ind] = schedule_df['HOME_PTS'][ind] - schedule_df['VISITOR_PTS'][ind]
<ipython-input-84-87606ea6ec4a>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
<ipython-input-84-87606ea6ec4a>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME'][ind] = schedule_df['HOME'][ind].upper()
<ipython-input-84-87606ea6ec4a>:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
<ipython-input-84-87606ea6ec4a>:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]
<ipython-input-84-87606ea6ec4a>:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_TEAM_WINS'][ind] = 1
<ipython-input-84-87606ea6ec4a>:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule_df['HOME_TEAM_WINS'][ind] = 0

## <font color="green">full_schedule</font>

In [85]:
full_schedule = schedule_df.copy()

In [86]:
df_2['DATE'] = pd.to_datetime(df_2['DATE'])  
full_schedule['DATE'] = pd.to_datetime(full_schedule['DATE'])
#necessary to have this here.

In [87]:
import time
from datetime import datetime, date, time, timedelta
today = date.today()
date_time = today.strftime('%Y-%m-%d')
date_time

'2021-02-22'

In [88]:
full_schedule = full_schedule.loc[full_schedule['DATE'] == date_time]

In [89]:
full_schedule = full_schedule.reset_index(drop=True)

In [90]:
for ind in full_schedule.index:
    empty_ = []
    len_of_d2 = len(df_2)
    count = len(df_2) + 1
    empty_.append(count)
    empty_.append(full_schedule['DATE'][ind])
    empty_.append(full_schedule['HOME_ABBR'][ind])
    empty_.append(full_schedule['VISITOR_ABBR'][ind])
    empty_.append(0)
    #4
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
#     df_2.loc[count - 1] = empty_
#     count = count + 1
    df_2.loc[len_of_d2] = empty_

In [91]:
df_2.tail(15)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
425,426,2021-02-19,CLE,DEN,103,120,-17,0,0.470,0.619,0.387,30,34,0.575,0.765,0.484,24,37
426,427,2021-02-19,ORL,GSW,124,120,4,1,0.489,0.824,0.419,30,51,0.474,0.600,0.452,37,45
427,428,2021-02-19,BOS,ATL,121,109,12,1,0.556,0.700,0.400,26,44,0.422,0.920,0.333,21,41
428,429,2021-02-19,PHI,CHI,112,105,7,1,0.471,0.793,0.333,23,53,0.421,1.000,0.219,24,42
429,430,2021-02-19,MEM,DET,109,95,14,1,0.467,0.870,0.250,20,49,0.419,0.692,0.311,27,45
430,431,2021-02-19,MIL,OKC,98,85,13,1,0.407,0.680,0.324,23,61,0.365,0.524,0.300,20,46
431,432,2021-02-19,NOP,PHO,114,132,-18,0,0.512,0.792,0.344,28,37,0.580,0.667,0.564,38,37
432,433,2021-02-19,MIN,TOR,81,86,-5,0,0.386,0.727,0.237,24,43,0.329,0.818,0.300,16,51
433,434,2021-02-19,LAC,UTA,116,112,4,1,0.483,0.909,0.333,22,45,0.477,0.857,0.353,13,38
434,435,2021-02-22,HOU,CHI,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
435,436,2021-02-22,DAL,MEM,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
436,437,2021-02-22,OKC,MIA,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
437,438,2021-02-22,PHO,POR,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
438,439,2021-02-22,UTA,CHO,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
439,440,2021-02-22,LAL,WAS,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0

TUTORIAL

```python
#already rean so read this
#run this to include abbreviations
for ind in sample_df.index:
    visitor = sample_df['VISITOR_TEAM_ID'][ind]
    home = sample_df['HOME_TEAM_ID'][ind]
    sample_df['VISITOR_ABBR'][ind] = team_to_abbreviation[visitor]
    sample_df['HOME_ABBR'][ind] = team_to_abbreviation[home]
```

Tutorial, how to make a normalized list for plotting:

```python

margin_list = calculated_df2['margin'].tolist()
max(margin_list)
11.594047619047627
norm = [float(i)/max(margin_list) for i in margin_list]
calculated_df2['normMargin'] = norm
```


TUTORIAL
```python

df_2.loc[df_2['PTS_home'] != 0]
```

## <font color="green">for_import_ml_df</font>
## <font color="green">empty import ml</font>

In [97]:
for_import_ml_df_columns = ['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'SUM_MARGIN', 'PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away', 'HOME_TEAM_WINS', 'TRUE_MARGIN']
for_import_ml_df= pd.DataFrame(columns=for_import_ml_df_columns)
#initialize empty dataframe

## <font color="green">df_into_season</font>
## <font color="green">df_2 copy</font>

In [93]:
df_into_season = df_2.copy()
df_into_season['DATE'] = pd.to_datetime(df_into_season['DATE'])

In [94]:
# for future troubleshooting
for ind in df_into_season.head(60).index:
    date = df_into_season['DATE'][ind]
    home_team_abbr = df_into_season['HOME_ABBR'][ind]
    visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
    home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
    mask = (df_into_season['DATE'] < date)
    new_ = df_into_season.loc[mask]

In [27]:
# for future troubleshooting
for ind in df_into_season.head(78).index:
    if ind > 77:
        
        date = df_into_season['DATE'][ind]
        home_team_abbr = df_into_season['HOME_ABBR'][ind]
        visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
        home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
        mask = (df_into_season['DATE'] < date)
        new_ = df_into_season.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    
        home_df2_groupby = home_df2.groupby(['HOME_ABBR']).mean().reset_index()

        home_as_visitor_df2_groupby = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()

    
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
        
#might consider later in the weighted average
        visitor_df2_groupby_df = visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()
    
        visitor_as_home_df2_groupby_df = visitor_as_home_df2.groupby(['HOME_ABBR']).mean().reset_index()

In [33]:
# for future troubleshooting
visitor_as_home_df2_groupby_df

,HOME_ABBR,ID,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,MIA,198.642857,106.857143,108.5,-1.642857,0.5,0.469929,0.780214,0.3865,25.571429,40.928571,0.437214,0.797929,0.373286,24.357143,44.214286

In [71]:
# for future troubleshooting
for ind in df_into_season.index:
    if ind > 77:
        
        date = df_into_season['DATE'][ind]
        home_team_abbr = df_into_season['HOME_ABBR'][ind]
        visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
        home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
        mask = (df_into_season['DATE'] < date)
        new_ = df_into_season.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    
        home_df2_groupby_df = home_df2.groupby(['HOME_ABBR']).mean().reset_index()

        home_as_visitor_df2_groupby_df = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()

    
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
        
#might consider later in the weighted average
        visitor_df2_groupby_df = visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()
    
        visitor_as_home_df2_groupby_df = visitor_as_home_df2.groupby(['HOME_ABBR']).mean().reset_index()
        home_pts = 0.75 * home_df2_groupby_df.loc[0]['PTS_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['PTS_away']
        home_fg3_pct = 0.75 * home_df2_groupby_df.loc[0]['FG3_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG3_PCT_away']
        home_ast = 0.75 * home_df2_groupby_df.loc[0]['AST_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['AST_away']
        home_reb = 0.75 * home_df2_groupby_df.loc[0]['REB_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['REB_away']
        home_fg_pct = 0.75 * home_df2_groupby_df.loc[0]['FG_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG_PCT_home']
        home_ft_pct = 0.75 * home_df2_groupby_df.loc[0]['FT_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FT_PCT_home'] 
        visitor_pts = 0.75 * visitor_df2_groupby_df.loc[0]['PTS_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['PTS_home']
    
        visitor_fg3_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG3_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG3_PCT_away']
        visitor_ast = 0.75 * visitor_df2_groupby_df.loc[0]['AST_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['AST_home']
        visitor_reb = 0.75 * visitor_df2_groupby_df.loc[0]['REB_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['REB_home']
        visitor_fg_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG_PCT_home']
        visitor_ft_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FT_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FT_PCT_home']

In [22]:
df_into_season

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,GSW,125,99,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47
1,2,2020-12-22,LAL,LAC,109,116,-7,0,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40
2,3,2020-12-23,CLE,CHO,121,114,7,1,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32
3,4,2020-12-23,IND,NYK,121,107,14,1,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40
4,5,2020-12-23,ORL,MIA,113,107,6,1,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,436,2021-02-22,DAL,MEM,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
436,437,2021-02-22,OKC,MIA,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
437,438,2021-02-22,PHO,POR,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
438,439,2021-02-22,UTA,CHO,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
439,440,2021-02-22,LAL,WAS,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0

In [98]:
for ind in df_into_season.index:
    if ind > 77:
        
        date = df_into_season['DATE'][ind]
        home_team_abbr = df_into_season['HOME_ABBR'][ind]
        visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
        home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
        true_margin = df_into_season['MARGIN'][ind]
        mask = (df_into_season['DATE'] < date)
        new_ = df_into_season.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr].tail(5)
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr].tail(5)
    
        home_df2_groupby_df = home_df2.groupby(['HOME_ABBR']).mean().reset_index()

        home_as_visitor_df2_groupby_df = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()

    
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr].tail(5)
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr].tail(5)
        
#might consider later in the weighted average
        visitor_df2_groupby_df = visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()
    
        visitor_as_home_df2_groupby_df = visitor_as_home_df2.groupby(['HOME_ABBR']).mean().reset_index()
        home_pts = 0.75 * home_df2_groupby_df.loc[0]['PTS_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['PTS_away']
        home_fg3_pct = 0.75 * home_df2_groupby_df.loc[0]['FG3_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG3_PCT_away']
        home_ast = 0.75 * home_df2_groupby_df.loc[0]['AST_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['AST_away']
        home_reb = 0.75 * home_df2_groupby_df.loc[0]['REB_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['REB_away']
        home_fg_pct = 0.75 * home_df2_groupby_df.loc[0]['FG_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG_PCT_home']
        home_ft_pct = 0.75 * home_df2_groupby_df.loc[0]['FT_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FT_PCT_home'] 
        visitor_pts = 0.75 * visitor_df2_groupby_df.loc[0]['PTS_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['PTS_home']
    
        visitor_fg3_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG3_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG3_PCT_away']
        visitor_ast = 0.75 * visitor_df2_groupby_df.loc[0]['AST_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['AST_home']
        visitor_reb = 0.75 * visitor_df2_groupby_df.loc[0]['REB_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['REB_home']
        visitor_fg_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG_PCT_home']
        visitor_ft_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FT_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FT_PCT_home']
        margin = home_pts - visitor_pts
        empty_ = []
        empty_.append(date)
        empty_.append(home_team_abbr)
        empty_.append(visitor_team_abbr)
        empty_.append(margin)
        empty_.append(home_pts)
        empty_.append(visitor_pts)
        empty_.append(home_fg_pct)
        empty_.append(home_ft_pct)
        empty_.append(home_fg3_pct)
        empty_.append(home_ast)
        empty_.append(home_reb)
        empty_.append(visitor_fg_pct)
        empty_.append(visitor_ft_pct)
        empty_.append(visitor_fg3_pct)
        empty_.append(visitor_ast)
        empty_.append(visitor_reb)
        empty_.append(home_team_wins)
        empty_.append(true_margin)
        length_of_average_playoffs_df = len(for_import_ml_df)
        for_import_ml_df.loc[length_of_average_playoffs_df] = empty_

In [99]:
for_import_ml_df.tail(10)

,DATE,HOME_ABBR,VISITOR_ABBR,SUM_MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,TRUE_MARGIN
352,2021-02-19,MIL,OKC,12.65,120.15,107.50,0.48860,0.74020,0.39040,28.40,48.25,0.43980,0.77230,0.34580,25.40,47.20,1,13
353,2021-02-19,NOP,PHO,11.45,121.40,109.95,0.49405,0.78010,0.41010,27.10,46.40,0.47960,0.81275,0.34845,24.85,42.90,0,-18
354,2021-02-19,MIN,TOR,-7.90,110.85,118.75,0.44220,0.80725,0.38535,27.25,39.75,0.49520,0.84355,0.41935,25.90,40.00,0,-5
355,2021-02-19,LAC,UTA,-1.50,116.80,118.30,0.48080,0.80400,0.41615,24.35,45.35,0.46800,0.82480,0.40060,23.85,47.80,1,4
356,2021-02-22,HOU,CHI,-11.55,103.40,114.95,0.43830,0.79480,0.29600,20.05,42.80,0.47650,0.83365,0.35485,27.35,45.30,0,0
357,2021-02-22,DAL,MEM,7.25,124.65,117.40,0.49945,0.83445,0.39435,25.85,41.20,0.49000,0.83170,0.42030,29.70,42.15,0,0
358,2021-02-22,OKC,MIA,-1.10,107.65,108.75,0.46235,0.73640,0.34625,25.35,46.70,0.45910,0.81635,0.33860,27.10,44.60,0,0
359,2021-02-22,PHO,POR,0.80,117.65,116.85,0.51765,0.83270,0.40740,26.15,42.35,0.46675,0.74765,0.40180,19.10,44.00,0,0
360,2021-02-22,UTA,CHO,5.95,121.05,115.10,0.47235,0.83275,0.36720,22.80,44.60,0.47025,0.76790,0.39880,25.40,44.35,0,0
361,2021-02-22,LAL,WAS,8.30,112.75,104.45,0.48745,0.77755,0.30260,25.15,44.55,0.41135,0.79075,0.30495,23.25,45.35,0,0

In [73]:
date_time

'2021-02-20'

In [81]:
for_import_ml_df.loc[363]

DATE              2021-01-02 00:00:00
HOME_ABBR                         ORL
VISITOR_ABBR                      OKC
SUM_MARGIN                      1.125
PTS_home                      107.542
PTS_away                      106.417
FG_PCT_home                  0.430917
FT_PCT_home                   0.73575
FG3_PCT_home                 0.313708
AST_home                      20.8333
REB_home                      45.4583
FG_PCT_away                  0.452417
FT_PCT_away                     0.727
FG3_PCT_away                 0.295167
AST_away                      24.1667
REB_away                      50.8333
HOME_TEAM_WINS                      0
TRUE_MARGIN                        -9
Name: 363, dtype: object

In [100]:
for_import_ml_df

,DATE,HOME_ABBR,VISITOR_ABBR,SUM_MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,TRUE_MARGIN
0,2021-01-02,IND,NYK,18.687500,117.312500,98.625000,0.467562,0.794125,0.334937,28.375000,43.562500,0.429125,0.733750,0.335375,23.000000,46.875000,0,-4
1,2021-01-02,ORL,OKC,1.125000,107.541667,106.416667,0.430917,0.735750,0.313708,20.833333,45.458333,0.452417,0.727000,0.295167,24.166667,50.833333,0,-9
2,2021-01-02,PHI,CHO,-6.041667,106.458333,112.500000,0.424500,0.810375,0.298500,21.708333,49.541667,0.483917,0.660292,0.385125,29.208333,42.500000,1,15
3,2021-01-02,ATL,CLE,15.104167,127.312500,112.208333,0.475938,0.864250,0.454625,28.625000,46.375000,0.469333,0.627708,0.462125,26.375000,46.750000,0,-5
4,2021-01-02,NOP,TOR,-3.375000,99.125000,102.500000,0.396562,0.721500,0.232500,16.812500,53.562500,0.409875,0.779250,0.345875,25.750000,45.875000,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2021-02-22,DAL,MEM,7.250000,124.650000,117.400000,0.499450,0.834450,0.394350,25.850000,41.200000,0.490000,0.831700,0.420300,29.700000,42.150000,0,0
358,2021-02-22,OKC,MIA,-1.100000,107.650000,108.750000,0.462350,0.736400,0.346250,25.350000,46.700000,0.459100,0.816350,0.338600,27.100000,44.600000,0,0
359,2021-02-22,PHO,POR,0.800000,117.650000,116.850000,0.517650,0.832700,0.407400,26.150000,42.350000,0.466750,0.747650,0.401800,19.100000,44.000000,0,0
360,2021-02-22,UTA,CHO,5.950000,121.050000,115.100000,0.472350,0.832750,0.367200,22.800000,44.600000,0.470250,0.767900,0.398800,25.400000,44.350000,0,0
361,2021-02-22,LAL,WAS,8.300000,112.750000,104.450000,0.487450,0.777550,0.302600,25.150000,44.550000,0.411350,0.790750,0.304950,23.250000,45.350000,0,0

In [101]:
date_time

'2021-02-22'

In [103]:
for_import_ml_df = for_import_ml_df.loc[for_import_ml_df['DATE'] != date_time]
# take away today's datetime because somehow corrupts obtaining the winning_percentage

In [105]:
empty_home_winning_percentage = []
empty_away_winning_percentage = []
home_team_wins = 0
home_team_loss = 0
away_team_wins = 0
away_team_loss = 0
for ind in for_import_ml_df.index:
    if ind > 77:
        home_team_wins = 0
        home_team_loss = 0
        away_team_wins = 0
        away_team_loss = 0
        date = for_import_ml_df['DATE'][ind]
        date_str = date.strftime('%Y-%m-%d')
        home_team_abbr = for_import_ml_df['HOME_ABBR'][ind]
        visitor_team_abbr = for_import_ml_df['VISITOR_ABBR'][ind]
        home_team_wins = for_import_ml_df['HOME_TEAM_WINS'][ind]
        mask = (for_import_ml_df['DATE'] < date)
        new_ = for_import_ml_df.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
        for ind in home_df2.index:
            home_team_wins_home_df2 = home_df2['HOME_TEAM_WINS'][ind]
            if home_team_wins_home_df2 == 1:
                home_team_wins = home_team_wins + 1
            else:
                home_team_loss = home_team_loss + 1
        for ind in home_as_visitor_df2.index:
            home_team_wins_visitor_df2 = home_as_visitor_df2['HOME_TEAM_WINS'][ind]
            if home_team_wins_visitor_df2 == 0:
                home_team_wins = home_team_wins + 1
            else:
                home_team_loss = home_team_loss + 1
    
        for ind in visitor_df2.index:
            home_team_wins_visitor_df2 = visitor_df2['HOME_TEAM_WINS'][ind]
#     print(visitor_df2['HOME_TEAM_WINS'][ind])
            if home_team_wins_visitor_df2 == 0:
                away_team_wins = away_team_wins + 1
            else:
                away_team_loss = away_team_loss + 1
        for ind in visitor_as_home_df2.index:
            home_team_wins_visitor_as_home_df2 = visitor_as_home_df2['HOME_TEAM_WINS'][ind]
            if home_team_wins_visitor_as_home_df2 == 1:
                away_team_wins = away_team_wins + 1
            else:
                away_team_loss = away_team_loss + 1            
        total_home_team_games = home_team_wins + home_team_loss
        total_away_team_games = away_team_wins + away_team_loss
        home_winning_percentage = home_team_wins / total_home_team_games
        away_winning_percentage = away_team_wins / total_away_team_games
        empty_home_winning_percentage.append(home_winning_percentage)
        empty_away_winning_percentage.append(away_winning_percentage)

In [107]:
import numpy as np
length_beg_arr = len(df_into_season) - len(empty_away_winning_percentage)
arr = np.arange(78)
arr[:] = 0.0 
arr = arr.tolist()
empty_away_winning_percentage = arr + empty_away_winning_percentage
empty_home_winning_percentage = arr + empty_home_winning_percentage

In [108]:
for_import_ml_df['home_winning_percentage'] = empty_home_winning_percentage
for_import_ml_df['visitor_winning_percentage'] = empty_away_winning_percentage

<ipython-input-108-a5f1c4bc08cb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for_import_ml_df['home_winning_percentage'] = empty_home_winning_percentage
<ipython-input-108-a5f1c4bc08cb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for_import_ml_df['visitor_winning_percentage'] = empty_away_winning_percentage

In [109]:
# create dataframe with respective columns
# turn this into a dictionary to add to the rows that have 0.0 for winning_percentage
team_abbr = df_into_season['HOME_ABBR'].unique()
team_abbr = team_abbr.tolist()
team_abbr_df = pd.DataFrame(team_abbr)
team_abbr_df.rename(columns={0:'team_abbr'}, inplace=True)
team_abbr_df['winning_percentage'] = 0.0

In [110]:
team_winning_dict = dict(zip(team_abbr_df['team_abbr'], team_abbr_df['winning_percentage']))

In [111]:
for ind in for_import_ml_df.index:
    abbr = for_import_ml_df['HOME_ABBR'][ind]
    if for_import_ml_df['home_winning_percentage'][ind] > 0:
        winning_percentage = for_import_ml_df['home_winning_percentage'][ind]
        team_winning_dict[abbr] = winning_percentage

In [112]:
for ind in for_import_ml_df.index:
    home_abbr = for_import_ml_df['HOME_ABBR'][ind]
    away_abbr = for_import_ml_df['VISITOR_ABBR'][ind]
    if for_import_ml_df['home_winning_percentage'][ind] == 0:
        for_import_ml_df['home_winning_percentage'][ind] = team_winning_dict[home_abbr].item()
        for_import_ml_df['visitor_winning_percentage'][ind] = team_winning_dict[away_abbr].item()

<ipython-input-112-1a222ba34645>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for_import_ml_df['home_winning_percentage'][ind] = team_winning_dict[home_abbr].item()
/Users/stanleytan/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-112-1a222ba34645>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for_import_ml_df['visitor_winning_percentage'][ind] = team_winning_dict[away_abbr].item()

In [114]:
for_import_ml_df.tail(10)

,DATE,HOME_ABBR,VISITOR_ABBR,SUM_MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,TRUE_MARGIN,home_winning_percentage,visitor_winning_percentage
346,2021-02-18,SAC,MIA,8.25,115.65,107.40,0.47920,0.76140,0.35130,26.90,41.65,0.45400,0.81635,0.34130,25.45,44.45,0,-8,0.428571,0.391304
347,2021-02-19,CLE,DEN,-5.95,105.10,111.05,0.47730,0.76515,0.34220,22.85,41.20,0.47800,0.80680,0.35160,24.95,41.10,0,-17,0.291667,0.608696
348,2021-02-19,ORL,GSW,-13.25,103.85,117.10,0.44165,0.84680,0.35275,22.30,47.85,0.47885,0.78135,0.39690,28.50,45.00,1,4,0.320000,0.583333
349,2021-02-19,BOS,ATL,-8.15,107.45,115.60,0.46580,0.81270,0.35850,22.55,42.50,0.47590,0.81925,0.35230,22.80,40.10,1,12,0.521739,0.391304
350,2021-02-19,PHI,CHI,-1.10,115.65,116.75,0.49880,0.79515,0.37445,22.65,43.80,0.48925,0.79270,0.36400,28.55,46.05,1,7,0.640000,0.476190
351,2021-02-19,MEM,DET,7.80,116.50,108.70,0.47680,0.77345,0.40570,29.10,41.55,0.44810,0.80375,0.32905,22.95,41.60,1,14,0.550000,0.304348
352,2021-02-19,MIL,OKC,12.65,120.15,107.50,0.48860,0.74020,0.39040,28.40,48.25,0.43980,0.77230,0.34580,25.40,47.20,1,13,0.625000,0.458333
353,2021-02-19,NOP,PHO,11.45,121.40,109.95,0.49405,0.78010,0.41010,27.10,46.40,0.47960,0.81275,0.34845,24.85,42.90,0,-18,0.391304,0.523810
354,2021-02-19,MIN,TOR,-7.90,110.85,118.75,0.44220,0.80725,0.38535,27.25,39.75,0.49520,0.84355,0.41935,25.90,40.00,0,-5,0.208333,0.520000
355,2021-02-19,LAC,UTA,-1.50,116.80,118.30,0.48080,0.80400,0.41615,24.35,45.35,0.46800,0.82480,0.40060,23.85,47.80,1,4,0.720000,0.875000

In [115]:
for_import_ml_df.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'SUM_MARGIN', 'PTS_home',
       'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS', 'TRUE_MARGIN', 'home_winning_percentage',
       'visitor_winning_percentage'],
      dtype='object')

In [116]:
end_a = len(for_import_ml_df) + 1
a_ = list(range(1, end_a))
for_import_ml_df['ID'] = a_

<ipython-input-116-17f760d606cf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for_import_ml_df['ID'] = a_

In [117]:
for_import_ml_df = for_import_ml_df[['ID', 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'SUM_MARGIN', 'PTS_home',
       'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS', 'TRUE_MARGIN', 'home_winning_percentage',
       'visitor_winning_percentage']]

In [118]:
for_import_ml_df

,ID,DATE,HOME_ABBR,VISITOR_ABBR,SUM_MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,TRUE_MARGIN,home_winning_percentage,visitor_winning_percentage
0,1,2021-01-02,IND,NYK,18.687500,117.312500,98.625000,0.467562,0.794125,0.334937,...,43.562500,0.429125,0.733750,0.335375,23.000000,46.875000,0,-4,0.454545,0.500000
1,2,2021-01-02,ORL,OKC,1.125000,107.541667,106.416667,0.430917,0.735750,0.313708,...,45.458333,0.452417,0.727000,0.295167,24.166667,50.833333,0,-9,0.320000,0.500000
2,3,2021-01-02,PHI,CHO,-6.041667,106.458333,112.500000,0.424500,0.810375,0.298500,...,49.541667,0.483917,0.660292,0.385125,29.208333,42.500000,1,15,0.640000,0.500000
3,4,2021-01-02,ATL,CLE,15.104167,127.312500,112.208333,0.475938,0.864250,0.454625,...,46.375000,0.469333,0.627708,0.462125,26.375000,46.750000,0,-5,0.400000,0.291667
4,5,2021-01-02,NOP,TOR,-3.375000,99.125000,102.500000,0.396562,0.721500,0.232500,...,53.562500,0.409875,0.779250,0.345875,25.750000,45.875000,1,4,0.391304,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,352,2021-02-19,MEM,DET,7.800000,116.500000,108.700000,0.476800,0.773450,0.405700,...,41.550000,0.448100,0.803750,0.329050,22.950000,41.600000,1,14,0.550000,0.304348
352,353,2021-02-19,MIL,OKC,12.650000,120.150000,107.500000,0.488600,0.740200,0.390400,...,48.250000,0.439800,0.772300,0.345800,25.400000,47.200000,1,13,0.625000,0.458333
353,354,2021-02-19,NOP,PHO,11.450000,121.400000,109.950000,0.494050,0.780100,0.410100,...,46.400000,0.479600,0.812750,0.348450,24.850000,42.900000,0,-18,0.391304,0.523810
354,355,2021-02-19,MIN,TOR,-7.900000,110.850000,118.750000,0.442200,0.807250,0.385350,...,39.750000,0.495200,0.843550,0.419350,25.900000,40.000000,0,-5,0.208333,0.520000
355,356,2021-02-19,LAC,UTA,-1.500000,116.800000,118.300000,0.480800,0.804000,0.416150,...,45.350000,0.468000,0.824800,0.400600,23.850000,47.800000,1,4,0.720000,0.875000

In [119]:
for_import_ml_df.to_sql('all_for_ml_test', engine, if_exists='replace', index=False)

In [120]:
with engine.connect() as con:
    con.execute('ALTER TABLE all_for_ml_test ADD PRIMARY KEY ("ID");')

In [ ]:
#https://stackoverflow.com/questions/30867390/python-pandas-to-sql-how-to-create-a-table-with-a-primary-key.. hmm