In [1]:
team_to_abbreviation = {
    "ATLANTA HAWKS" : "ATL",
    "ST. LOUIS HAWKS" : "SLH",
    "MILWAUKEE HAWKS" : "MIL",
    "TRI-CITIES BLACKHAWKS" : "TCB",
    "BOSTON CELTICS" : "BOS",
    "BROOKLYN NETS" : "BRK",
    "NEW JERSEY NETS" : "NJN",
    "CHICAGO BULLS" : "CHI",
    "CHARLOTTE HORNETS": "CHO",
    "CHARLOTTE BOBCATS" : "CHA",
    "CLEVELAND CAVALIERS": "CLE",
    "DALLAS MAVERICKS" : "DAL",
    "DENVER NUGGETS" : "DEN",
    "DETROIT PISTONS" : "DET",
    "FORT WAYNE PISTONS" : "FWP",
    "GOLDEN STATE WARRIORS" : "GSW",
    "SAN FRANCISCO WARRIORS" : "SFW",
    "PHILADELPHIA WARRIORS" : "PHI",
    "HOUSTON ROCKETS" : "HOU",
    "INDIANA PACERS" : "IND",
    "LOS ANGELES CLIPPERS" : "LAC",
    "SAN DIEGO CLIPPERS" : "SDC",
    "BUFFALO BRAVES" : "BUF",
    "LOS ANGELES LAKERS" : "LAL",
    "MINNEAPOLIS LAKERS" : "MIN",
    "MEMPHIS GRIZZLIES" : "MEM",
    "VANCOUVER GRIZZLIES" : 'VAN',
    "MIAMI HEAT" : "MIA",
    "MILWAUKEE BUCKS" : "MIL",
    "MINNESOTA TIMBERWOLVES" : "MIN",
    "NEW ORLEANS PELICANS" : "NOP",
    "NEW ORLEANS/OKLAHOMA CITY HORNETS" : "NOK",
    "NEW ORLEANS HORNETS" : "NOH",
    "NEW YORK KNICKS" : "NYK",
    "OKLAHOMA CITY THUNDER" : "OKC",
    "SEATTLE SUPERSONICS" : "SEA",
    "ORLANDO MAGIC" : "ORL",
    "PHILADELPHIA 76ERS" : "PHI",
    "SYRACUSE NATIONALS" : "SYR",
    "PHOENIX SUNS" : "PHO",
    "PORTLAND TRAIL BLAZERS" : "POR",
    "SACRAMENTO KINGS" : "SAC",
    "KANSAS CITY KINGS" : "KCK",
    "KANSAS CITY-OMAHA KINGS" : "KCK",
    "CINCINNATI ROYALS" : "CIN",
    "ROCHESTER ROYALS" : "ROR",
    "SAN ANTONIO SPURS" : "SAS",
    "TORONTO RAPTORS" : "TOR",
    "UTAH JAZZ" : "UTA",
    "NEW ORLEANS JAZZ" : "NOJ",
    "WASHINGTON WIZARDS" : "WAS",
    "WASHINGTON BULLETS" : "WAS",
    "CAPITAL BULLETS" : "CAP",
    "BALTIMORE BULLETS" : "BAL",
    "CHICAGO ZEPHYRS" : "CHI",
    "CHICAGO PACKERS" : "CHI",
    "ANDERSON PACKERS" : "AND",
    "CHICAGO STAGS" : "CHI",
    "INDIANAPOLIS OLYMPIANS" : "IND",
    "SHEBOYGAN RED SKINS" : "SRS",
    "ST. LOUIS BOMBERS" : "SLB",
    "WASHINGTON CAPITOLS" : "WAS",
    "WATERLOO HAWKS" : "WAT"
}

In [2]:
import pandas as pd
df = pd.read_csv('standings.csv', names=['Teams', 'Winning_PCT'])

TUTORIAL

```python
for ind in schedule_df.index: 
    schedule_df['MARGIN'][ind] = schedule_df['HOME_PTS'][ind] - schedule_df['VISITOR_PTS'][ind]
    schedule_df['VISITOR'][ind] = schedule_df['VISITOR'][ind].upper()
    schedule_df['HOME'][ind] = schedule_df['HOME'][ind].upper()
    schedule_df['HOME_ABBR'][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
    schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]
```

In [3]:
df['HOME_ABBR'] = 0

In [4]:
for ind in df.index:
    df['Teams'][ind] = df['Teams'][ind].upper()
    df['HOME_ABBR'][ind] = team_to_abbreviation[df['Teams'][ind]]

<ipython-input-4-8c8bab9e3fc3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Teams'][ind] = df['Teams'][ind].upper()
<ipython-input-4-8c8bab9e3fc3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HOME_ABBR'][ind] = team_to_abbreviation[df['Teams'][ind]]
/Users/stanleytan/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [5]:
df

                     Teams  Winning_PCT HOME_ABBR
0       PHILADELPHIA 76ERS        0.708       PHI
1          MILWAUKEE BUCKS        0.667       MIL
2            BROOKLYN NETS        0.560       BRK
3           BOSTON CELTICS        0.545       BOS
4           INDIANA PACERS        0.500       IND
5        CHARLOTTE HORNETS        0.480       CHO
6            ATLANTA HAWKS        0.478       ATL
7          TORONTO RAPTORS        0.458       TOR
8          NEW YORK KNICKS        0.440       NYK
9      CLEVELAND CAVALIERS        0.400       CLE
10              MIAMI HEAT        0.391       MIA
11           CHICAGO BULLS        0.391       CHI
12           ORLANDO MAGIC        0.375       ORL
13      WASHINGTON WIZARDS        0.286       WAS
14         DETROIT PISTONS        0.217       DET
15               UTAH JAZZ        0.792       UTA
16      LOS ANGELES LAKERS        0.760       LAL
17    LOS ANGELES CLIPPERS        0.680       LAC
18            PHOENIX SUNS        0.609       PHO
19       SAN ANTONIO SPURS        0.583       SAS
20  PORTLAND TRAIL BLAZERS        0.545       POR
21          DENVER NUGGETS        0.522       DEN
22        SACRAMENTO KINGS        0.522       SAC
23   GOLDEN STATE WARRIORS        0.500       GSW
24         HOUSTON ROCKETS        0.478       HOU
25       MEMPHIS GRIZZLIES        0.474       MEM
26    NEW ORLEANS PELICANS        0.455       NOP
27        DALLAS MAVERICKS        0.440       DAL
28   OKLAHOMA CITY THUNDER        0.435       OKC
29  MINNESOTA TIMBERWOLVES        0.250       MIN

In [6]:
df = df[['HOME_ABBR', 'Winning_PCT']]

In [7]:
df

   HOME_ABBR  Winning_PCT
0        PHI        0.708
1        MIL        0.667
2        BRK        0.560
3        BOS        0.545
4        IND        0.500
5        CHO        0.480
6        ATL        0.478
7        TOR        0.458
8        NYK        0.440
9        CLE        0.400
10       MIA        0.391
11       CHI        0.391
12       ORL        0.375
13       WAS        0.286
14       DET        0.217
15       UTA        0.792
16       LAL        0.760
17       LAC        0.680
18       PHO        0.609
19       SAS        0.583
20       POR        0.545
21       DEN        0.522
22       SAC        0.522
23       GSW        0.500
24       HOU        0.478
25       MEM        0.474
26       NOP        0.455
27       DAL        0.440
28       OKC        0.435
29       MIN        0.250

In [8]:
df = df.set_index('HOME_ABBR').T.to_dict('record')

In [10]:
df[0]

{'PHI': 0.708,
 'MIL': 0.667,
 'BRK': 0.56,
 'BOS': 0.545,
 'IND': 0.5,
 'CHO': 0.48,
 'ATL': 0.478,
 'TOR': 0.45799999999999996,
 'NYK': 0.44,
 'CLE': 0.4,
 'MIA': 0.391,
 'CHI': 0.391,
 'ORL': 0.375,
 'WAS': 0.28600000000000003,
 'DET': 0.217,
 'UTA': 0.792,
 'LAL': 0.76,
 'LAC': 0.68,
 'PHO': 0.609,
 'SAS': 0.583,
 'POR': 0.545,
 'DEN': 0.522,
 'SAC': 0.522,
 'GSW': 0.5,
 'HOU': 0.478,
 'MEM': 0.474,
 'NOP': 0.455,
 'DAL': 0.44,
 'OKC': 0.435,
 'MIN': 0.25}

TUTORIAL

```python
for ind in schedule_df.index: 
    schedule_df[''][ind] = team_to_abbreviation[schedule_df['HOME'][ind]]
    schedule_df['VISITOR_ABBR'][ind] = team_to_abbreviation[schedule_df['VISITOR'][ind]]
   ```

In [22]:
df.to_dict('records')

[{'HOME_ABBR': 'PHI', 'Winning_PCT': 0.708},
 {'HOME_ABBR': 'MIL', 'Winning_PCT': 0.667},
 {'HOME_ABBR': 'BRK', 'Winning_PCT': 0.56},
 {'HOME_ABBR': 'BOS', 'Winning_PCT': 0.545},
 {'HOME_ABBR': 'IND', 'Winning_PCT': 0.5},
 {'HOME_ABBR': 'CHO', 'Winning_PCT': 0.48},
 {'HOME_ABBR': 'ATL', 'Winning_PCT': 0.478},
 {'HOME_ABBR': 'TOR', 'Winning_PCT': 0.45799999999999996},
 {'HOME_ABBR': 'NYK', 'Winning_PCT': 0.44},
 {'HOME_ABBR': 'CLE', 'Winning_PCT': 0.4},
 {'HOME_ABBR': 'MIA', 'Winning_PCT': 0.391},
 {'HOME_ABBR': 'CHI', 'Winning_PCT': 0.391},
 {'HOME_ABBR': 'ORL', 'Winning_PCT': 0.375},
 {'HOME_ABBR': 'WAS', 'Winning_PCT': 0.28600000000000003},
 {'HOME_ABBR': 'DET', 'Winning_PCT': 0.217},
 {'HOME_ABBR': 'UTA', 'Winning_PCT': 0.792},
 {'HOME_ABBR': 'LAL', 'Winning_PCT': 0.76},
 {'HOME_ABBR': 'LAC', 'Winning_PCT': 0.68},
 {'HOME_ABBR': 'PHO', 'Winning_PCT': 0.609},
 {'HOME_ABBR': 'SAS', 'Winning_PCT': 0.583},
 {'HOME_ABBR': 'POR', 'Winning_PCT': 0.545},
 {'HOME_ABBR': 'DEN', 'Winning_PCT': 0.522},
 {'HOME_ABBR': 'SAC', 'Winning_PCT': 0.522},
 {'HOME_ABBR': 'GSW', 'Winning_PCT': 0.5},
 {'HOME_ABBR': 'HOU', 'Winning_PCT': 0.478},
 {'HOME_ABBR': 'MEM', 'Winning_PCT': 0.474},
 {'HOME_ABBR': 'NOP', 'Winning_PCT': 0.455},
 {'HOME_ABBR': 'DAL', 'Winning_PCT': 0.44},
 {'HOME_ABBR': 'OKC', 'Winning_PCT': 0.435},
 {'HOME_ABBR': 'MIN', 'Winning_PCT': 0.25}]

In [15]:
for ind in df.index:
    print(df['Teams'][ind])

PHILADELPHIA 76ERS
Milwaukee Bucks
Brooklyn Nets
Boston Celtics
Indiana Pacers
Charlotte Hornets
Atlanta Hawks
Toronto Raptors
New York Knicks
Cleveland Cavaliers
Miami Heat
Chicago Bulls
Orlando Magic
Washington Wizards
Detroit Pistons
Utah Jazz
Los Angeles Lakers
Los Angeles Clippers
Phoenix Suns
San Antonio Spurs
Portland Trail Blazers
Denver Nuggets
Sacramento Kings
Golden State Warriors
Houston Rockets
Memphis Grizzlies
New Orleans Pelicans
Dallas Mavericks
Oklahoma City Thunder
Minnesota Timberwolves